{{ define "main" }}

<section>
    <div class="auto-container pt-5">
        <div class="row clearfix">

            <div class="col-12 sec-title text-center">
                <h4>{{ .Params.description }}</h4>
                <div class="text">
                </div>
              </div>

            {{ range .Pages }}

            <div class="col-12">
                <!-- News block Two -->
                <div class="news-block-two">
                    <div class="inner-box">
                        


                        <div class="upper-box">
                            <div class="media">
                                {{ if .Params.icon }} <i class="mr-4 display-3 d-flex flex-column align-self-center flaticon-{{ .Params.icon }}"></i> {{ end }}
                                <div class="media-body">
                                    <h5 class="mt-0">{{ .Title }}</h5>
                                    <p>{{ .Content }}</p>
                                    <a target="_blank" href="{{ .Site.Params.mailchimp_contact_form }}" class="float-right mr-3"><span class="txt">Contact Us</span></a>
                                    {{ if .Params.custom_link }}
                                    <a target="_blank" href="{{ .Params.custom_link }}" class="float-right mr-3"><span class="txt">{{ .Params.custom_link_name }}</span></a>
                                    {{ end }}
                                    {{ if .Params.custom_link2 }}
                                    <a target="_blank" href="{{ .Params.custom_link2 }}" class="float-right mr-3"><span class="txt">{{ .Params.custom_link_name2 }}</span></a>
                                    {{ end }}
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ end }}
        </div>
    </div>
</section>

{{ end }}