<section class="healthcare-problem">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-xl-6 healthcare-problem__left">
        <div class="healthcare-problem__visual">
          <img src="{{ .Params.visual.src }}" alt="{{ .Params.visual.alt }}" class="healthcare-problem__visual-img" />
        </div>
        <div class="healthcare-problem__header">
          <h2 class="healthcare-problem__title">{{ .Params.title }}</h2>
          {{ with .Params.subtitle }}
            <p class="healthcare-problem__subtitle">{{ . }}</p>
          {{ end }}
        </div>
      </div>
      <div class="col-12 col-xl-6 healthcare-problem__right">
        <div class="healthcare-problem__grid">
          {{ range .Params.problems }}
            <div class="healthcare-problem__card">
              <div class="healthcare-problem__card-icon">
                <img src="{{ .icon.src }}" alt="{{ .icon.alt }}" />
              </div>
              <p class="healthcare-problem__card-text">{{ .text }}</p>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
