ul.breadcrumbs,
.breadcrumbs {
  display: flex;
  margin-bottom: 30px;
  position: relative;
  color: var(--brand-dark-gray);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  &__crumb,
  & > li.breadcrumbs__crumb {
    display: inline-block;
    margin: 0;
    position: relative;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
    }

    & > a {
      color: var(--brand-dark-gray);

      &:hover {
        color: var(--brand-primary);
      }
    }
  }
}
