/* copy button for documentation */

/* ##bem */

.copy-code {
	position: absolute;
	right: 8px;
	top: 8px;
}

.copy-code__btn {
	padding: 4px;
	background: var(--brand-light);
	i {
		color: var(--brand-secondary);
	}
}

.copy-code__btn:hover {
	background: white;
}

.copy-code__btn_light {
	color: white;
}

.copy-code__btn_light:hover {
	background: transparent;
}
