//developer portal styles
@use "../helpers/functions" as lib;
@use "../variables" as v;

.developer {
  &_list-h1 {
    line-height: 1.1;
    font-size: v.$developer-h1-font-size;
  }

  &__card-btn {
    display: flex;
    justify-items: stretch;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: lib.rem(255);
    }
  }
}