/***

====================================================================
	Optimized Section
====================================================================

***/

.optimized-section{
  position:relative;
  padding:90px 0 40px;
}

.optimized-section .content-column{
  position:relative;
  margin-bottom:40px;
}

.optimized-section .content-column .inner-column{
  position:relative;
  padding-top:95px;
}

.optimized-section .image-column{
  position:relative;
}

.optimized-section .image-column .inner-column{
  position:relative;
  padding-left:35px;
  text-align:center;
}

.optimized-section .image-column .image{
  position:relative;
}
