/***

====================================================================
	Page Title
====================================================================

***/
.page-title {
  padding: 40px 0;
  position: relative;
  background: var(--brand-light);
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    padding: 139px 0 50px;
  }

  &__title {
    margin-bottom: 16px;
    position: relative;
    color: var(--brand-gray);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;

    &_dark {
      color: var(--brand-secondary);
    }
  }

  &__subtitle {
    color: var(--brand-secondary);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
  }
}