@use '../variables' as var;
@use '../mixins/mixins' as mixins;

$blog-font-family: var.$blog-font-family;
$blog-text-color: var.$blog-text-color;

.qdrant-blog {
  font-family: $blog-font-family;

  &__subheader {
    margin-bottom: 1.5rem;
    color: var(--neutral-n-800, #102252);
    @include mixins.blog-font-styles(2.5rem, 700, 3rem, $blog-text-color);

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &__search {
    position: relative;
    margin-bottom: 2.5rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 3rem;
    }

    & > input {
      width: 100%;
      height: 3rem;
      padding: 0.625rem 1.5rem;
      padding-right: 4rem;
      border-radius: 6.25rem;
      border: 1px solid var(--neutral-n-200, #AEBDE5);

      &::placeholder {
        color: var(--neutral-n-300, #8B9CCC);
        @include mixins.blog-font-styles(1rem, 400, 1.5rem, $blog-text-color);
      }
    }

    & > button {
      position: absolute;
      top: 50%;
      right: 1.5rem;
      transform: translateY(-50%);
      background: transparent;
    }
  }

  &__featured {
    min-height: 33rem;
    margin-bottom: 3.17rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 5rem;
    }
  }
}

.qb-hero {
  margin-top: -5.25rem;
  padding-top: 5.25rem;
  padding-bottom: 2.5rem;
  background: var(--neutral-n-50, #F2F6FF);

  &__breadcrumbs {
    padding-top: 1.5rem;
    @include media-breakpoint-up(md) {
      padding-top: 2.5rem;
    }
    & > .breadcrumbs {
      margin-bottom: 1rem;
      @include media-breakpoint-up(md) {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__header {
    display: inline-block;
    @include mixins.blog-font-styles(2.5rem, 700, 3rem, $blog-text-color);
    font-size: 2.5rem !important; // because of responsive.scss
    margin-bottom: 2.5rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 3.94rem;
      font-size: 4.5rem !important; // because of responsive.scss
      line-height: 5.375rem;
    }
  }
}

.qb-card {
  display: block;
  transition: all 0.3s ease-in-out;
  margin-bottom: 3.17rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 5rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &__img {
    margin-bottom: 1.58rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    color: var(--neutral-n-800, #102252);
    @include mixins.blog-font-styles(1.5rem, 700, 2rem, $blog-text-color);
    margin-bottom: 0.79rem;
  }

  &__text {
    overflow: hidden;
    color: var(--neutral-n-700, #1F3266);
    text-overflow: ellipsis;
    white-space: nowrap;

    @include mixins.blog-font-styles(1rem, 400, 1.5rem, $blog-text-color);
    margin-bottom: 0.79rem;
  }

  &__meta {
    color: var(--neutral-n-500, #4B6A9B);
    @include mixins.blog-font-styles(0.875rem, 400, 1.25rem, $blog-text-color);
  }

  &__meta-divider {
    margin: 0 0.53rem;
  }

  &:hover {
    // todo: think about adding some nice transform
    .qb-card__title {
      color: var(--brand-primary, #DC244C);
    }
  }

  &_border-bottom {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--neutral-n-200, #AEBDE5);
  }
}

.qb-post {
  padding-bottom: 4rem;

  @include media-breakpoint-up(md) {
    padding-bottom: 10rem;
  }

  &__title {
    display: inline-block;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--neutral-n-800, #102252);
    @include mixins.blog-font-styles(2rem, 700, 2.5rem, $blog-text-color);

    @include media-breakpoint-up(md) {
      font-size: 3.5rem;
      line-height: 4rem;
    }
  }

  &__img {
    margin-bottom: 2.5rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 4rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__meta {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    color: var(--neutral-n-600, #39508F);

    @include mixins.blog-font-styles(0.875rem, 400, 1.3125rem, $blog-text-color);
  }

  &__meta-divider {
    margin: 0 0.53rem;
  }

  &__share {
  }

  &__content {
    flex: 1 0 0;
    color: var(--neutral-n-700, #1F3266);

    @include mixins.blog-font-styles(1.125rem, 400, 1.6875rem, $blog-text-color);

    a {
      color: var(--Primary, #DC244C);
      text-decoration: underline;
    }
  }
}

.qb-share {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 2.5rem;

  @include media-breakpoint-up(md) {
    flex-direction: column;
    justify-content: start;
    margin-left: 1.9rem;
    margin-right: 5rem;
  }

  &__title {
    display: inline-block;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--Primary, #DC244C);

    @include mixins.blog-font-styles(1.125rem, 600, 1.6875rem, $blog-text-color);

    @include media-breakpoint-up(md) {
      margin-bottom: 1.5rem;
    }
  }

  &__buttons {
    display: flex;

    @include media-breakpoint-up(md) {
      width: 3rem;
      flex-direction: column;
      align-items: center;
    }
  }

  &__link {
    display: inline-block;

    &:not(:first-of-type) {
      margin-left: 2rem;

      @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-top: 2rem;
      }
    }
  }
}

.qb-related {
  border-top: 1px solid var(--neutral-n-200, #AEBDE5);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  &__title-outer {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;
    }
  }

  &__title {
    color: var(--neutral-n-800, #102252);

    @include mixins.blog-font-styles(2rem, 700, 2.5rem, $blog-text-color);
  }

  &__link {
    display: flex;
    align-items: center;
    color: var(--neutral-n-700, #1F3266);

    @include mixins.blog-font-styles(1rem, 600, 1.5rem, $blog-text-color);

    & > i {
      display: flex;
      margin-left: 1rem;
      width: 0.875rem;
      height: 0.875rem;
      padding: 0.1875rem 0.0625rem;
      justify-content: center;
      align-items: center;
    }
  }
}