/***

====================================================================
	Scroll To Top style
====================================================================

***/

.scroll-to-top{
  position:fixed;
  bottom:15px;
  right:15px;
  width:60px;
  height:60px;
  color:#ffffff;
  font-size:24px;
  text-transform:uppercase;
  line-height:60px;
  text-align:center;
  z-index:100;
  cursor:pointer;
  background:#0a0a0a;
  display:none;
  /* -webkit-transition:all 300ms ease; */
  /* -ms-transition:all 300ms ease; */
  /* -o-transition:all 300ms ease; */
  /* -moz-transition:all 300ms ease; */
  /* transition:all 300ms ease;		 */
}

.scroll-to-top:hover{
  color:#ffffff;
  background:var(--brand-primary);
}
