@use "sass:color";
@use "checkbox";

.steps-form {
  $form-font-size: 1.4rem;

  justify-content: center;
  height: 90vh;
  background-color: var(--brand-secondary);

  &__spinner {
    align-self: center;
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 35%;
    left: calc(50% - 4rem);
    border-top-color: var(--brand-primary);
    border-bottom-color: var(--brand-primary);
    border-left-color: var(--brand-primary);
  }

  &__form {
    align-self: center;

    &.was-validated .form-control:invalid:focus,
    .form-control.is-invalid:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__input {
    padding-right: 0;
    padding-left: 0;
    color: white;
    border: 0;
    border-bottom: 1px solid var(--light);
    border-radius: 0;
    background-color: var(--brand-secondary);
    font-size: $form-font-size;

    &:focus {
      color: white;
      border: 0;
      border-bottom: 1px solid var(--white);
      outline: none;
      background: inherit;
      box-shadow: none;
    }

  }

  &__label {
    margin-bottom: 2rem;
    color: white;
    font-size: $form-font-size;

    &_big {
      font-size: $form-font-size + 0.4rem;
      line-height: 1.5;
    }
  }

  label a {
    text-decoration: underline;
    color: inherit;
    font-size: inherit;
    transition: 0.25s ease all;

    &:hover {
      color: var(--brand-primary);
      text-decoration: none;
    }
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
  }

  .btn[disabled],
  {
    display: none;
  }
}


