.tableOfContent {
  top: 0;
  right: 0;

  &__header {
    margin-bottom: 0.8rem;
    line-height: 1;
    margin-left: -5px;
  }

  & a {
    line-height: 2.2;
    color: var(--brand-secondary);

    &:hover {
      color: var(--brand-primary);
      text-decoration: underline;
    }
  }
}
