@use "../helpers/functions" as lib;

.tableOfContent {
  top: 10px;
  right: 0;
  font-size: lib.rem(14);

  &__header {
    font-size: 1rem;
    margin-bottom: lib.rem(13);
    margin-left: -5px;
  }

  & ul {
    margin: 0;
    padding: 0;
  }

  & ul li {
    list-style: none;
    line-height: lib.rem(18);
    margin: 0;

    &:not(nav > ul  > li) {
      list-style: '';
      padding-left: 1rem;
    }
  }

  & a {
    display: inline-block;
    padding: 6px 0;
  }

  & a {
    color: var(--brand-secondary);

    &:hover {
      color: var(--brand-primary);
      text-decoration: underline;
    }
  }
}
