.tableOfContent {
  top: 10px;
  right: 0;
  font-size: 13px;

  &__header {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    margin-left: -5px;
  }

  & ul {
    margin: 0;
  }

  & ul li {
    padding-left: 0;
    list-style: none;
    line-height: 1.3;
    margin: 0;
    &:not(nav > ul  > li) {
      list-style: '';
      margin-left: 0.5rem;
    }
  }

  & nav > ul > li {
    margin-bottom: 0.5rem;
  }

  & a {
    display: block;
    line-height: 2.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--brand-secondary);

    &:hover {
      color: var(--brand-primary);
      text-decoration: underline;
    }
  }
}
