/***

====================================================================
	Business Section Two
====================================================================

***/

.business-section-two {
  padding: 0 0 70px;
  position: relative;

  .sec-title {
    margin-bottom: 80px;
  }

  .inner-container {
    position: relative;
  }

  .tab-btns {
    display: none;
    align-items: center;
    flex-direction: column;
    width: 14px;
    margin-left: 50px;
    margin-top: -200px;
    position: relative;

    @include media-breakpoint-up(lg) {
      display: flex;
      margin-left: 100px;
    }

    .tab-btn {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin: 7px 0;
      cursor: pointer;
      border-radius: 50%;
      background: var(--brand-mid-grey);

      &:hover {
        background: var(--brand-gray);
      }
    }

    .tab-btn.is-active {
      background: var(--brand-gray);
    }
  }


  .business-info-tabs {
    display: flex;
  }

  .business-tabs {
    display: flex;
    width: 100%;
    position: relative;

    .tabs-content {
      width: 100%;
      position: relative;

      .tab {
        display: block;
        position: relative;

        @include media-breakpoint-up(lg) {
          cursor: crosshair;
        }
      }

      .content {
        max-width: 1030px;
        position: relative;
      }
    }

    .content {
      display: flex;
      height: 618px;

      .content-column {
        display: flex;
        align-items: stretch;
        width: 100%;
        position: relative;

        @include media-breakpoint-up(lg) {
          width: unset;
        }

        .inner-column {
          padding-bottom: 450px;
          position: relative;

          @include media-breakpoint-up(lg) {
            width: 560px;
            padding-bottom: 54px;
          }
        }

        h5 {
          margin-bottom: 5px;
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
        }

        p {
          margin-bottom: 25px;
          position: relative;
          color: var(--brand-dark-gray);
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
        }

        .business-list {
          margin-bottom: 35px;
          position: relative;

          li {
            min-height: 50px;
            margin-bottom: 18px;
            padding-left: 70px;
            position: relative;
            color: #2b2a41;
            font-size: 14px;
            font-weight: 600;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .tab-content-btns {
        position: absolute;
        bottom: 0;
      }

      .theme-btn {
        margin-top: 22px;
        border-radius: 50px;
      }

      .image-column {
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 150px;
        left: 0;

        @include media-breakpoint-up(lg) {
          width: 360px;
          margin-top: 38px;
          padding-left: 40px;
          top: 0;
          left: unset;
        }

        @include media-breakpoint-up(xl) {
          width: 416px;
        }

        .image {
          @include media-breakpoint-up(md) {
            max-width: 300px;
          }
          @include media-breakpoint-up(lg) {
            max-width: 100%;
          }
        }
      }
    }
  }
}
