/***

====================================================================
	Business Section Two
====================================================================

***/

.business-section-two {
  padding: 0 0 70px;
  position: relative;

  .sec-title {
    margin-bottom: 80px;
  }

  .pattern-layer {
    width: 402px;
    height: 566px;
    position: absolute;
    top: -180px;
    right: 0;
    background-repeat: no-repeat;
  }

  .pattern-layer-two {
    width: 1850px;
    height: 897px;
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
  }

  .inner-container {
    position: relative;
  }

  .business-tabs {
    display: flex;
    position: relative;

    .tab-btns {
      display: none;
      align-items: center;
      flex-direction: column;
      margin-top: 156px;
      margin-left: 100px;
      position: relative;

      @include media-breakpoint-up(lg) {
        display: flex;
      }

      .tab-btn {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 7px 0;
        cursor: pointer;
        border-radius: 50%;
        background: var(--brand-mid-grey);

        &:hover {
          background: var(--brand-gray);
        }
      }

      .tab-btn.active-btn {
        background: var(--brand-gray);
      }
    }

    .tabs-content {
      width: 100%;
      position: relative;

      .tab {
        display: block;
        position: relative;
        transform: none;
        @include media-breakpoint-up(lg) {
          display: none;
          transform: rotateY(90deg);
        }
      }

      .tab.active-tab {
        display: block;
        transform: rotateY(0deg);
      }

      .content {
        max-width: 1030px;
        position: relative;
      }
    }

    .content {
      display: flex;
      min-height: 618px;

      .content-column {
        display: flex;
        align-items: stretch;
        width: 100%;
        position: relative;

        @include media-breakpoint-up(lg) {
          width: unset;
        }

        .inner-column {
          padding-bottom: 450px;
          position: relative;

          @include media-breakpoint-up(lg) {
            width: 645px;
            padding-bottom: 54px;
          }
        }

        h5 {
          margin-bottom: 5px;
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
        }

        p {
          margin-bottom: 25px;
          position: relative;
          color: var(--brand-dark-gray);
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
        }

        .business-list {
          margin-bottom: 35px;
          position: relative;

          li {
            min-height: 50px;
            margin-bottom: 18px;
            padding-left: 70px;
            position: relative;
            color: #2b2a41;
            font-size: 14px;
            font-weight: 600;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .tab-content-btns {
        position: absolute;
        bottom: 0;
      }

      .theme-btn {
        margin-top: 22px;
        border-radius: 50px;
      }

      .image-column {
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 150px;
        left: 0;

        @include media-breakpoint-up(lg) {
          width: 330px;
          margin-top: 38px;
          padding-left: 40px;
          top: 0;
          right: -31px;
          left: unset;
        }

        @include media-breakpoint-up(xl) {
          width: 416px;
        }

        .image {
          @include media-breakpoint-up(md) {
            max-width: 300px;
          }
          @include media-breakpoint-up(lg) {
            max-width: 100%;
          }
        }
      }
    }
  }
}
