/* Block of code on the home page */

/* #bem */

@import url("colors.css");
.hero-code {
  display: inline-block;
  padding: 1rem 4.45rem 1rem 1.6rem;
  margin-bottom: 1rem;
  background: #f6f8fa;
  background: var(--brand-secondary);
  border-radius: 5px;
  font-family: "Anonymous Pro", monospace;
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;

  @media (max-width: 1140px) {
    background: var(--gray);
  }

  @include media-breakpoint-up(sm) {
    padding-right: 3.5rem;
  }

  &__text {
    color: white;
    white-space: pre-wrap;
  }

  &__btn {
    position: absolute;
    top: 15px;
    right: 1rem;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: var(--brand-primary);
    color: var(--white);
    border-radius: 50%;

    @include media-breakpoint-up(sm) {
      width: 80px;
      height: 80px;
      right: -30px;
      top: -40%;
    }
  }
}
