/* Block of code on the home page */

/* #bem */

@import url("colors.css");
.hero-code {
	display: inline-block;
	padding: 1rem 3rem 1rem 1.6rem;
	margin-bottom: 1rem;
	background: #f6f8fa;
	background: var(--brand-secondary);
	border-radius: 5px;
	font-family: "Anonymous Pro", monospace;
	font-size: 1.6rem;
	position: relative;
}

.hero-code__text {
	color: white;
}

.hero-code__btn {
	position: absolute;
	top: 15px;
	right: 1rem;
}

@media (max-width: 1140px) {
	.hero-code {
		background: var(--gray);
		padding-right: 3rem;
	}
}
