.steps-form {
  height: 90vh;
  background-color: var(--brand-secondary);
  justify-content: center;

  &__form {
    align-self: center;

    &.was-validated .form-control:invalid:focus,
    .form-control.is-invalid:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &__input {
    background-color: var(--brand-secondary);
    border: 0;
    border-bottom: 1px solid var(--light);
    font-size: 1.4rem;
    color: white;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;

    &:focus {
      box-shadow: none;
      background: inherit;
      border: 0;
      border-bottom: 1px solid var(--white);
      outline: none;
      color: white;
    }

  }

  &__label {
    font-size: 1.4rem;
    color: white;
    margin-bottom: 2rem;
  }

  .owl-stage {
    display: flex;
    align-items: center;
  }
}


