.steps-form {
  justify-content: center;
  height: 90vh;
  background-color: var(--brand-secondary);

  &__form {
    align-self: center;

    &.was-validated .form-control:invalid:focus,
    .form-control.is-invalid:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &__input {
    padding-right: 0;
    padding-left: 0;
    color: white;
    border: 0;
    border-bottom: 1px solid var(--light);
    border-radius: 0;
    background-color: var(--brand-secondary);
    font-size: 1.4rem;

    &:focus {
      color: white;
      border: 0;
      border-bottom: 1px solid var(--white);
      outline: none;
      background: inherit;
      box-shadow: none;
    }

  }

  &__label {
    margin-bottom: 2rem;
    color: white;
    font-size: 1.4rem;
  }

  .owl-stage {
    display: flex;
    align-items: center;
  }

  .owl-nav {
    display: flex;
    justify-content: space-between;
  }
}


