{{ partial "header" . }}

<style>
  #mc_embed_signup input.mce_inline_error {
    border-color:#5C0A1C;
  }
  #mc_embed_signup div.mce_inline_error {
    padding: 5px 10px;
    font-weight: bold;
    z-index: 1;
    background-color: transparent;
    color:var(--brand-primary);
  }
  #mce-success-response {
    padding-bottom: 25px;
    color: green;
    font-size: 140%;
  }
  #mce-error-response {
    padding-bottom: 25px;
    color: red;
  }
</style>

<section class="price-page-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="title-column col-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title centered">
                        <h2>Boost <span>Your Business</span> with Qdrant Solutions</h2>
                        <div class="text"><h4>Enhance your product with Similarity Search</h4>

                            <p><small>Build your MVP on an Open Source stack, or run scale-ready products in the cloud. Choose the right plan for your project.
                            </small></p>

                            <a class="theme-btn btn-style-four btn-style-four_rounded btn-style-four_reversed btn-style-four_big mt-4" href="/solutions/">
                                <span class="txt">What can I use Qdrant for?</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix" id="price-offers">

            <!-- Price Block -->
            <div class="price-block col-lg-4 col-md-6 col-sm-12 mb-5 pb-5">
                <div class="inner-box">
                    <div class="title">Community</div>
                    <div class="content-box">
                        <div class="price-box">
                            <span class="icon flaticon-skyline"></span> Free
                            <span class="price-title">Apache-2.0 license</span>
                        </div>
                        <div class="text">Build your AI-based applications using our leading open-source vector search technology.
                        </div>
                        <a href="/documentation/quick-start/" class="theme-btn btn-style-five btn-small w-100">
                            <span class="txt">Quick Start</span>
                        </a>
                        <ul class="price-list">
                            <li>Open Source & Free Forever</li>
                            <li>Self-Hosted</li>
                            <li>Full-Featured</li>
                            <li>Organized Community Support</li>
                            <li>Learning Resources & Docs</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Price Block -->
            <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="title">Managed Cloud</div>
                    <div class="content-box">
                        <div class="price-box">
                            <span class="icon flaticon-skyline"></span> Starting from $25
                            <span class="price-title">Per node/month billed hourly</span>
                        </div>
                        <div class="text">Scale your production solutions without deployment and upkeep. <a href="https://cloud.qdrant.io/calculator">Calculate your usage here.</a>
                        </div>
                        <a href="{{ .Site.Params.cloud }}" class="theme-btn btn-style-five btn-small w-100">
                            <span class="txt">Try for Free</span>
                        </a>
                        <ul class="price-list">
                            <li>
                                Free Tier Available
                                <a class="a" role="note" tabindex="0"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-trigger="focus" title="Free Trial Cluster"
                                data-content="We will include a free 1GB cluster for you to try out.">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </li>
                            <li>
                                Convenient User Interface
                                <a class="a" role="note" tabindex="0"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-trigger="focus" title="User Interface"
                                data-content="Setup your cluster and deploy to the cloud in a few clicks.">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </li>
                            <li>
                                Fully Managed & Monitored
                                <a class="a" role="note" tabindex="0"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-trigger="focus" title="Managed & Monitored by Us"
                                data-content="Use our admin & billing interface as well as complete monitoring, logging & metrics support.">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </li>
                            <li>
                                High Availability & Performance
                                <a class="a" role="note" tabindex="0"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-trigger="focus" title="Vertical Scaling"
                                data-content="Resizing options starting at 2GB RAM, all the way to 64 (or more) GB.">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </li>
                            <li>
                                Expert Technical Support
                                <a class="a" role="note" tabindex="0"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-trigger="focus" title="Expert Support"
                                data-content="Direct communication via Discord or Slack channels.">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </li>

                            
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Price Block -->
            <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="title">Enterprise</div>
                    <div class="content-box">
                        <div class="price-box">
                            <span class="icon flaticon-skyline"></span> Price on Request
                            <span class="price-title"> Priced per managed cluster</span>
                        </div>
                        <div class="text">We take care of your on-premise deployments to achieve the best possible performance and accuracy.
                        </div>
                        <a href="{{ .Site.Params.mailchimp_contact_form }}" class="theme-btn btn-style-five btn-small w-100">
                            <span class="txt">Contact Us</span>
                        </a>
                        <ul class="price-list">
                            <li>Performance & Deployment
                                <a class="a" role="note" tabindex="0"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-trigger="focus" title="Performance & Deployment"
                                data-content="We'll design a fault tolerant architecture that provides maximum performance for search and online updates.">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </li>
                            <li>On-Demand Horizontal Scaling 
                                <a class="a" role="note" tabindex="0"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-trigger="focus" title="Horizontal Scaling Support"
                                data-content="We offer extensive optimization strategies and scaling support.">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </li>
                            <li>
                                Neural Network Fine-Tuning
                                <a class="a" role="note" tabindex="0"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-trigger="focus" title="Fine-Tuning"
                                data-content="We will analyze your data and offer improvements to your model training process. Or even train the model for you.">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </li>
                            <li>
                                Migration and Monitoring
                                <a class="a" role="note" tabindex="0"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-trigger="focus" title="Migration and Monitoring"
                                data-content="Ensure zero-downtime for model and service updates. Set up advanced performance monitoring.">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </li>
                            <li>
                                Dedicated Technical Support
                                <a class="a" role="note" tabindex="0"
                                data-container="body" data-toggle="popover" data-placement="right"
                                data-trigger="focus" title="Dedicated Support"
                                data-content="Dedicated Discord or Slack channel with an assigned Support Specialist.">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Pricing Page Section -->
{{ partial "contact-section" . }}
{{ partial "footer" . }}
