@use 'sass:math';
@use '../../helpers/functions' as *;

.healthcare-problem {
  padding-top: $spacer * 5;
  padding-bottom: $spacer * 5;
  background-color: $neutral-94;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $spacer * 3;
  }

  &__visual {
    max-width: pxToRem(540);
    margin-bottom: $spacer * 2;
  }

  &__visual-img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__header {
    text-align: center;
    max-width: pxToRem(459);
  }

  &__title {
    margin: 0 0 $spacer;
    font-size: pxToRem(32);
    line-height: 1.2;
    color: $neutral-20;
    letter-spacing: -0.5px;
  }

  &__subtitle {
    margin: 0;
    font-size: pxToRem(20);
    line-height: 1.3;
    color: $neutral-20;
    font-weight: 600;
  }

  &__right {
    display: flex;
    justify-content: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacer;
    max-width: pxToRem(538);
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: $spacer;
    padding: $spacer * 1.5;
    background-color: $neutral-98;
    border: 1px solid $neutral-90;
    border-radius: pxToRem(8);
  }

  &__card-icon {
    width: pxToRem(24);
    height: pxToRem(24);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__card-text {
    margin: 0;
    font-size: pxToRem(18);
    line-height: 1.5;
    color: $neutral-20;
  }

  @include media-breakpoint-up(md) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    &__card {
      height: pxToRem(223);
    }

    &__card:nth-child(3) {
      height: auto;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__left {
      margin-bottom: 0;
    }

    &__title {
      font-size: pxToRem(40);
    }

    &__subtitle {
      font-size: pxToRem(24);
    }
  }
}
