@use 'sass:math';
@use '../../helpers/functions' as *;

.healthcare-problem {
  padding-top: $spacer * 5;
  padding-bottom: $spacer * 5;
  background-color: $neutral-94;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $spacer * 3;
  }

  &__visual {
    position: relative;
    width: pxToRem(540);
    height: pxToRem(240);
    max-width: 100%;
    margin-bottom: $spacer * 2;
  }

  &__circles {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: pxToRem(540);
    height: pxToRem(240);
    overflow: hidden;
  }

  &__circular-1 {
    position: absolute;
    top: 0;
    left: pxToRem(3.5);
    width: pxToRem(533);
    height: pxToRem(533);
  }

  &__circular-2 {
    position: absolute;
    top: pxToRem(72.47);
    left: pxToRem(75.97);
    width: pxToRem(388);
    height: pxToRem(388);
  }

  &__circular-3 {
    position: absolute;
    top: pxToRem(144.94);
    left: pxToRem(148.44);
    width: pxToRem(243);
    height: pxToRem(243);
  }

  &__floating-icons {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: pxToRem(540);
    height: pxToRem(240);
    pointer-events: none;
  }

  &__floating-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $neutral-98;
    border-radius: pxToRem(9);
    box-shadow: 0 pxToRem(4.675) pxToRem(40.325) rgba($neutral-70, 0.25);

    img {
      width: 60%;
      height: 60%;
    }
  }

  &__icon-alert {
    top: pxToRem(107.54);
    left: pxToRem(232.6);
    width: pxToRem(75);
    height: pxToRem(75);
  }

  &__icon-file {
    top: pxToRem(144.94);
    left: pxToRem(88.83);
    width: pxToRem(47);
    height: pxToRem(47);
  }

  &__icon-image {
    top: pxToRem(53.77);
    left: pxToRem(129.74);
    width: pxToRem(37);
    height: pxToRem(37);
  }

  &__icon-speech {
    top: pxToRem(80.65);
    left: pxToRem(384.55);
    width: pxToRem(37);
    height: pxToRem(37);
  }

  &__icon-hourglass {
    top: pxToRem(156.63);
    left: pxToRem(421.95);
    width: pxToRem(47);
    height: pxToRem(47);
  }

  &__header {
    text-align: center;
    max-width: pxToRem(459);
  }

  &__title {
    margin: 0 0 $spacer;
    font-size: pxToRem(32);
    line-height: 1.2;
    color: $neutral-20;
    letter-spacing: -0.5px;
  }

  &__subtitle {
    margin: 0;
    font-size: pxToRem(20);
    line-height: 1.3;
    color: $neutral-20;
    font-weight: 600;
  }

  &__right {
    display: flex;
    justify-content: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacer;
    max-width: pxToRem(538);
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: $spacer;
    padding: $spacer * 1.5;
    background-color: $neutral-98;
    border: 1px solid $neutral-90;
    border-radius: pxToRem(8);
  }

  &__card-icon {
    width: pxToRem(24);
    height: pxToRem(24);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__card-text {
    margin: 0;
    font-size: pxToRem(18);
    line-height: 1.5;
    color: $neutral-20;
  }

  @include media-breakpoint-up(md) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    &__card {
      height: pxToRem(223);
    }

    &__card:nth-child(3) {
      height: auto;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__left {
      margin-bottom: 0;
    }

    &__title {
      font-size: pxToRem(40);
    }

    &__subtitle {
      font-size: pxToRem(24);
    }
  }
}
