{{ partial "header" . }}
<style>
  .main-header {
    background: var(--brand-secondary);
  }
  .main-header .main-menu .navigation__item a.navigation__link {
    color: white;
  }
  .main-header .main-menu .btn.btn_in-header {
    box-shadow: inset 0 0 0 1px white !important;
  }
  .main-header .main-menu .btn.btn_in-header:hover {
    box-shadow: inset 0 0 0 1px white !important;
  }

  .main-header .main-menu .btn.btn_in-header:before {
    box-shadow: inset 0 0 0 1px var(--brand-primary) !important;
  }
</style>

<section class="container-fluid clearfix pt-lg-3 pt-lg-5">
    <!-- Content Side -->
    {{ partial "steps-form" . }}
</section>
{{ partial "footer" . }}
