@use '../../helpers/functions' as *;

.vsd-agenda {
  padding-top: pxToRem(30);
  padding-bottom: pxToRem(30);
  background-color: $neutral-10;
  text-align: center;
  position: relative;
  overflow: hidden;
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: pxToRem(375);
    background-image: url('/img/blurred/blurred-light-30.svg');
    background-position: bottom;
    background-size: cover;
    z-index: 1;
  }

  &__title {
    margin-bottom: $spacer;
    font-size: $h5-font-size;
    line-height: pxToRem(42);
    text-align: center;
    color: $neutral-98;
    position: relative;
  }
  
  &__description {
    margin-bottom: $spacer * 3;
    font-size: $font-size-md;
    line-height: $spacer * 1.5;
    color: #ABB1C7;
    position: relative;
  }
  
  &__cards {
    display: grid;
    gap: $spacer * 0.5;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a a"
      "b c"
      "d e";
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: pxToRem(-40);
      width: 108%;
      aspect-ratio: 9 / 5;
      background-image: url('/img/square-grid-mobile.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.8;
    }
  }
  
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacer * 2;
    min-height: pxToRem(153);
    padding: $spacer * 1.5;
    border-radius: $spacer * 0.5;
    border: pxToRem(1) solid transparent;
    background:
      linear-gradient($neutral-30, #141b2e) padding-box,
      linear-gradient($neutral-40, $neutral-10) border-box;
    position: relative;
    
    &-content {
      margin-bottom: 0;
      font-size: $font-size-md;
      line-height: $line-height-sm;
      color: #ABB1C7;
      font-family: $font-family-monospace;
      text-transform: uppercase;
      
      br {
        display: none;
      }
    }
    
    &-title {
      margin-bottom: 0;
      font-size: $spacer * 5;
      line-height: pxToRem(84);
      color: #CAD0E5;
      font-variation-settings: "wdth" 75, "wght" 600;
      text-transform: uppercase;
    }
    
    &-button {
      position: relative;
      z-index: 1;
    }
    
    &:first-child{
      grid-area: a;
      min-height: pxToRem(314);
      padding: $spacer * 2;
    }
    
    &:nth-child(2){ 
      grid-area: b; 
    }
    
    &:nth-child(3) { 
      grid-area: c;
    }
    
    &:nth-child(4){ 
      grid-area: d;
    }
    
    &:last-of-type{ 
      grid-area: e;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 5;

    &__overlay {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: pxToRem(1440);
      height: pxToRem(443);
      background-image: url('/img/square-grid.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.8;
    }

    &__title {
      margin-bottom: $spacer * 2.5;
      font-size: $h4-font-size;
      line-height: $spacer * 3;
    }

    &__description {
      font-size: $font-size-l;
      line-height: $line-height-lg;
    }

    &__cards {
      display: grid;
      gap: $spacer * 0.5;
      grid-template-columns: 48fr 26fr 26fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "a b c"
        "a d e";

      &:before {
        display: none;
      }
    }

    &__card {
      padding: $spacer * 2;

      &-content {
        font-size: $h6-font-size;
        line-height: $spacer * 2;

        br {
          display: inline;
        }
      }

      &-title {
        font-size: $spacer * 6.5;
        line-height: pxToRem(110);
      }
    }
  }
}