[build]
publish = "qdrant-landing/public"
command = "cd qdrant-landing ; hugo --gc --minify"

[build.environment]
HUGO_VERSION = "0.123.0"

[context.production.environment]
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.deploy-preview.environment]
HUGO_ENV = "staging"

[context.deploy-preview]
command = "cd qdrant-landing ; echo $HUGO_ENV ; hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[[headers]]
    for = "/*"
    [headers.values]
        X-Content-Type-Options = "nosniff"
        X-Frame-Options = "DENY"

[[redirects]]
    from = "/surveys/hybrid-saas"
    to = "https://hybrid-cloud.qdrant.tech/"
    status = 301
    force = true

[[redirects]]
    from = "/surveys/hybrid-saas/"
    to = "https://hybrid-cloud.qdrant.tech/"
    status = 301
    force = true
