[build]
publish = "qdrant-landing/public"
command = "cd qdrant-landing ; hugo --gc --minify"

[build.environment]
HUGO_VERSION = "0.93.3"

[context.production.environment]
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.deploy-preview]
command = "cd qdrant-landing ; hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[[headers]]
    for = "/*"
    [headers.values]
        X-Content-Type-Options = "nosniff"
        X-Frame-Options = "DENY"
