@use "../helpers/functions" as *;
@use "../mixins/mixins" as *;
@use "../mixins/marquee" as marquee;
@use "../variables" as vars;
@use "../blocks/grid-background" as *;

@use "../../../../../node_modules/bootstrap/scss/bootstrap.scss" as bs;

$landing-font-family: 'Roboto', sans-serif;

@mixin here-font-styles($size, $weight, $line-height) {
  $color: inherite;
  @include font-styles($size, $weight, $line-height, $color, $landing-font-family);
}

.m-landing {
  padding-top: rem(24);
  background: var(--neutral-n-50);

  @include bs.media-breakpoint-up(md) {
    padding-top: rem(120);
  }

  &__footer {
    text-align: center;
    @include here-font-styles(rem(16), 400, rem(24));
    padding: rem(27) 0;
  }
}

.ml-button {
  display: flex;
  width: fit-content;
  min-width: 200px;
  position: relative;
  line-height: 1;
  padding: 13px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #DC244C;
  margin-bottom: rem(24);

  @include here-font-styles(rem(18), 600, rem(27));
  color: #FFF;

  @include bs.media-breakpoint-down(md) {
    &:hover, &:active {
      background-color: var(--neutral-n-600, #39508F);
      color: #FFF;
    }
  }

  @include bs.media-breakpoint-up(md) {
    @include buttonHoverEffect(var(--neutral-n-600, #39508F), #FFF);
    min-width: auto;
    margin-right: rem(40);
    margin-bottom: 0;
  }
}

.ml-hero {
  margin-bottom: rem(40);

  @include bs.media-breakpoint-up(md) {
    margin-bottom: rem(80);
  }

  &__logo {
    width: rem(107);
    height: rem(36);
    margin-bottom: rem(24);

  }

  &__title {
    text-align: center;
    @include here-font-styles(rem(32), 700, rem(40));
    margin-bottom: rem(16);

    @include bs.media-breakpoint-up(md) {
      text-align: left;
      font-size: rem(40);
      line-height: rem(48);
      margin-bottom: rem(24);
    }
  }

  &__description {
    text-align: center;
    @include here-font-styles(rem(16), 400, rem(24));
    margin-bottom: rem(24);

    @include bs.media-breakpoint-up(md) {
      font-size: rem(18);
      line-height: rem(27);
      text-align: left;
    }
  }

  &__textButton {
    display: flex;
    min-width: rem(200);
    height: rem(56);
    padding: 13px 0;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 1px solid var(--neutral-n-200, #AEBDE5);

    @include here-font-styles(rem(18), 600, rem(27));
    color: var(--neutral-n-700, #1F3266);


    @include bs.media-breakpoint-up(md) {
      padding: 0;
      border: none;
      min-width: auto;
      height: auto;
    }

    &:hover {
      background: var(--neutral-n-200, #AEBDE5);
      @include bs.media-breakpoint-up(md) {
        text-decoration: underline;
        background: none;
      }
    }

  }

  &__image {
    margin-left: -15px;
    margin-right: -15px;

    @include bs.media-breakpoint-up(md) {
      padding-left: rem(29);
      margin-left: 0;
      margin-right: 0;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }
}

.ml-customers {
  margin-bottom: rem(40);

  @include bs.media-breakpoint-up(md) {
    margin-bottom: rem(80);
  }

  &__title {
    text-align: center;
    @include here-font-styles(rem(18), 600, rem(27));
    margin-bottom: rem(24);

    @include bs.media-breakpoint-up(md) {
      margin-bottom: rem(40);
    }
  }
  &__marquee {
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid var(--neutral-n-100, #DCE4FA);
    border-bottom: 1px solid var(--neutral-n-100, #DCE4FA);
    padding: rem(14) 0;

    @include bs.media-breakpoint-up(md) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.ml-marquee {
  @include marquee.base(80px, 200px, 13, 6, 20px, false, 50s);
  &__block {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }

    @include bs.media-breakpoint-up(md) {
      &:before {
        display: block;
        box-shadow: 0 0 30px 30px var(--neutral-n-50);
      }
      &:after {
        display: block;
        box-shadow: 0 0 30px 30px var(--neutral-n-50);
        right: 106px;
      }
    }
  }

}

.ml-features {
  margin-bottom: rem(64);

  &__title {
    text-align: center;
    @include here-font-styles(rem(24), 700, rem(32));
    white-space: break-spaces;
    word-break: keep-all;
    padding-bottom: rem(24);

    @include bs.media-breakpoint-up(md) {
      font-size: rem(32);
      line-height: rem(40);
      margin-left: rem(94);
      margin-right: rem(94);
    }
  }

  &__subtitle {
    @extend .ml-features__title;
    font-size: rem(18);
    line-height: rem(27);

    @include bs.media-breakpoint-up(md) {
      font-size: rem(24);
      line-height: rem(32);
    }

    a {
      color: inherit;
      text-decoration: underline dotted;

      &:hover {
        text-decoration: underline solid;
      }
    }
  }

  &__cards-outer {
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: rem(24);

    @include bs.media-breakpoint-up(md) {
      margin-bottom: rem(64);
      justify-content: center;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 24px 32px 24px;
    border-radius: 8px;
    border: 1px solid var(--neutral-n-100, #DCE4FA);
    background: #FFF;

    @include bs.media-breakpoint-up(md) {
      flex: 0 0 calc(33% - 24px);
    }

    &-title {
      color: var(--neutral-n-800, #102252);
      text-align: center;
      @include here-font-styles(rem(24), 700, rem(32));
    }

    &-text {
      color: var(--neutral-n-600, #39508F);
      text-align: center;
      @include here-font-styles(rem(16), 400, rem(24))
    }
  }
}

.ml-markets {
  padding-top: rem(40);
  margin-bottom: rem(40);

  @include bs.media-breakpoint-up(md) {
    padding-top: rem(64);
    margin-bottom: rem(80);
  }

  &__title {
    @include here-font-styles(rem(24), 700, rem(32));
    margin-bottom: rem(40);
    text-align: center;

    @include bs.media-breakpoint-up(md) {
      margin-bottom: rem(64);
    }
  }

  &__buttons-outer {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include bs.media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: center;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(184);

    border-radius: 8px;
    background: #FFF;
    background-image: $markets-background;
    @include bs.media-breakpoint-up(md) {
      width: rem(352);

      &:hover {
        box-shadow: 0 0 0 1px var(--neutral-n-100);
      }
    }

    img {
      width: auto;
      height: auto;
    }
  }
}

.ml-banner {
  @include bs.media-breakpoint-up(md) {
    margin-bottom: rem(48);
  }

  &__banner {
    height: 560px;
    border-radius: 8px;
    background: #03091A;
    background-repeat: no-repeat;
    background-position: bottom center;

    @include bs.media-breakpoint-up(md) {
      height: rem(400);
      background-position: bottom right;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: rem(40) rem(24);
    justify-content: center;

    @include bs.media-breakpoint-up(md) {
      width: 50%;
      height: rem(400);
      padding-top: rem(40);
      padding-left: rem(94);
      padding-bottom: rem(40);
    }
  }

  &__title {
    color: #FFF;
    text-align: center;
    @include here-font-styles(rem(32), 700, rem(40));
    margin-bottom: rem(24);

    @include bs.media-breakpoint-up(md) {
      text-align: left;
      font-size: rem(48);
      line-height: rem(56);
    }
  }

  &__button {
    margin-left: auto;
    margin-right: auto;

    @include bs.media-breakpoint-up(md) {
      margin: 0;
    }
  }
}