.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 32px 40px 32px 40px;
  background: linear-gradient(180deg, #090d19, rgba(9, 13, 25, 0));
  z-index: 1;

  &__links {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 537px;
    z-index: 15;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    padding: 0 16px;
    position: relative;
    color: $neutral-98; // ?
    line-height: 1.5;
    white-space: nowrap;
    cursor: pointer;
  }
}
