{{ $link := .context.Permalink }}
{{ if .context.Params.external_link }}
{{ $link = .context.Params.external_link }}
{{ end }}

<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="article-card{{if .classes}} {{ .classes }}{{end}}">
        <div class="article-card__image">
            <a href="{{ $link }}" target="_blank"><img src="{{ .context.Params.preview_image }}" loading="lazy" alt=""/></a>
        </div>
        <div class="article-card__content">
            <h5 class="article-card__title"><a href="{{ $link }}">{{ .context.Title }}</a></h5>
            <div class="article-card__text">{{ .context.Params.description }}
            </div>
            <a href="{{ $link }}" target="_blank" class="theme-btn btn-style-five"><span
                    class="txt">Learn More</span></a>
        </div>
    </div>
</div>