{{ $link := .context.Permalink }}
{{ if .context.Params.external_link }}
{{ $link = .context.Params.external_link }}
{{ end }}

    <div class="article-card{{if .classes}} {{ .classes }}{{end}}">
        <a class="article-card__image" href="{{ $link }}">
            <picture>
                <source srcset="{{ .context.Params.preview_dir }}/preview.webp" type="image/webp" />
                <img src="{{ .context.Params.preview_dir }}/preview.jpg" loading="lazy" alt=""/>
            </picture>
        </a>
        <div class="article-card__content">
            <h5 class="article-card__title"><a href="{{ $link }}">{{ .context.Title }}</a></h5>
            <a class="article-card__text mb-4" href="{{ $link }}">{{ .context.Params.description }}</a>
            <div class="article__info">{{ .context.Date | time.Format ":date_long" }} | {{ .context.Params.author }}</div>
        </div>
    </div>