<!-- News block Two -->
{{ $link := .Permalink }}
{{ if .Params.external_link }}
{{ $link = .Params.external_link }}
{{ end }}

<div class="news-block-two">
    <div class="inner-box">
        <div class="upper-box pb-3">
            <h2>{{ .Title }}</h2>
        </div>
        <div class="lower-box pt-0">
            <article>{{ .Content }}</article>
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="post-meta">
                        {{ if .Params.author }}
                        <li><span class="fa fa-user mr-1"></span>{{ .Params.author }}
                            {{ end }}
                        </li>
                        <li><span class="fa fa-calendar mr-1"></span>{{ .Date | time.Format ":date_long" }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
