<div class="clearfix">
    <div class="pull-left">
        <ul class="post-meta">

            <li>{{ partial "author" . }}</li>

            {{ if .Params.Categories }}
            <li>Category:
                {{ range .Params.Categories }}
                <a class="category" href='{{ "/categories/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a>
                {{ end }}
            </li>
            {{ end }}
            {{ if .Params.Tags }}
            <li>Tags:&nbsp;
                {{ range .Params.Tags }}
                <a class="category" href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>#{{ . }}</a>&nbsp;
                {{ end }}
            </li>
            {{ end }}
        </ul>
        <ul class="post-meta">
            <li><span class="fa fa-calendar mr-2"></span>{{ .Date | time.Format ":date_long" }}
            </li>|&nbsp;&nbsp;
            <li>
                <!-- Post Share Options -->
                {{ partial "share-post" . }}

            </li>
        </ul>
    </div>
</div>