

<link href="{{ "css/main.css" | absURL }}" rel="stylesheet">


{{/*
{{ $maincss := resources.Get "css/main.css" }}
{{ $style := $maincss | resources.Minify }}

<link rel="stylesheet"
      href="{{ $style.Permalink }}"
      integrity="{{ $style.Data.Integrity }}">

*/}}


<!-- google fonts -->

{{ if .Site.Params.font }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<noscript><link href="https://fonts.googleapis.com/css2?
{{ range .Site.Params.fonts }}
    family={{ . }}&
{{ end }}
display=swap" rel="stylesheet"></noscript>
{{ end }}

<link rel="preload" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/css/splide-core.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.2/dist/css/splide-core.min.css"></noscript>

{{ if eq .Section "documentation" }}
<link rel="stylesheet" href="/css/qdr-search.min.css">
{{ end }}