{{$currentNode := .}}
<div id="sidebar-mobile-header" class="col-12">
    <button id="sidebar-toggle" class="documentation__sidebar-toggle btn-style-four btn-style-four_responsive d-inline-block d-md-none">
        <span class="text">List of Contents <i class="mt-1 ml-4"></i></span>
    </button>
</div>
<nav id="sidebar" class="documentation__sidebar-inner col-lg-2 col-md-3 col-12 pr-lg-4 mb-4 position-relative">

    {{ $subject := site.GetPage "documentation" }}

    <div id="accordion" class="sticky-top">

        <!-- Button triggers search modal -->
        <button type="button" class="qdr-search-input-btn w-100 mb-2 w-100" data-target="#searchModal">
            <i class="fa fa-search mr-2"></i>Search...
        </button>

        <div class="documentation__sidebar-list">
            {{ range $subject.Pages }}

                {{ if (eq .Params.type "delimiter") }}
                    <h5 class="documentation__sidebar-delimiter">{{ .Title }}</h5>
                {{ else }}

                {{ if and (.IsPage) (not .Params.hideInSidebar) }}

                    <div class="link-group {{ if eq .File.UniqueID $currentNode.File.UniqueID }}active {{ end }}">
                        <div class="link-group-heading">
                            <span class="mb-0">
                                <a class="btn btn-link text-left collapsed pl-0"
                                   href="{{ if (eq .Params.type "external-link") }}{{ .Params.external_url }}{{ else }}{{ .Permalink }}{{ end }}"
                                   {{ if (eq .Params.type "external-link") }}target="_blank"{{ end }}
                                >
                                    {{ .Title }}
                                    {{ if (eq .Params.type "external-link") }}
                                        <i class="link-group__icon fas fa-external-link-alt"></i>
                                    {{ end }}
                                </a>
                            </span>
                        </div>
                    </div>

                {{ end }}

                {{ if and (.IsSection) (not .Params.hideInSidebar) }}

                    <!-- current page is active or any sub-page is active -->
                    {{ $isActive := false }}
                    {{ range .RegularPages }}
                        {{ if eq .File.UniqueID $currentNode.File.UniqueID }}
                            {{ $isActive = true }}
                        {{ end }}
                    {{ end }}

                    {{ if eq .File.UniqueID $currentNode.File.UniqueID }}
                        {{ $isActive = true }}
                    {{ end }}

                    {{ $sectionLink := .Permalink }}

                    {{ if .Params.is_empty }}
                        {{ $sectionLink = (index (.RegularPages) 0).Permalink }}
                    {{ end }}

                    <details class="documentation__sidebar-link-group link-group {{ if $isActive }}active {{ end }}"
                        {{ if $isActive }}open{{ end }}>
                        <summary class="link-group-heading">
                            <span class="mb-0">
                                <a class="btn btn-link text-left collapsed pl-0" href="{{ $sectionLink }}">
                                    {{ .Title }}
                                </a>
                            </span>
                        </summary>

                        <div class="pl-4">
                            <nav id="TableOfContents">
                                <ul>
                                    {{ range .RegularPages }}
                                        {{ if (eq .Params.type "external-link") }}
                                            <li>
                                                <a href="{{ .Params.external_url }}" target="_blank">
                                                    {{ .Title }}
                                                    <i class="link-group__icon fas fa-external-link-alt"></i>
                                                </a>
                                            </li>
                                        {{ else if not .Params.hideInSidebar }}
                                            <li class="{{ if eq .File.UniqueID $currentNode.File.UniqueID }}active {{ end }}"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                        {{ end }}
                                    {{ end }}
                                </ul>
                            </nav>
                        </div>
                    </details>

                {{ end }}

                {{ end }}

            {{ end }}

            <br/>
            <span class="d-inline-block mb-4">Docs version: {{ .Site.Params.docVersion }}</span>
        </div>
    </div>
</nav>
