{{$currentNode := .}}
<nav class="col-lg-3 col-md-3 col-12 mt-4 position-relative">
    <!-- Button trigger modal -->
    <button type="button" class="search-input-btn" data-toggle="modal" data-target="#staticBackdrop">
        <i class="fa fa-search mr-3"></i> Search...
    </button>
    {{ partial "search" . }}

    <div id="accordion" class="sticky-top">
        {{ range where .Site.RegularPages "Section" .Section }}

        <div class="link-group {{ if eq .File.UniqueID $currentNode.File.UniqueID }}active {{ end }}">
            <div class="link-group-heading" id="headingOne">
                <span class="mb-0">
                    <a class="btn btn-link collapsed" href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </span>
            </div>
            {{ if eq .File.UniqueID $currentNode.File.UniqueID }}
            <div class="pl-4">
                {{ .TableOfContents }}
            </div>
            {{ end }}
        </div>
        {{ end }}
        
        <br/>
        <span style="padding: .375rem .75rem;">Docs version: {{ .Site.Params.docVersion }}</snap>
    </div>
</nav>
