<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="{{ "js/jquery.js" | absURL }}"></script>
<script src="{{ "js/popper.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.scrollTo.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.mCustomScrollbar.concat.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.fancybox.js" | absURL }}"></script>
<script src="{{ "js/appear.js" | absURL }}"></script>
<script src="{{ "js/cookit.js" | absURL }}"></script>
<!-- <script src="{{ "js/swiper.min.js" | absURL }}"></script> -->
<!-- <script src="{{ "js/jquery.paroller.min.js" | absURL }}"></script> -->
<!-- <script src="{{ "js/parallax.min.js" | absURL }}"></script> -->
<!-- <script src="{{ "js/tilt.jquery.min.js" | absURL }}"></script> -->
<!--Master Slider-->
<!-- <script src="{{ "js/jquery.easing.min.js" | absURL }}"></script> -->
<!-- <script src="{{ "js/owl.js" | absURL }}"></script> -->
<!-- <script src="{{ "js/wow.js" | absURL }}"></script> -->
<!-- <script src="{{ "js/jquery-ui.js" | absURL }}"></script> -->
<!-- <script src="{{ "js/element-in-view.js" | absURL }}"></script> -->
<script src="{{ "js/script.js" | absURL }}"></script>
<script src="{{ "js/clipboard.min.js" | absURL }}"></script>
<script src="{{ "js/anchor.min.js" | absURL }}"></script>
<script>
  var clipboard = new ClipboardJS('.copy-btn');

  clipboard.on('success', function(e) {
    $('#copy-popover').popover('show')
    const to = setTimeout(() => {
      $('#copy-popover').popover('hide')
      $('#modal').modal('show')
      clearTimeout(to);
    }, 3000);
    e.clearSelection();
  });

  clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
  });

  $(function () {
    $.cookit({
      messageText: "{{ .Site.Params.gdpr }}",
      linkText: "Learn more",
      linkUrl: "/legal/privacy-policy",
      buttonText: "I accept",
      backgroundColor: '#1c1c1c',
      messageColor: '#fff',
      linkColor: '#fad04c',
      buttonColor: '#fad04c'
    });  
  });
  
  anchors.options.placement = 'left';
  anchors.add("article > :is(h1, h2, h3, h4, h5, h6)");
</script>

<!-- highlight.js -->
{{ if .Site.Params.highlight }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    {{ range .Site.Params.highlightLanguages }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/{{ . }}.min.js"></script>
    {{ end }}
<script>hljs.highlightAll();</script>

{{ end }}
<script src="{{ "js/lang-switcher.js" | absURL }}"></script>
<script src="{{ "js/copy-code.js" | absURL }}"></script>

<!-- MathJax support -->
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true
    },
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  };

  window.addEventListener('load', (event) => {
    document.querySelectorAll("mjx-container").forEach(function(x){
      x.parentElement.classList += 'has-jax'})
  });

</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="/js/owl.js"></script>
<script>
  $(function () {
    $('[data-toggle="popover"]').popover({
      container: 'body'
    });
    $('.popover-dismiss').popover({
      trigger: 'focus'
    });
  });
</script>

{{ if eq .Section "documentation" }}
<script defer src="/js/qdrant-page-search/search.min.js" type="module"></script>
<script defer>
  window.addEventListener('DOMContentLoaded', () => {
    initQdrantSearch({searchApiUrl: 'https://gist.githubusercontent.com/generall/1caf4639b62d1014d216f4b7b5027b83/raw/b8e052e45067241fa79be647e3b23d60577363f2/qdrant-docs-search-example.json'});
  });
</script>
{{ end }}