<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="{{ "js/jquery.js" | absURL }}"></script>
<script src="{{ "js/jquery.mCustomScrollbar.concat.min.js" | absURL }}"></script>
<script src="{{ "js/cookit.js" | absURL }}"></script>
<script src="{{ "js/clipboard.min.js" | absURL }}"></script>
<script src="{{ "js/anchor.min.js" | absURL }}"></script>
<script src="{{ "js/vendor.min.js" | absURL }}"></script>
{{ if eq .Section "documentation" }}
<script src="{{ "js/qdr-search.min.js" | absURL }}"></script>
{{ end }}
<script src="{{ "js/qdr-scroll.min.js" | absURL }}"></script>
<script src="{{ "js/script.js" | absURL }}"></script>
<script>
  var clipboard = new ClipboardJS('.copy-btn');

  clipboard.on('success', function (e) {
    $('#copy-popover').popover('show')
    const to = setTimeout(() => {
      $('#copy-popover').popover('hide')
      $('#modal').modal('show')
      clearTimeout(to);
    }, 3000);
    e.clearSelection();
  });

  clipboard.on('error', function (e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
  });

  $(function () {
    $.cookit({
      messageText: "{{ .Site.Params.gdpr }}",
      linkText: "Learn more",
      linkUrl: "/legal/privacy-policy",
      buttonText: "I accept",
      backgroundColor: '#1c1c1c',
      messageColor: '#fff',
      linkColor: '#fad04c',
      buttonColor: '#fad04c'
    });
  });

  anchors.options.placement = 'left';
  anchors.add("article > :is(h1, h2, h3, h4, h5, h6)");
</script>

<script src="{{ "js/lang-switcher.js" | absURL }}"></script>
<script src="{{ "js/copy-code.js" | absURL }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('[data-toggle="popover"]').popover({
      container: 'body'
    });
    $('.popover-dismiss').popover({
      trigger: 'focus'
    });

    // qdrant-page-search initialization
    if (/documentation/.test(window.location?.pathname)) {
      window.initQdrantSearch({searchApiUrl: 'https://search.qdrant.tech/api/search', section: "documentation"});
    }
  });
</script>

{{ if not .IsHome }}

<!-- MathJax support -->
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true
    },
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  };

  window.addEventListener('load', (event) => {
    document.querySelectorAll("mjx-container").forEach(function(x){
      x.parentElement.classList += 'has-jax'})
  });

</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{ end }}

{{ if or (eq .Section "documentation") (eq .Section "articles") }}
<script>
  $(function() {
    document.querySelectorAll('#TableOfContents a').forEach(function(el) {
      el.addEventListener('click', function(e) {
        e.preventDefault();

        const target = document.querySelector(el.getAttribute('href'));
        if (target) {
          target.scrollIntoView({behavior: 'smooth', block: 'start'});
        }
      });

      if (el.innerText) el.setAttribute('title', el.innerText)
    });
  });
</script>
{{ end }}
