<!--End Page Title-->
<section class="page-title">
    <div class="pattern-layer" style="background-image: url(/images/background/pattern-12.png)"></div>
    <div class="auto-container">
        <h1> {{ .Params.title | safeHTML }}</h1>
        <ul class="bread-crumb clearfix">
            <li><a href="/"><i class="flaticon-home small"></i> Home</a></li>
            {{ $paths := (split .RelPermalink "/") }}
            {{ $len := sub (len $paths) 2 }}
            {{ range first $len $paths }}
                {{ if gt (len . ) 0 }}
                    <li><a href="/{{ . }}">{{ humanize . }}</a></li>
                {{ end }}
            {{ end }}
            <li>{{ .Params.title | safeHTML }}</li>
        </ul>
    </div>
</section>
<!--End Page Title-->