{{ if .Params.description }}
<meta name="description" content="{{ .Params.Description }}">
{{ else }}
<meta name="description" content="{{ .Site.Params.Description }}">
{{ end }}

{{ if .Params.keywords }}
<meta name="keywords" content="{{ range .Params.Keywords }}{{ . }}, {{ end }} qdrant">
{{ else }}
<meta name="keywords" content="{{ range .Site.Params.Keywords }}{{ . }}, {{ end }} qdrant">
{{ end }}

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Qdrant",
      "legalName" : "Qdrant Solutions GmbH",
      "url": "https://qdrant.tech",
      "email": "info@qdrant.com",
      "@id": "https://qdrant.tech",
      "logo": "https://qdrant.tech/images/logo_with_text.png",
      "headline" : "{{ .Title }}",
      "description" : "{{ .Site.Params.description }}",
      "keywords" : [ {{ range .Site.Params.Keywords }}"{{ . }}", {{ end }} "Qdrant" ],
      "foundingDate": "2021",
      "founders": [
          {
              "@type": "Person",
              "name": "{{ .Site.Params.Author }}"
          }, {
              "@type": "Person",
              "name": "Andre Zayarni"
          }
      ],
      "location": "Berlin, Germany",
      "address": {
          "@type": "PostalAddress",
          "streetAddress": "Chausseestraße 86",
          "addressLocality": "Berlin",
          "addressRegion": "Berlin",
          "postalCode": "10115",
          "addressCountry": "DE"
      },
      "contactPoint": {
          "@type": "ContactPoint",
          "contactType": "customer support",
          "telephone": "+49 3040797694",
          "email": "info@qdrant.com"
      },
      "sameAs": [
          {{ .Site.Params.github }},
          {{ .Site.Params.twitter }},
          {{ .Site.Params.linkedin }},
          {{ .Site.Params.discord }}
      ],
      "mainEntityOfPage": {
          "@type": "SoftwareApplication",
          "name": "Qdrant",
          "applicationCategory": "Vector Search Engine",
          "operatingSystem": "linux, macOS",
          "downloadUrl": "https://github.com/qdrant/qdrant",
          "installUrl": "https://hub.docker.com/r/qdrant/qdrant",
          "abstract": "{{ .Site.Params.description }}",
          "image": "https://qdrant.tech/images/logo_with_text.png"
      }
  }
</script>

{{ $url := urls.Parse .Site.BaseURL }}
{{ $domain := index (split $url.Host ".") 0 }}

{{ $title := .Title }}
{{ if and ($.IsNode) (eq $.Section "") }}
{{ else }}
    {{ $title = printf "%s - Qdrant" $title }}
{{ end }}

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ $title }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:domain" content="{{ $domain }}">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ $title }}">

{{ if .Params.description }}
<meta property="og:description" content="{{ .Params.description }}">
<meta name="twitter:description" content="{{ .Params.description }}">
{{ else }}
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta name="twitter:description" content="{{ .Site.Params.description }}">
{{ end }}

<!-- Image -->
{{ if .Params.social_preview_image }}
<meta name="image" property="og:image" content="{{ .Params.social_preview_image | absURL }}">
<meta name="image" property="og:image:secure_url" content="{{ .Params.social_preview_image | absURL }}">
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:image:src" content="{{ .Params.social_preview_image | absURL }}">
{{ else }}
<meta name="image" property="og:image" content="{{ .Site.Params.preview_image | absURL }}">
<meta name="image" property="og:image:secure_url" content="{{ .Site.Params.preview_image | absURL }}">
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:image:src" content="{{ .Site.Params.preview_image | absURL }}">
{{ end }}

<!-- Author -->
{{ if .Params.author }}
<meta name="author" content="{{ .Params.author }}">
{{ end }}