{{ $seed := "foo" }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
<!--suppress XmlDuplicatedId -->
<div class="steps-form row">
<div class="spinner-border" role="status" style="width: 5rem; height: 5rem;">
    <span class="sr-only">Loading...</span>
</div>
<form class="steps-form__form owl-carousel col-6" name="cloud-request" method="POST" id="{{ $random }}" novalidate>
    {{ range .Params.Form }}
    <div class="form-group" data-step="{{ .id }}">
        <label class="steps-form__label" for="{{ .id }}{{ .name }}">{{ .label }}</label>
        {{ if eq .type "select" }}
        <select class="steps-form__input custom-select" id="{{ .id }}{{ .name }}" name="{{ .name }}">
            <option selected>Open this select menu</option>
            {{ range .options }}
            <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
        {{ else if eq .type "radio"}}
            {{ $input := . }}
            {{ range .options }}
            <div class="form-check">
                <label class="steps-form__label">
                    <input class="steps-form__input form-check-input" type="{{ $input.type }}" name="{{ $input.name }}" id="{{ $input.id }}{{ $input.name }}"
                           value="{{ . }}">
                    {{ . }}
                </label>
            </div>
            {{ end }}

        {{ else if eq .type "checkbox"}}
        {{ $input := . }}
        {{ range .options }}
        <div class="form-check">
            <label class="steps-form__label">
                <input class="steps-form__input form-check-input" type="{{ $input.type }}" name="{{ $input.name }}" id="{{ $input.id }}{{ $input.name }}"
                       value="{{ . }}">
                {{ . }}
            </label>
        </div>
        {{ end }}

        {{ else if eq .type "text"}}
        <textarea class="form-control steps-form__input" id="{{ .id }}{{ .name }}" name="{{ .name }}"
                  rows="1" placeholder="{{ .placeholder }}">
        </textarea>
        {{ else }}
        <input type="{{ .type }}" name="{{ .name }}"
               class="steps-form__input form-control" id="{{ .id }}{{ .name }}"
               {{ if .required }}required{{ end }} placeholder="{{ .placeholder }}">
        <div class="invalid-feedback">
            Please provide a valid {{ .type }}.
        </div>
    {{ end }}
    </div>
    {{ end }}

    <div class="form-group">
        <p class="steps-form__label">Ta-da! We'll happily be in touch with you very soon! 🥳</p>
        <button type="submit" class="theme-btn btn-style-three">Submit</button>
    </div>
</form>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';

    /* ==============================
         Wait until an element is ready
         */
    function waitForElm(selector) {
      return new Promise(resolve => {
        if (document.querySelector(selector)) {
          return resolve(document.querySelector(selector));
        }

        const observer = new MutationObserver(mutations => {
          if (document.querySelector(selector)) {
            resolve(document.querySelector(selector));
            observer.disconnect();
          }
        });

        observer.observe(document.body, {
          childList: true,
          subtree: true
        });
      });
    }
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var form = document.getElementById({{ $random }});

      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      });

      $(".owl-carousel").owlCarousel({
        items: 1,
        mouseDrag: false,
        touchDrag: false,
        nav: true,
        rewind: false,
        slideTransition: 'easy',
        loop: false,
        margin: 10,
        stagePadding: 5,
        navText: ['<div class="theme-btn btn-style-three"><i class="fas fa-chevron-left"></i> Back</div>', '<div class="theme-btn btn-style-three">Next question <i class="fas fa-chevron-right"></i></div>'],
        onInitialized: () => {
          document.getElementsByClassName('spinner-border')[0].remove();
        }
      });
    }, false);
  })();

</script>