{{$currentNode := .}}
<nav class="tableOfContent col-lg-3 col-md-3 col-12 mt-0 pr-4 mb-4">

    {{ $sectionLink := cond .IsSection .RelPermalink .Parent.RelPermalink }}
    {{ $subject := site.GetPage $sectionLink }}
    <div class="sticky-top">
        {{ range $subject.RegularPages }}
            {{ if eq .File.UniqueID $currentNode.File.UniqueID }}
                <h5 class="tableOfContent__header">Table of contents</h5>
                {{ .TableOfContents }}
            {{ end }}
        {{ end }}
        <br/>
    </div>
</nav>
