@use 'sass:math';
@use '../helpers/functions' as *;
@use '../bootstrap-custom' as bs;

@mixin base($paddingTop, $paddingTopMobile, $paddingBottom, $paddingBottomMobile, $contentWidth) {
  padding-top: $paddingTopMobile;
  padding-bottom: $paddingBottomMobile;
  background-color: #e1e5f0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(40);
    background: linear-gradient(#161e33, #0e1424);
    border-radius: rem(16);

    p {
      margin-bottom: rem(32);
      font-size: rem(20);
      line-height: rem(30);
      text-align: center;
      color: #f0f3fa;
    }
  }

  &__button {
    display: none !important;
  }

  @include bs.media-breakpoint-up(lg) {
    padding-top: $paddingTop;
    padding-bottom: $paddingBottom;

    &__content {
      flex-direction: row;
      justify-content: space-between;
      padding: rem(40) rem(64);

      p {
        max-width: $contentWidth;
        margin-bottom: 0;
        font-size: rem(24);
        line-height: rem(34);
        text-align: left;
      }
    }

    &__button {
      display: inline-flex !important;

      &-mobile {
        display: none !important;
      }

      // todo: add mobile modificator to the button styles in components/_buttons.scss
    }
  }
}
