@use 'sass:math';
@use '../helpers/functions' as *;
@use '../bootstrap-custom' as bs;

@mixin base($paddingTop, $paddingTopMobile, $paddingBottom, $paddingBottomMobile, $contentWidth) {
  padding-top: $paddingTopMobile;
  padding-bottom: $paddingBottomMobile;
  background-color: #e1e5f0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: pxToRem(40);
    background: linear-gradient(#161e33, #0e1424);
    border-radius: pxToRem(16);

    p {
      margin-bottom: pxToRem(32);
      font-size: pxToRem(20);
      line-height: pxToRem(30);
      text-align: center;
      color: #f0f3fa;
    }
  }

  &__button {
    display: none;
  }

  @include bs.media-breakpoint-up(lg) {
    padding-top: $paddingTop;
    padding-bottom: $paddingBottom;

    &__content {
      flex-direction: row;
      justify-content: space-between;
      padding: pxToRem(40) pxToRem(64);

      p {
        max-width: $contentWidth;
        margin-bottom: 0;
        font-size: pxToRem(24);
        line-height: pxToRem(34);
        text-align: left;
      }
    }

    &__button {
      display: inline-flex;
    }

    &__button-mobile {
      display: none;
    }
  }
}
