@use 'sass:math';
@use '../helpers/functions' as *;
@use '../bootstrap-custom' as bs;

@mixin base(
  $paddingTop,
  $paddingTopMobile,
  $paddingBottom,
  $paddingBottomMobile,
  $titleWidth,
  $titleSize,
  $titleSizeMobile,
  $titleHeight,
  $titleHeightMobile
) {
  background-color: #e1e5f0;
  padding-bottom: $paddingBottomMobile;
  padding-top: $paddingTopMobile;

  &__title {
    margin-bottom: rem(40);
    font-size: $titleSizeMobile;
    line-height: $titleHeightMobile;
    color: #161e33;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    position: relative;
    z-index: 2;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      width: 100%;
      margin-bottom: rem(24);
    }

    h5 {
      margin-bottom: rem(24);
      font-size: rem(20);
      line-height: rem(30);
      color: #161e33;
      text-align: center;
    }
  }

  &__square-grid-overlay {
    display: none;
  }

  @include bs.media-breakpoint-up(lg) {
    padding-top: $paddingTop;
    padding-bottom: $paddingBottom;
    position: relative;

    &__title {
      max-width: $titleWidth;
      margin: auto;
      margin-bottom: rem(80);
      font-size: $titleSize;
      line-height: $titleHeight;
    }

    &__cards {
      flex-direction: row;
      justify-content: space-between;
      gap: rem(75);
      padding: rem(53) 0;
    }

    &__card {
      width: calc(100% / 3 - 50px);
    }

    &__square-grid-overlay {
      display: block;
      position: absolute;
      left: 0;
      bottom: $paddingBottom;
      width: 100%;
      height: rem(400);
      background-image: url('/img/square-grid.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
  }
}
