@use 'sass:math';
@use 'helpers/functions' as *;
@import 'satoshi-font';
@import 'bootstrap-custom';

html {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: $neutral-50;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: $neutral-20;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $neutral-60;
  }
  scrollbar-width: thin;
  scrollbar-color: $neutral-50 $neutral-20;
}

.scrolled {
  .site-header {
    min-height: rem(140);
    z-index: 3;
  }
  .main-menu {
    position: fixed;
    top: -24px;
    left: 0;
    right: 0;
    background: $neutral-10;
    padding-bottom: $spacer * 0.5;
  }

  .top-banner {
    display: none;
  }
}

@import 'components';
@import 'syntax-highlight';
@import 'mathjax';
@import 'cookit';
@import 'partials/logo';
@import 'partials/top-banner';
@import 'partials/menu-mobile';
@import 'partials/menu';
@import 'partials/site-header';
@import 'partials/link';
@import 'partials/hubspot-form';
@import 'partials/breadcrumbs';
@import 'partials/footer';
@import 'partials/not-found';
