@import 'base';
@import 'partials/theme-switch';
@import 'partials/docs-menu';
@import 'partials/documentation';
@import 'partials/documentation-article';
@import 'partials/table-contents';
@import 'partials/feedback';
@import 'search/dark-theme';
