@import 'base';
@import 'partials/hybrid-cloud-hero';
@import 'partials/hybrid-cloud-kubernetes-clusters';
@import 'partials/hybrid-cloud-cases';
@import 'partials/hybrid-cloud-how-it-works';
@import 'partials/hybrid-cloud-features';
@import 'partials/hybrid-cloud-video';
@import 'partials/hybrid-cloud-get-contacted';
@import 'partials/hybrid-cloud-partners';
@import 'partials/video';
@import 'partials/get-started-small-rocket';
@import 'partials/get-started-small-database';
@import 'partials/get-started';
@import 'partials/customer-list';