@import 'base';
@import 'partials/customers';
@import 'partials/hero';
@import 'partials/core-features';
@import 'partials/customer-stories';
@import 'partials/docker-deploy';
@import 'partials/vectors';
@import 'partials/integrations';
@import 'partials/get-started';
@import 'partials/additional-resources';
@import 'partials/feature-overview';
@import 'partials/qdrant-vector-database-hero';
@import 'partials/qdrant-vector-database-use-cases';
@import 'partials/get-started-small-rocket';
@import 'partials/get-started-small-database';
@import 'partials/get-started-blogs';
@import 'partials/enterprise-solutions-hero';
@import 'partials/enterprise-solutions-use-cases';
@import 'partials/testimonial';
@import 'partials/enterprise-benefits';
@import 'partials/top-and-bottom-overlay';
@import 'partials/qdrant-pricing-hero';
@import 'partials/qdrant-pricing-calculator';
@import 'partials/qdrant-pricing-docker-deploy';
@import 'partials/qdrant-pricing-doors-a';
@import 'partials/qdrant-pricing-doors-b';
@import 'partials/qdrant-pricing-marketplaces';
@import 'partials/pricing-door';
@import 'partials/get-contacted-with-question';
@import 'partials/private-cloud-hero';
@import 'partials/private-cloud-about';
@import 'partials/private-cloud-get-contacted';
@import 'partials/qdrant-cloud-hero';
@import 'partials/qdrant-cloud-bento-cards';
@import 'partials/qdrant-cloud-marketplaces';
@import 'partials/qdrant-pricing-get-contacted';
@import 'partials/qdrant-cloud-features-link';
@import 'partials/video';
@import 'partials/customer-list';
@import 'partials/demos';
@import 'partials/tutorials';
@import 'partials/qdrant-blog-features';
@import 'partials/qdrant-blog-posts';
@import 'partials/qdrant-blog-hero';
@import 'partials/pagination';
@import 'partials/newsletter';
@import 'partials/qdrant-post';
@import 'partials/qdrant-articles-hero';
@import 'partials/qdrant-articles-posts';
@import 'partials/carousel';
@import 'partials/leadership';
@import 'partials/open-roles';
@import 'partials/investors';
@import 'partials/mission';
@import 'partials/our-story';
@import 'partials/contact-hero';
@import 'partials/contact-form';
@import 'partials/use-cases-vector-hero';
@import 'partials/use-cases-vector-get-started';
@import 'partials/use-cases-vector-features';
@import 'partials/use-cases-vector-cases';
@import 'partials/case-study';
@import 'partials/advanced-search-use-cases';
@import 'partials/recommendations-api';
@import 'partials/retrieval-augmented-generation-integrations';
@import 'partials/retrieval-augmented-generation-evaluation';
@import 'partials/data-analysis-anomaly-detection';
@import 'partials/share-buttons';
@import 'partials/partners-hero';
@import 'partials/partners-cloud';
@import 'partials/partners-cloud-marketplaces';
@import 'partials/partners-integrations';
@import 'partials/partners-embeddings';
@import 'partials/partners-solution';
@import 'partials/partners-get-contacted';
@import 'partials/partners-get-started';
@import 'partials/testimonial-light';
