@use 'sass:math';
@import 'satoshi-font';
@import 'bootstrap-custom';

@import 'components';
@import 'partials/logo';
@import 'partials/top-banner';
@import 'partials/customers';
@import 'partials/menu';
@import 'components/buttons';
@import 'partials/hero';
@import 'partials/link';
@import 'partials/core-features';
@import 'partials/customer-stories';
@import 'partials/docker-deploy';
@import 'partials/vectors';
@import 'partials/integrations';
@import 'partials/get-started';
@import 'partials/footer';
@import 'partials/additional-resources';
@import 'partials/menu-mobile';
@import 'partials/feature-overview';
@import 'partials/qdrant-vector-database-hero';
@import 'partials/qdrant-vector-database-use-cases';

.main-header {
  background: $neutral-10;

  @include media-breakpoint-up(xl) {
    background: url('/img/stars-pattern.png') $neutral-10;
  }
}
