{{ define "main" }}
  <header class="main-header">
    {{ partial "top-banner" . }}
    {{ partial "menu" . }}
    {{ partial "menu-mobile" . }}
  </header>

  {{ partial "community-hero" . }}
  {{ partial "community-features" . }}
  {{ partial "community-testimonials" . }}

  {{ with (.Site.GetPage "/headless/get-started-small-database") }}
    {{ partial "get-started-small" (dict "context" . "class" "get-started-small-database") }}
  {{ end }}

  {{ with (.Site.GetPage "/headless/get-contacted-with-question") }}
    {{ partial "get-contacted" (dict "context" . "class" "community-get-contacted") }}
  {{ end }}
{{ end }}
