{{ define "main" }}
  {{ partial "site-header" . }}

  {{ partial "community-hero" . }}
  {{ partial "community-features" . }}

  {{ with (.Site.GetPage "/community/community-newsletter") }}
    {{ partial "newsletter" (dict "context" . "class" "community-newsletter") }}
  {{ end }}

  {{ partial "community-testimonials" . }}

  {{ with (.Site.GetPage "/community/community-get-contacted") }}
    {{ partial "get-contacted" (dict "context" . "class" "community-get-contacted") }}
  {{ end }}
{{ end }}
