// Ai-agents colors not defined in _theme-variables.scss

$ai-agents-code-bg-end: #0e1424;

$ai-agents-violet-gradient-base: #4325ae;
$ai-agents-violet-gradient-end: #6143e0;
$ai-agents-violet-glow: #6047ff;

$ai-agents-connector-shadow: #202227;

// syntax highlighting
$ai-agents-code-default-dark: #c5c8c6;
$ai-agents-code-string: #26a69a;
$ai-agents-code-keyword: #7e75ff;
$ai-agents-code-number: #29b6f6;
$ai-agents-code-builtin: #ef6c00;
$ai-agents-code-string-alt: #009688;
