{{ with (.Site.GetPage "/headless/main/enterprise-capabilities") }}
  {{ $iconsPath := "static/img/components/icons/" }}
  <section class="enterprise-capabilities">
    <div class="enterprise-capabilities__stars" aria-hidden="true"></div>

      <div class="container enterprise-capabilities__white-light" aria-hidden="true"></div>
      <div class="enterprise-capabilities__background" aria-hidden="true">
          <div class="enterprise-capabilities__globe-blue-light"></div>
          <div class="enterprise-capabilities__globe-blue-light"></div>
          <div class="enterprise-capabilities__globe-blue-light"></div>
          <div class="enterprise-capabilities__globe-front"></div>
      </div>
      <div class="container enterprise-capabilities__white-light" aria-hidden="true"></div>
      <div class="enterprise-capabilities__background" aria-hidden="true">
          <div class="enterprise-capabilities__globe-front"></div>
      </div>
    <div class="container">
      <div class="enterprise-capabilities__content">
        <div class="enterprise-capabilities__header">
          <h2 class="enterprise-capabilities__title">{{ .Params.title }}</h2>
          <p class="enterprise-capabilities__subtitle">{{ .Params.subtitle }}</p>
        </div>
        <div class="enterprise-capabilities__cards">
          {{ range .Params.deploymentOptions }}
            <div class="enterprise-capabilities__card enterprise-capabilities__card--{{ .position }}">
              {{ if .connector }}
                <img src="{{ .connector }}" alt="" class="enterprise-capabilities__connector" />
              {{ end }}
              <div class="enterprise-capabilities__card-icon">
                {{ partial "svg" (dict "icon" .icon "path" $iconsPath "color" .iconColor ) }}
              </div>
              <div class="enterprise-capabilities__card-content">
                <h3 class="enterprise-capabilities__card-title">{{ .title }}</h3>
                <p class="enterprise-capabilities__card-description">{{ .description }}</p>
              </div>
              <a href="{{ .link.url }}" class="link link_white link_md enterprise-capabilities__card-link">{{ .link.text }}</a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
