[data-theme='dark'] .qdr-search__dialog {
  background-color: $neutral-20;
  color: $neutral-90;
  h5 {
    color: $neutral-90;
  }
  input {
    background-color: $neutral-20;
    color: $neutral-98;
  }
  .qdr-search-result {
    color: $neutral-90;

    &.active {
      background-color: $secondary-blue-10;
    }
  }
}
