{{- partial "head.html" . -}}


<main>
  <header class="main-header">
    {{ partial "top-banner" . }}
    {{ with (.Site.GetPage "menu") }}{{ partial "menu" . }}{{ end }}
    {{ with (.Site.GetPage "enterprise-solutions-hero") }}{{ partial "enterprise-solutions-hero" . }}{{ end }}
  </header>
</main>

{{ with (.Site.GetPage "enterprise-solutions-use-cases") }}{{ partial "enterprise-solutions-use-cases" . }}{{ end }}
{{ with (.Site.GetPage "testimonial") }}{{ partial "testimonial" . }}{{ end }}
{{ with (.Site.GetPage "enterprise-benefits") }}{{ partial "enterprise-benefits" . }}{{ end }}
{{ with (.Site.GetPage "get-contacted") }}{{ partial "get-contacted" . }}{{ end }}
{{ with (.Site.GetPage "get-started") }}{{ partial "get-started" . }}{{ end }}
{{ with (.Site.GetPage "footer") }}{{ partial "footer" . }}{{ end }}
