{{ define "main" }}
  {{ partial "site-header" . }}
  {{ partial "enterprise-solutions-hero" . }}

  {{ partial "enterprise-solutions-use-cases" . }}

  {{ with (.Site.GetPage "/customers/customers-testimonial-0") }}
    {{ partial "testimonial-light" (dict "context" . "class" "customers-testimonial pt-1 pb-7") }}
  {{ end }}

  {{ partial "enterprise-solutions-capabilities" . }}

  {{ partial "enterprise-solutions-challenges" . }}

  {{ partial "enterprise-solutions-testimonials" . }}

  {{ with (.Site.GetPage "/headless/get-contacted-with-question-sales") }}
    {{ partial "get-contacted" (dict "context" . "class" "get-contacted-with-question") }}
  {{ end }}

  {{ partial "get-started" . }}
{{ end }}
