{{ with (.Site.GetPage "/ai-agents/ai-agents-how-it-works") }}
  <section class="ai-agents-how-it-works">
    <div class="container">
      <p class="ai-agents-how-it-works__subtitle">{{ .Params.subtitle }}</p>
      <h2 class="ai-agents-how-it-works__title">{{ .Params.title }}</h2>
      <p class="ai-agents-how-it-works__description">{{ .Params.description }}</p>
      <div class="row g-6 ai-agents-how-it-works__cards">
        {{ range $index, $step := .Params.steps }}
          <div class="col-12 col-lg-4 ai-agents-how-it-works__card">
            <div class="card without-copy-code">
              <span class="ai-agents-how-it-works__card-index">0{{ add $index 1 }}</span>
              <h6 class="ai-agents-how-it-works__card-title">{{ .title }}</h6>
              <p class="ai-agents-how-it-works__card-description">{{ .description }}</p>
              {{ with .code }}
                {{ $lang := $.Params.language | default "python" }}
                {{ highlight . $lang "" }}
              {{ end }}
              {{ $num := add $index 1 }}
              {{ if or (eq $num 1) (eq $num 2) }}
                <div class="ai-agents-how-it-works__card-line"></div>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
      <div class="ai-agents-how-it-works__preview">
        <img src="{{ .Params.image.src }}" alt="{{ .Params.image.alt }}">
      </div>
    </div>
  </section>
{{ end }}