{{ define "main" }}
  {{ partial "site-header" . }}

  {{ partial "pricing/qdrant-pricing-hero" . }}

  {{ with (.Site.GetPage "/pricing/qdrant-pricing-doors-b") }}
    {{ partial "pricing/qdrant-pricing-doors" (dict "context" . "class" "qdrant-pricing-doors-b") }}
  {{ end }}

  {{ partial "pricing/qdrant-pricing-calculator" . }}

  {{ with (.Site.GetPage "/pricing/qdrant-pricing-features") }}
    {{ partial "pricing/qdrant-pricing-features" . }}
  {{ end }}

  {{ with (.Site.GetPage "/pricing/qdrant-pricing-faq") }}
    {{ partial "pricing/qdrant-pricing-faq" . }}
  {{ end }}

  {{ with (.Site.GetPage "/pricing/qdrant-pricing-cta") }}
    {{ partial "pricing/qdrant-pricing-cta" . }}
  {{ end }}

{{ end }}
