{{ define "main" }}

{{ partial "site-header" . }}

{{ partial "qdrant-pricing-hero" . }}

{{ with (.Site.GetPage "/pricing/qdrant-pricing-doors-b") }}
{{ partial "qdrant-pricing-doors" (dict "context" . "class" "qdrant-pricing-doors-b") }}
{{ end }}

{{ partial "qdrant-pricing-calculator" . }}

{{ with (.Site.GetPage "/pricing/qdrant-pricing-features") }}
{{ partial "qdrant-pricing-features" . }}
{{ end }}

{{ with (.Site.GetPage "/pricing/qdrant-pricing-faq") }}
{{ partial "qdrant-pricing-faq" . }}
{{ end }}

{{ with (.Site.GetPage "/pricing/qdrant-pricing-cta") }}
{{ partial "qdrant-pricing-cta" . }}
{{ end }}

{{ end }}
