@use '../helpers/functions' as *;

.about-us-values {
  background-color: $neutral-94;

  &__container {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: pxToRem(1);
      background-color: $neutral-90;
      left: 0;
      bottom: 0;
    }
  }

  &__card {
    padding: $spacer * 1.5 $spacer * 2.5;

    &-logo {
      height: $spacer * 3;
      width: $spacer * 3;
      margin-bottom: $spacer;
    }

    &-title {
      margin-bottom: 0;
      font-size: map-get($font-sizes-text, l);
      line-height: pxToRem(27);
      color: $neutral-30;
    }
  }

  @include media-breakpoint-up(xl) {
    &__container {
      padding-top: $spacer * 5;
      padding-bottom: $spacer * 5;
    }

    &__cards {
      max-width: pxToRem(914);
    }
  }
}
