@use 'sass:math';
@use '../helpers/functions' as *;

.accordion {
  max-width: pxToRem(800);
  margin: 0 auto;
  border-top: pxToRem(1) solid $neutral-80;

  &__item {
    border-bottom: pxToRem(1) solid $neutral-80;

    &-header {
      position: relative;
      display: flex;
      align-items: center;
      min-height: pxToRem(98);
      margin-bottom: 0;
      padding: math.div($spacer, 4) $spacer * 3 math.div($spacer, 4) 0;
      color: $neutral-20;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: calc(50% - pxToRem(12));
        height: $spacer * 1.5;
        width: $spacer * 1.5;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2.78711V22.7871' stroke='%232F6FF0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 12.7871H2' stroke='%232F6FF0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &-body {
      padding-right: $spacer * 1.5;
      font-size: $font-size-l;
      line-height: $line-height-lg;
      color: $neutral-40;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      &-content {
        margin-bottom: $spacer * 2.5;

        ul {
          list-style-type: "- ";
          padding-left: pxToRem(14);
        }

        a {
          border-bottom: 2px solid $primary-50;
        }
      }
    }

    &.active {
      .accordion__item-header:after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 12.7871H2' stroke='%232F6FF0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &__item {
      &-header {
        padding: math.div($spacer, 4) $spacer * 5.5 math.div($spacer, 4) $spacer * 2.5;

        &:after {
          right: $spacer * 2.5;
        }
      }

      &-body {
        padding: 0 $spacer * 5 0 $spacer * 2.5;
      }
    }
  }
}
