@use '../helpers/functions' as *;

.additional-resources {
  position: relative;
  overflow: hidden;
  background-color: $neutral-10;

  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  padding-left: $spacer * 0.5;
  padding-right: $spacer * 0.5;

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: $spacer * 3;
    font-size: $spacer * 2;
    line-height: rem(38);
    color: $neutral-98;
    width: 100%;
  }

  &__cards {
    justify-content: space-between;
    gap: rem(30);
  }

  &__card {
    &-info {
      background: linear-gradient($neutral-20, #0E1424);
      padding-top: $spacer * 1.5;
      padding-bottom: $spacer * 1.5;
      padding-left: $spacer * 1.5;
      padding-right: $spacer * 1.5;
      border-radius: calc($spacer / 2);

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      svg {
        max-width: rem(24);
        max-height: rem(24);
      }
    }
  }

  &__card-title {
    color: $neutral-98;
    margin-top: $spacer * 1.5;
    margin-bottom: $spacer;
    line-height: rem(34);
  }

  &__card-content {
    color: $neutral-70;
    margin-bottom: $spacer * 1.5;
    font-size: map-get($font-sizes-text, 's');
    line-height: rem(21);
    font-weight: 500;
  }

  &__card-link {
    color: $neutral-98;
    font-weight: 500;
    font-size: map-get($font-sizes-text, 'm');
    text-decoration: none;
  }

  &__overlay-top {
    position: absolute;
    right: 0;
    top: 0;
    width: rem(323);
    height: rem(320);
    background-image: url('/img/blurred/blurred-light-4-mobile.png');
    background-position: top;
    background-size: cover;
  }

  &__overlay-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: rem(375);
    height: rem(377);
    background-image: url('/img/blurred/blurred-light-5-mobile.png');
    background-position: bottom;
    background-size: cover;
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__wrapper {
      max-width: rem(1134);
    }

    &__title {
      font-size: map-get($font-sizes, 3);
      line-height: rem(57);
      margin-bottom: $spacer * 4;
    }

    &__cards {
      justify-content: space-between;
      gap: 0;
      padding: 0 rem(12);
    }

    &__card {
      max-width: rem(255);
      padding: 0;

      &-info {
        width: 100%;
        min-height: rem(333);
      }
    }

    &__overlay-top {
      background-image: url('/img/blurred/blurred-light-4.png');
    }

    &__overlay-bottom {
      width: rem(637);
      height: rem(376);
      background-image: url('/img/blurred/blurred-light-5.png');
    }
  }
}
