@use '../helpers/functions' as *;

.brand-resources-content {
  padding-bottom: $spacer * 2.5;
  background-color: $neutral-94;

  &__container {
    @extend .container;
  }

  &__block {
    padding-top: $spacer * 2.5;
    padding-bottom: $spacer * 2.5;
  }

  &__title {
    margin-bottom: $spacer * 1.5;
    font-size: $spacer * 2;
    line-height: pxToRem(38);
    color: $neutral-20;
  }

  &__description {
    margin-bottom: $spacer * 2.5;
    font-size: pxToRem(18);
    line-height: pxToRem(27);
    color: $neutral-20;
  }

  &__subtitle {
    margin-top: $spacer * 5;
    margin-bottom: $spacer * 2.5;
    font-size: $spacer * 2;
    line-height: pxToRem(38);
    color: $neutral-20;
  }

  &__logos {
    & > div:last-of-type {
      .brand-resources-content__logos-logo {
        background-color: $neutral-10;
      }
    }

    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      width: 100%;
      max-width: pxToRem(288);
      height: $spacer * 7.5;
      margin-bottom: $spacer * 2;
      border-radius: $spacer * 0.5;

      img {
        height: $spacer * 3.5;
      }
    }

    &-title {
      margin-bottom: $spacer * 0.5;
      font-size: pxToRem(20);
      line-height: pxToRem(30);
      color: $neutral-20;
    }

    &-link {
      align-self: flex-start;
    }
  }

  &__colors {
    display: flex;
    flex-direction: column;
    gap: pxToRem(10);

    &-card {
      width: 100%;
      height: $spacer * 7.5;
      padding: pxToRem(12);
      border-radius: $spacer * 0.5;
      color: $neutral-100;

      &:last-of-type {
        color: $neutral-10;
        background-color: $neutral-100;
      }
    }

    &-title {
      margin-bottom: $spacer * 0.5;
    }

    &-code {
      display: flex;
      gap: $spacer * 0.5;

      span {
        font-size: pxToRem(12);
        line-height: pxToRem(18);
        font-weight: 300;
      }
    }
  }

  &__typography {
    display: flex;
    flex-direction: column;
    gap: $spacer;

    &-example {
      margin-bottom: 0;
      font-size: $spacer * 5;
      line-height: $spacer * 6;
      color: $neutral-30;
    }

    &-specimen {
      margin-bottom: $spacer;
      color: $neutral-30;
    }
  }

  @include media-breakpoint-up(md) {
    &__typography {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  @include media-breakpoint-up(lg) {
    &__container {
      max-width: pxToRem(920);
      padding: 0 $spacer;
    }

    &__colors {
      flex-direction: row;

      &-card {
        width: calc(100% / 6);
        height: pxToRem(240);
      }
    }

    &__typography {
      padding: $spacer * 3;

      &-example {
        font-size: $spacer * 7;
        line-height: $spacer * 8.5;
        color: $neutral-30;
      }

      &-specimen {
        font-size: pxToRem(20);
        line-height: pxToRem(30);
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: 0;

    &__block {
      padding-top: $spacer * 5;
      padding-bottom: $spacer * 5;
    }

    &__title {
      font-size: $spacer * 3;
      line-height: pxToRem(57);
    }

    &__description {
      font-size: pxToRem(20);
      line-height: pxToRem(30);
    }

    &__subtitle {
      font-size: $spacer * 2.5;
      line-height: $spacer * 3;
    }
  }
}
