@use '../helpers/functions' as *;

.case-study {
  display: flex;
  flex-direction: column;
  background-color: $neutral-10;
  border-radius: $spacer * 0.5;
  overflow: hidden;
  position: relative;

  &__content {
    position: relative;
    padding: $spacer * 2.5 $spacer * 1.5;
  }

  &__logo {
    width: rem(120);
    margin-bottom: $spacer * 1.5;
  }

  &__title {
    color: $neutral-98;
    margin-bottom: $spacer * 1.5;
  }

  &__description {
    font-size: rem(18);
    line-height: rem(27);
    color: $neutral-70;
    margin-bottom: $spacer * 1.5;
  }

  &__preview {
    position: relative;
    align-self: flex-end;
    width: calc(100% - 24px);
    max-width: rem(440);
    margin-left: $spacer * 1.5;
    background-image: url('/img/case-study-bg.svg');
    background-size: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    z-index: 1;

    &-image {
      width: 100%;
      padding: rem(28) 0 0 rem(28);
    }

    &-overlay {
      position: absolute;
      left: -20%;
      bottom: 0;
      width: 100%;
      height: 0;
      padding-bottom: 79%;
      background-image: url('/img/blurred/blurred-light-13.svg');
      background-position: top;
      background-size: cover;
      border-radius: 0 rem(12) 0 0;
      z-index: -1;
    }
  }

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    justify-content: space-between;

    &__content {
      padding: $spacer * 4 $spacer * 3 $spacer * 4 $spacer * 5;
    }

    &__description {
      margin-bottom: $spacer * 5;
    }

    &__preview {
      &-image {
        padding: $spacer * 2.5 0 0 $spacer * 2.5;
      }

      &-overlay {
        width: rem(597);
        height: rem(472);
        left: -150px;
      }
    }
  }
}
