@use '../helpers/functions' as *;

.cloud-inference-hero {
  position: relative;
  padding-top: $spacer * 2.5;
  padding-bottom: $spacer * 4;
  background-color: $neutral-10;

  &__title {
    margin: $spacer * 1.5 0;
    font-size: $h4-font-size;
    line-height: $h3-font-size;
    color: $neutral-98;
  }

  &__description {
    max-width: pxToRem(500);
    margin-bottom: $spacer * 2;
    font-size: $font-size-xl;
    line-height: pxToRem(30);
    color: $neutral-70;
  }

  &__image {
    width: 100%;
    max-width: pxToRem(540);
  }

  &__overlay {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: pxToRem(176);
    background-image: url('/img/blurred/blurred-light-11.png');
    background-position: center;
    background-size: cover;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 7.5;

    &__title {
      font-size: $h2-font-size;
      line-height: pxToRem(67);
    }
  }
}
