@use '../helpers/functions' as *;

.contact-form {
  position: relative;
  width: 100%;
  padding: $spacer * 2.5 $spacer * 1.5;
  border-radius: $spacer * 0.5;
  background: linear-gradient($neutral-20, #0e1424);
  color: $neutral-98;

  &__title {
    margin-bottom: $spacer * 0.5;
    color: $neutral-98;
  }

  &__description {
    margin-bottom: 0;
    font-size: pxToRem(14);
    line-height: pxToRem(21);
    color: $neutral-70;
  }

  form {
    $last-row-margin: pxToRem(34);

    display: flex;
    margin-top: $spacer * 2;
    flex-wrap: wrap;
    justify-content: space-between;

    .hs_submit {
      width: 100%;
      text-align: center;
      margin-top: $spacer;
      flex-grow: 1;

      @include media-breakpoint-up(md) {
        width: 50%;
        text-align: right;
        margin-top: $last-row-margin;
      }

      input[type='submit'] {
        width: 100%;
        @include media-breakpoint-up(md) {
          width: auto;
        }
      }
    }

    fieldset {
      &.form-columns-1:has(> .legal-consent-container) {
        width: auto;
        margin-bottom: 0;
      }

      .legal-consent-container {
        flex-grow: 0;
        .inputs-list {
          list-style: none;
          padding-left: 0;
        }
      }
    }
  }

  .submitted-message {
    text-align: center;
    margin-top: $spacer * 4;
  }

  .hs_error_rollup {
    position: absolute;
    bottom: -20px;
    right: 0;
  }

  &__top-overlay {
    position: absolute;
    right: 0;
    top: 0;
    width: pxToRem(220);
    height: pxToRem(192);
    background-image: url('/img/blurred/blurred-light-9.png');
    background-position: top;
    background-size: cover;
    border-radius: 0 pxToRem(12) 0 0;
  }

  @include media-breakpoint-up(xl) {
    padding: $spacer * 3 $spacer * 2.5;
  }
}
