@use '../helpers/functions' as *;
@use '../mixins/marquee' as marquee;

.customers-hero {
  position: relative;
  padding-top: $spacer * 2.5;
  text-align: center;
  overflow: hidden;
  background-color: $neutral-10;
  color: $neutral-98;

  &__title {
    font-size: $spacer * 2.5;
    line-height: $spacer * 3;
    color: $neutral-98;
    margin-bottom: $spacer * 1.5;
  }

  &__description {
    font-size: pxToRem(18);
    line-height: pxToRem(27);
    color: $neutral-70;
    margin-bottom: $spacer;
  }

  &__overlay {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: pxToRem(240);
    background-image: url('/img/blurred/blurred-light-14.svg');
    background-position: center;
    background-size: cover;
  }

  .customer-list.dark {
    background-color: transparent;

    .customer-list__logos__container:after,
    .customer-list__logos__container:before {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 3.5;

    &__title {
      font-size: $spacer * 4;
      line-height: pxToRem(76);
    }

    &__description {
      font-size: pxToRem(20);
      line-height: pxToRem(30);
      max-width: pxToRem(640);
      margin-left: auto;
      margin-right: auto;
    }

    &__overlay {
      bottom: 0;
    }
  }
}
