@use '../helpers/functions' as *;

.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: pxToRem(64) pxToRem(20) pxToRem(80);
  background: $neutral-10;

  &__grid {
    display: flex;
    flex-direction: column;
    gap: pxToRem(24);
    width: 100%;
    max-width: pxToRem(1110);
  }

  &__row {
    display: flex;
    align-items: center;
    gap: pxToRem(8);
    overflow: hidden;
  }

  &__logo {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: pxToRem(56);
    min-width: 0;
    padding: 0 pxToRem(10);

    svg {
      display: block;
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }
}
