@use '../helpers/functions' as *;

.customers-case-studies {
  background-color: $neutral-94;

  &__cards {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 0.5;
  }

  &__card {
    &-preview {
      position: relative;
      margin-bottom: $spacer * 1.5;
      border-radius: pxToRem(4);
      overflow: hidden;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 36%;
        background-image: url('/img/customers-case-studies/card-overlay.svg');
        background-position: top;
        background-size: cover;
      }
    }

    &-image {
      width: 100%;
    }

    &-logo {
      position: absolute;
      left: $spacer;
      bottom: $spacer * 0.5;
      height: $spacer * 4;
      z-index: 1;
    }

    &-title {
      padding: $spacer 0;
      font-weight: 500;
    }

    &-link {
      margin-bottom: $spacer * 0.5;
      font-weight: 500;
    }
  }

  @include media-breakpoint-up(lg) {
    &__cards {
      padding-bottom: 0;
    }

    &__card {
      &-link {
        margin-bottom: 0;
      }
    }
  }
}
