@use '../helpers/functions' as *;

.data-analysis-anomaly-detection {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  background-color: $neutral-94;

  &__content {
    margin-bottom: $spacer * 5;
  }

  &__title {
    font-size: $spacer * 2;
    line-height: pxToRem(38);
    margin-bottom: $spacer * 1.5;
    color: $neutral-20;
  }

  &__description {
    color: $neutral-30;
    margin-bottom: $spacer * 2.5;
  }

  &__preview {
    width: 100%;
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 6.5;
    padding-bottom: $spacer * 6.5;

    &__content {
      margin-bottom: $spacer * 10;
    }

    &__title {
      font-size: $spacer * 3;
      line-height: pxToRem(57);
    }

    &__description {
      font-size: pxToRem(18);
      line-height: pxToRem(27);
      margin-bottom: 0;
    }
  }
}
