@use '../helpers/functions' as *;

.documentation {
  background-color: $neutral-10;
  min-height: calc(100vh - 80px);
  color: $neutral-70;

  &__container {
    @extend .container;
    max-width: pxToRem(1440);
    margin: 0 auto 0 0;
  }

  @include media-breakpoint-up(xl) {
    &__container {
      padding: 0;
    }

    &__content {
      width: calc(100% - 544px);
      padding: $spacer * 1.5 $spacer * 2.5 0 $spacer * 3.5;
      margin-left: pxToRem(256);
      border-left: pxToRem(1) solid $neutral-20;
    }
  }

  [data-theme='light'] & {
    background-color: $neutral-98;
    color: $neutral-30;

    &__content {
      border-left-color: $neutral-80;
    }
  }
}
