@use '../helpers/functions' as *;
@use '../mixins/mixins' as *;

.documentation-article {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 1.5;

  h1 {
    font-size: $spacer * 2;
    line-height: pxToRem(38);
    color: $neutral-98;
    margin-bottom: $spacer;
    padding-top: $spacer * 0.5;
  }

  h2,
  h3,
  h4 {
    font-size: $spacer * 1.5;
    line-height: pxToRem(34);
    color: $neutral-98;
    margin-bottom: $spacer;
    padding-top: $spacer * 0.5;
  }

  p, summary {
    margin-bottom: $spacer;
  }

  a:hover {
    text-decoration: underline;
  }

  @include content-image($font-size-sm, $neutral-90, $spacer);

  li:not(:last-of-type) {
    margin-bottom: $spacer * 0.5;
  }

  code:not([class]) {
    padding: pxToRem(4);
    color: $neutral-90;
    background-color: $neutral-20;
  }

  .table-responsive {
    .table {
      @extend .table-dark;
    }
    th,
    td {
      background: inherit;
      img {
        margin: 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    margin: -8px 0 -16px;
    padding: 0 $spacer * 1.5;
  }
}

[data-theme='light'] {
  .documentation-article {
    h1,
    h2,
    h3,
    h4 {
      color: $neutral-20;
    }

    code:not([class]) {
      color: $neutral-20;
      background-color: #d9e2fe;
      padding: 0.2em 0.4em;
      border-radius: 0.4em;
    }

    .table-responsive {
      .table {
        @extend .table-light;
      }
    }
  }
}
