@use '../helpers/functions' as *;

.docs-menu {
  background-color: $neutral-20;
  border-top: 1px solid $neutral-30;
  margin: 0 -16px;

  &--active {
    .docs-menu__content {
      display: block;
    }

    .docs-menu__header .docs-menu__button svg {
      transform: rotate(180deg);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(15) rem(20);
  }

  &__header h2 {
    font-size: map-get($font-sizes-text, 'l');
    line-height: rem(27);
    font-weight: 400;
    color: $neutral-90;
    margin: 0;
  }

  &__content {
    display: none;
    padding: $spacer * 1.5 $spacer * 2.5;
  }

  &__input {
    position: relative;
  }

  &__input svg {
    position: absolute;
    top: 50%;
    left: $spacer;
    transform: translateY(-50%);
  }

  &__input input {
    padding-left: $spacer * 2.5;
  }

  &__links {
    padding: 0;
    margin-top: $spacer * 1.5;
    margin-bottom: 0;
    list-style: none;
  }

  &__title {
    color: $neutral-98;
    font-weight: bold;
    font-size: map-get($font-sizes-text, 'l');
    line-height: rem(27);
    margin: 0 0 $spacer;
  }

  &__section {
    margin-bottom: $spacer * 1.5;
  }

  &__section:last-of-type {
    margin-bottom: 0;
  }

  &__menu {
    color: $neutral-70;
    list-style: none;
    padding: 0;
  }

  &__menu-item {
    font-size: map-get($font-sizes-text, 'md');
    line-height: rem(24);
    margin-bottom: rem(12);

    &.active {
      padding: rem(4) 0 rem(4) $spacer;
      border-left: rem(1) solid $primary-50;
      font-weight: 600;
      background-color: $neutral-30;
      color: $neutral-90;
    }
  }

  &__menu-item--active {
    .docs-menu__submenu {
      display: block;
    }

    .docs-menu__button svg {
      transform: rotate(90deg);
    }
  }

  &__menu-item:last-of-type {
    margin-bottom: 0;
  }

  &__menu-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__button {
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    width: rem(24);
    height: rem(24);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__submenu {
    display: none;
    list-style: none;
    padding-left: $spacer;
    margin-top: calc($spacer / 2);
  }

  &__submenu-item {
    margin-bottom: calc($spacer / 2);
  }

  &__submenu-item:last-of-type {
    margin-bottom: 0;
  }

  &__submenu-item a {
    color: $neutral-70;
    font-size: rem(14);
    line-height: rem(21);
  }

  @include media-breakpoint-up(xl) {
    background-color: $neutral-10;
    margin: 0;

    &__header {
      display: none;
    }

    &__content {
      display: block;
      padding: 0;
    }

    &__menu-item {
      &.active {
        background-color: $neutral-20;
      }
    }
  }
}
