@use '../helpers/functions' as *;

.docs-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: $spacer;
  padding: $spacer * 2.5 0;

  &__title {
    color: $neutral-98;
    font-size: pxToRem(18);
    line-height: pxToRem(27);
    margin: 0;
  }

  &__buttons {
    display: flex;
    gap: $spacer * 0.5;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: $spacer * 0.5;
    box-shadow: 0 0 0 pxToRem(1) $neutral-30;
  }

  @include media-breakpoint-up(xl) {
    justify-content: flex-start;
  }

  [data-theme='light'] & {
    &__title {
      color: $neutral-20;
    }
    &__button {
      img {
        filter: invert(1);
      }
    }
  }
}
