@use '../helpers/functions' as *;

.documentation {
  padding-top: $spacer;
  background-color: $neutral-10;
  color: $neutral-70;

  &__container {
    @extend .container;
    max-width: pxToRem(1440);
    padding: 0 $spacer;
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 7.5;

    &__container {
      padding: 0 $spacer * 2.5;
    }
  }
}

[data-theme='light'] {
  .documentation {
    background-color: $neutral-98;
    color: $neutral-30;
  }
}
