@use '../helpers/functions' as *;

.edge-beta-form {
  position: relative;
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  background-color: $neutral-10;
  overflow: hidden;

  &__title {
    margin-bottom: $spacer * 1.5;
    font-size: $h5-font-size;
    line-height: pxToRem(38);
    color: $neutral-98;
    text-align: center;
  }

  &__description {
    max-width: pxToRem(730);
    margin: 0 auto $spacer * 3;
    font-size: $font-size-xl;
    line-height: pxToRem(30);
    color: $neutral-70;
    text-align: center;
  }

  .contact-form {
    &__top-overlay {
      width: pxToRem(210);
      height: pxToRem(210);
      background-image: url('/img/blurred/blurred-light-15.svg');
    }
  }

  &__overlay {
    position: absolute;
    left: 0;
    bottom: -$spacer * 1.5;
    width: pxToRem(637);
    height: pxToRem(444);
    background-image: url('/img/blurred/blurred-light-19.svg');
    background-position: bottom;
    background-size: cover;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__title {
      font-size: $h3-font-size;
      line-height: pxToRem(58);
    }
  }
}
