@use '../helpers/functions' as *;

.enterprise-solutions-use-cases {
  background-color: $neutral-94;

  padding-top: $spacer * 3;
  padding-bottom: $spacer * 3;

  &__title {
    margin-bottom: $spacer * 5;
    font-size: $spacer * 2.5;
    line-height: $spacer * 3;
    color: $neutral-20;
    text-align: center;
  }

  &__cases {
    gap: $spacer * 5;
  }

  &__case {
    display: flex;
    flex-direction: column;
    gap: $spacer * 2.5;

    &-text {
      width: 100%;
    }

    &-link {
      font-size: pxToRem(20);
      line-height: pxToRem(30);
      margin-bottom: $spacer * 2.5;
    }

    &-title {
      font-size: $spacer * 2;
      line-height: pxToRem(38);
      margin-bottom: $spacer * 1.5;
      color: $neutral-20;
    }

    &-description {
      font-size: $spacer;
      line-height: $spacer * 1.5;
      margin-bottom: $spacer * 1.5;
      color: $neutral-40;
    }

    &-preview {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 10;

    &__title {
      margin-bottom: $spacer * 7.5;
      font-size: $spacer * 3.5;
      line-height: pxToRem(67);
    }

    &__cases {
      gap: $spacer * 7.5;

      & > div:last-of-type {
        img {
          width: pxToRem(394);
          margin-left: pxToRem(50);
        }
      }
    }

    &__case {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &.case-reversed {
        flex-direction: row-reverse;
      }

      &-text {
        width: pxToRem(445);
      }

      &-link {
        margin-bottom: 0;
      }

      &-title {
        font-size: $spacer * 3;
        line-height: pxToRem(57);
      }

      &-description {
        font-size: pxToRem(18);
        line-height: pxToRem(27);
      }

      &-preview {
        width: pxToRem(540);
        text-align: left;
        order: initial;

        img {
          width: 100%;
          text-align: right;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &__case {
      gap: 0;
    }
  }
}
