@use '../helpers/functions' as *;

.enterprise-benefits {
  background-color: $neutral-94;

  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;

  &__title {
    margin-bottom: $spacer * 2.5;
    font-size: $spacer * 2;
    line-height: rem(38);
    color: $neutral-20;
  }

  &__cards {
    gap: $spacer * 2;
  }

  &__card {
    &-info {
      justify-content: flex-start;
      padding-top: $spacer * 2;
      padding-bottom: $spacer * 2;
    }

    &-icon {
      height: $spacer * 1.5;
      width: $spacer * 1.5;
      margin-bottom: $spacer;
    }

    &-title {
      font-size: $spacer * 1.5;
      line-height: rem(34);
      margin-bottom: $spacer;
      color: $neutral-20;
    }

    &-description {
      font-size: rem(18);
      line-height: rem(27);
      margin-bottom: 0;
      color: $neutral-30;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 5;

    &__title {
      margin-bottom: $spacer * 4;
      font-size: $spacer * 3;
      line-height: rem(57);
      text-align: center;
    }

    &__cards {
      justify-content: space-between;
      column-gap: 0;
    }

    &__card {
      width: calc(50% - 3px);

      &-info {
        padding-bottom: $spacer * 3;
      }
    }
  }
}
