@use '../helpers/functions' as *;

.enterprise-solutions-use-cases {
  background-color: $neutral-94;

  padding-top: $spacer * 3;
  padding-bottom: $spacer * 3;
  padding-left: $spacer * 0.5;
  padding-right: $spacer * 0.5;

  &__wrapper {
    justify-content: center;
  }

  &__title {
    margin-bottom: $spacer * 5;
    font-size: $spacer * 2.5;
    line-height: $spacer * 3;
    text-align: center;
  }

  &__cases {
    gap: $spacer * 5;
  }

  &__case {
    &-text {
      .link {
        font-size: rem(20);
        line-height: rem(30);
        margin-bottom: $spacer * 2.5;
      }
    }

    &-title {
      font-size: $spacer * 2;
      line-height: rem(38);
      margin-bottom: $spacer * 1.5;
    }

    &-description {
      font-size: $spacer;
      line-height: $spacer * 1.5;
      margin-bottom: $spacer * 1.5;
    }

    &-preview {
      img {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 10;

    &__wrapper {
      max-width: rem(1134);
    }

    &__title {
      margin-bottom: $spacer * 7.5;
      font-size: $spacer * 3.5;
      line-height: rem(67);
    }

    &__cases {
      gap: $spacer * 7.5;

      & > div:last-of-type {
        img {
          padding-left: rem(50);
        }
      }
    }

    &__case {
      justify-content: space-between;
      align-items: center;

      &.case-reversed {
        flex-direction: row-reverse;
      }

      &-text .link {
        margin-bottom: 0;
      }

      &-title {
        font-size: $spacer * 3;
        line-height: rem(57);
      }

      &-description {
        font-size: rem(18);
        line-height: rem(27);
      }

      &-preview {
        width: rem(564);
        text-align: left;
        order: initial;

        img {
          width: auto;
        }
      }
    }
  }
}
