@use '../helpers/functions' as *;

.enterprise-solutions-hero {
  padding-top: $spacer * 2.5;
  text-align: center;

  &__title {
    font-size: $spacer * 2.5;
    line-height: $spacer * 3;
    margin-bottom: $spacer * 1.5;
    color: $neutral-98;
  }

  &__description {
    font-size: rem(18);
    line-height: rem(27);
    margin-bottom: $spacer * 2;
    color: $neutral-70;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacer * 1.5;

    .button {
      min-width: $spacer * 12.5;
    }
  }

  &__preview-mobile {
    width: 100%;
    padding: 0 rem(12);
  }

  &__preview {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 0;
    padding-right: 0;
    padding-top: $spacer * 5;

    &__title {
      font-size: $spacer * 4;
      line-height: rem(76);
    }

    &__description {
      max-width: rem(730);
      font-size: rem(20);
      line-height: rem(30);
      margin: 0 auto $spacer * 2 auto;
    }

    &__buttons {
      flex-direction: row;

      .button {
        min-width: auto;
      }
    }

    &__preview-mobile {
      display: none;
    }

    &__preview {
      display: block;
      width: 100%;
      padding: 0;
    }
  }
}
