@use '../helpers/functions' as *;

.get-started-small {
  background-color: $neutral-94;

  padding-top: $spacer * 1.5;
  padding-bottom: $spacer * 2.5;

  &__content {
    position: relative;
    background: linear-gradient($neutral-20, #0e1424);
    border-radius: $spacer * 0.5;
    overflow: hidden;

    a {
      margin-bottom: $spacer * 2.5;
    }

    img {
      width: 100%;
      padding: 0 rem(17.5);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    padding: $spacer * 2.5 $spacer * 1.5 0 $spacer * 1.5;
    margin-bottom: $spacer * 1.5;
    font-size: $spacer * 1.5;
    line-height: rem(34);
    text-align: center;
    color: $neutral-98;
  }

  &__overlay-top {
    position: absolute;
    right: 0;
    top: 0;
    width: rem(220);
    height: rem(220);
    background-image: url('/img/blurred/blurred-light-6-mobile.png');
    background-position: top;
    background-size: cover;
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 7.5;

    &__wrapper {
      max-width: rem(1134);
    }

    &__content {
      background: linear-gradient(to left, $neutral-20, #0e1424);

      img {
        padding: 0;
        width: rem(300);
        height: rem(210);
      }

      a {
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: $spacer * 2;
      line-height: rem(38);
      text-align: left;
      padding: 0;
    }

    &__text {
      align-items: flex-start;
      padding-left: rem(76);
    }

    &__image {
      text-align: right;
    }

    &__overlay-top {
      height: rem(210);
      background-image: url('/img/blurred/blurred-light-6.png');
    }
  }
}
