@use '../helpers/functions' as *;
@use 'sass:math';

.hero {
  padding-top: $spacer * 2.5;
  position: relative;
  background: url('/img/stars-pattern.png') $neutral-10;

  &__content {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
  }

  &__image {
    width: 100%;
    min-height: pxToRem(480);
    margin: pxToRem(-142) auto 0;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      $height: math.div(-100vw, 2.46); // image's aspect ratio 2.46 / 1
      margin-top: calc(#{$height} * 0.34);
    }

    img {
      display: block;
      width: 250%;
      height: auto;
      margin-left: -75%;

      @include media-breakpoint-up(md) {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  &__title {
    color: $neutral-98;
    text-align: center;
    width: 100%;
    margin-bottom: $spacer;
    font-size: map-get($font-sizes, 4);
    line-height: pxToRem(48);
  }

  &__subtitle {
    color: $neutral-70;
    text-align: center;
    font-size: pxToRem(18);
    line-height: pxToRem(27);
    max-width: 100%;
    margin: 0 auto $spacer * 1.5;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacer * 1.5;
    margin-bottom: $spacer * 5;
  }

  &__buttons a {
    min-width: pxToRem(200);
  }

  &__stars {
    position: absolute;
    right: $spacer;
    bottom: $spacer;
    border-radius: 8px;

    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: calc($spacer / 2);
    padding-bottom: calc($spacer / 2);
    padding-left: pxToRem(20);
    padding-right: pxToRem(20);

    background-color: $neutral-10;
    transition: bottom 1s ease-in-out;
  }

  &__stars svg {
    max-width: pxToRem(24);
    max-height: pxToRem(24);
  }

  &__stars-text {
    color: $neutral-98;
    margin-right: calc($spacer / 2);
    margin-left: calc($spacer / 2);
    font-size: map-get($font-sizes-text, 's');
    line-height: pxToRem(21);
    font-weight: 500;
  }

  &__stars-count {
    border-radius: 6px;
    border: 1px solid $neutral-30;
    color: $neutral-98;
    padding-left: calc($spacer / 2);
    padding-right: calc($spacer / 2);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc($spacer / 4);

    height: pxToRem(25);

    font-size: map-get($font-sizes-text, 's');
    line-height: pxToRem(21);
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 5;

    &__content {
      padding: 0;
      max-width: pxToRem(920);
    }

    &__title {
      font-size: map-get($font-sizes, 1);
      line-height: pxToRem(76);
    }

    &__subtitle {
      font-size: map-get($font-sizes-text, 'xl');
      line-height: pxToRem(30);
      max-width: pxToRem(640);
      margin: 0 auto $spacer * 2;
    }

    &__buttons {
      flex-direction: row;
      align-items: flex-start;
    }

    &__buttons a {
      min-width: auto;
    }

    &__stars {
      position: fixed;
      right: $spacer * 1.5;
      bottom: $spacer * 1.5;
      transition: background-color 0.2s;
      z-index: 2;

      &:hover {
        background-color: $neutral-100;
        .hero__stars-text,
        .hero__stars-count {
          color: $neutral-20;
        }
        & > svg path {
          fill: $neutral-20;
        }
      }
    }
  }
}
