@use 'sass:math';
@use '../helpers/functions' as *;

.hr-tech-why-qdrant {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  background-color: $neutral-94;

  &__title {
    margin: 0 auto $spacer * 3;
    font-size: $spacer * 2;
    line-height: pxToRem(38);
    color: $neutral-20;
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacer * 3;
  }

  &__item {
    padding: $spacer * 2;
    background-color: $neutral-98;
    border: 1px solid $neutral-90;
    border-radius: pxToRem(8);

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: pxToRem(56);
      height: pxToRem(56);
      margin-bottom: $spacer * 1.5;
      background-color: $neutral-94;
      border-radius: pxToRem(8);

      img {
        width: pxToRem(28);
        height: pxToRem(28);
      }
    }

    &-title {
      margin-bottom: $spacer * 0.5;
      font-size: pxToRem(20);
      line-height: pxToRem(30);
      color: $neutral-20;
    }

    &-description {
      margin-bottom: 0;
      font-size: pxToRem(18);
      line-height: pxToRem(27);
      color: $neutral-30;

      strong {
        color: $neutral-20;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__title {
      font-size: $spacer * 3;
      line-height: pxToRem(58);
      margin-bottom: $spacer * 5;
    }

    &__grid {
      grid-template-columns: 1fr 1fr;
      gap: $spacer * 3;
    }

    &__item {
      padding: $spacer * 3;
    }
  }
}
