@use '../helpers/functions' as *;

form.hs-form {
  position: relative;

  & > fieldset {
    min-width: 100%;
    margin-bottom: pxToRem(20);

    label {
      margin-bottom: pxToRem(6);
      font-size: pxToRem(14);
      line-height: pxToRem(21);
    }

    legend {
      font-size: pxToRem(14);
      color: $neutral-60;
    }

    & > div.hs-form-field {
      div.input,
      textarea {
        margin: 0;
      }
    }

    &.form-columns-1 {
      display: block;

      & > div.hs-form-field {
        div.input {
          input,
          select,
          textarea {
            width: 100%;
          }
        }
      }
    }
    &.form-columns-2 {
      display: flex;
      flex-direction: column;
      gap: pxToRem(20);

      @include media-breakpoint-up(md) {
        justify-content: space-between;
        flex-direction: row;
      }

      & > div.hs-form-field {
        width: 100%;
        float: none;

        @include media-breakpoint-up(md) {
          $remValue: pxToRem(10);
          max-width: calc(50% - #{$remValue});
        }
      }
      .input > input {
        width: 100% !important;
      }
    }

    // todo: this may be removed once the form is updated
    &.form-columns-0 {
      margin: 0;
      .hs-richtext {
        display: none !important;
      }
    }
  }

  .input {
    padding: 0;
    border: 0;
    margin-bottom: 0;

    input,
    select,
    textarea {
      width: 100%;
      background-color: transparent;
      border: 1px solid $neutral-40;
      border-radius: 8px;
      outline: none;
      color: $neutral-98;
      padding-left: $spacer;
      padding-right: $spacer;
      padding-top: calc($spacer / 2);
      padding-bottom: calc($spacer / 2);

      &:focus {
        border: 1px solid $neutral-100;
      }

      &::placeholder {
        color: $neutral-70;
      }

      &[type='number'] {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
        }
      }

      option {
        color: $neutral-30;
      }
    }

    select {
      background: none;
      -webkit-appearance: none;
      position: relative;
    }

    textarea {
      display: block;
      height: pxToRem(77);
      resize: none;
    }

    .error {
      border-color: $error-50;
    }

    &:has(> select) {
      // this code only works in the modern browsers
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: pxToRem(12);
        right: $spacer;
        height: $spacer;
        width: $spacer;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33203 4.66666L7.9987 11.3333L14.6654 4.66666' stroke='%23D4D9E6' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        pointer-events: none;
      }
    }
  }

  .legal-consent-container {
    p {
      font-size: pxToRem(12);
      line-height: pxToRem(18);
      color: $neutral-60;

      a {
        color: $neutral-80;
        font-weight: 600;
      }
    }
    .hs-form-booleancheckbox-display {
      display: flex;
      align-items: center;

      input[type='checkbox'] {
        width: 1.2rem;
        height: 1rem;
        aspect-ratio: 1/1;
        background-color: transparent;
        border: 1px solid $neutral-40;
        border-radius: 4px;
        outline: none;
        appearance: none;
        padding: 0;

        &:checked {
          border-color: $neutral-100;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNi4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZmlsbD0iI2YwZjJmOSIgZD0iTTQzOC42IDEwNS40YzEyLjUgMTIuNSAxMi41IDMyLjggMCA0NS4zbC0yNTYgMjU2Yy0xMi41IDEyLjUtMzIuOCAxMi41LTQ1LjMgMGwtMTI4LTEyOGMtMTIuNS0xMi41LTEyLjUtMzIuOCAwLTQ1LjNzMzIuOC0xMi41IDQ1LjMgMEwxNjAgMzM4LjcgMzkzLjQgMTA1LjRjMTIuNS0xMi41IDMyLjgtMTIuNSA0NS4zIDB6Ii8+PC9zdmc+');
          background-repeat: no-repeat;
          background-position: center;
        }

        &:focus {
          border: 1px solid $neutral-100;
        }
      }
    }
  }
}

.hs_submit {
  input[type='submit'] {
    padding-left: pxToRem(22);
    padding-right: pxToRem(22);

    font-size: map-get($font-sizes-text, 'md');
    line-height: pxToRem(24);
  }
}

.hs-error-msgs {
  list-style: none;
  padding-left: 0;
  margin: 0;
  color: $error-50;
  font-size: $font-size-xs;
}

.submitted-message {
  color: $success-90;
  font-size: map-get($font-sizes-text, 'md');
  line-height: pxToRem(24);
  text-align: right;
}
