@use '../helpers/functions' as *;

.hybrid-cloud-cases {
  padding-bottom: $spacer * 4;
  background-color: $neutral-94;

  &__cards {
    display: flex;
    flex-direction: column;
    gap: $spacer * 2;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: $spacer;

    &-icon {
      height: $spacer * 1.5;
      width: $spacer * 1.5;
    }

    &-title {
      margin-bottom: 0;
      font-size: pxToRem(20);
      line-height: pxToRem(30);
      color: $neutral-20;
    }

    &-description {
      margin-bottom: 0;
      color: $neutral-30;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 2.5;
    padding-bottom: $spacer * 6.5;

    &__cards {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: pxToRem(30);

      & > div:nth-of-type(1),
      & > div:nth-of-type(2) {
        width: calc(50% - 15px);
      }

      & > div:nth-of-type(3),
      & > div:nth-of-type(4),
      & > div:nth-of-type(5) {
        width: calc((100% / 3) - 20px);
      }
    }

    &__card {
      justify-content: flex-start;
    }
  }
}
