@use '../helpers/functions' as *;

.investors {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  background-color: $neutral-94;

  &__title {
    font-size: map-get($font-sizes, 4);
    line-height: rem(48);
    text-align: center;
    margin-bottom: $spacer * 4;
  }

  &__logos {
    row-gap: $spacer * 4;
  }

  &__logo {
    width: 100%;
    min-height: rem(40);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__title {
      font-size: map-get($font-sizes, 2);
      line-height: rem(67);
      margin-bottom: $spacer * 4;
    }

    &__logos {
      align-items: center;
      min-height: rem(240);
    }
  }
}
