@use '../helpers/functions' as *;

.lang-tabs {
  position: relative;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  background-color: $neutral-30;
  border-radius: $spacer * 0.5 $spacer * 0.5 0 0;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: $spacer;
    background-color: $neutral-20;
  }

  &__button {
    display: flex;
    padding: rem(10) rem(20);
    justify-content: center;
    align-items: center;
    color: $neutral-90;
    cursor: pointer;
    text-indent: -9999px;

    &:first-of-type {
      border-radius: $spacer * 0.5 0 0 0;
    }

    &:before {
      content: '';
      display: inline-block;
      width: $spacer;
      height: $spacer;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &_python {
      &:before {
        background-image: url('/img/lang-switcher/python.svg');
      }
    }
    &_typescript {
      &:before {
        background-image: url('/img/lang-switcher/typescript.svg');
      }
    }
    &_rust {
      &:before {
        background-image: url('/img/lang-switcher/rust.svg');
      }
    }
    &_java {
      &:before {
        background-image: url('/img/lang-switcher/java.svg');
      }
    }
    &_csharp {
      &:before {
        background-image: url('/img/lang-switcher/csharp.svg');
      }
    }

    &:not(.active):hover {
      background: $neutral-20;
      cursor: pointer;
    }

    &.active {
      background-color: $neutral-20;
    }
  }

  @include media-breakpoint-up(xl) {
    &__button {
      gap: $spacer * 0.5;
      text-indent: unset;
    }
  }
}
