@use '../helpers/functions' as *;

.legal-tech-why-qdrant {
  padding-top: $spacer * 2.5;
  padding-bottom: $spacer * 2.5;
  background-color: $neutral-94;

  &__title {
    font-size: $spacer * 2;
    line-height: pxToRem(38);
    color: $neutral-20;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: $spacer * 2.5;
  }

  &__item {
    display: flex;
    align-items: start;
    gap: pxToRem(14);

    &-icon {
      padding: $spacer * 0.5;
      background-color: $neutral-100;
      border-radius: pxToRem(4);
    }

    &-description {
      margin-bottom: 0;
      font-size: pxToRem(18);
      line-height: pxToRem(27);
      color: $neutral-30;
    }
  }

  &__preview {
    margin-top: $spacer * 2.5;

    img {
      display: block;
      width: 100%;
      max-width: pxToRem(540);
      margin: 0 auto;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 5;

    &__title {
      font-size: $spacer * 3;
      line-height: pxToRem(58);
    }

    &__item {
      max-width: pxToRem(445);
    }

    &__preview {
      margin-top: 0;

      img {
        margin-right: 0;
      }
    }
  }
}
