@use '../helpers/functions' as *;

.marketplaces {
  background-color: $neutral-94;
  padding-bottom: $spacer * 4;
  padding-top: $spacer * 4;

  &__title {
    margin-bottom: $spacer * 2.5;
    font-size: rem(40);
    line-height: $spacer * 3;
    color: $neutral-20;
    text-align: center;
  }

  &__cards {
    gap: $spacer * 2;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      margin-bottom: $spacer * 1.5;
    }

    h5 {
      margin-bottom: $spacer * 1.5;
      font-size: rem(20);
      line-height: rem(30);
      color: $neutral-20;
    }
  }

  &__square-grid-overlay {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 7.5;
    position: relative;

    &__wrapper {
      max-width: rem(1134);
      position: relative;
      z-index: 2;
    }

    &__title {
      max-width: rem(728);
      margin: auto;
      margin-bottom: $spacer * 5;
      font-size: $spacer * 3.6;
      line-height: rem(67);
    }

    &__cards {
      justify-content: space-between;
      gap: 0;
      padding: rem(53) 0;

      & > div {
        width: calc(100% / 3 - 34px);
      }
    }

    &__square-grid-overlay {
      display: block;
      position: absolute;
      left: 0;
      bottom: 120px;
      width: 100%;
      height: rem(400);
      background-image: url('/img/square-grid.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
  }
}
