@use '../mixins/mixins' as mixins;
@use '../helpers/functions' as *;

.menu-link {
  text-decoration: none;
  color: $neutral-98;
  cursor: pointer;

  &:hover {
    color: $primary-50;
  }
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(20);
  padding-right: rem(20);
  background: linear-gradient(180deg, #090d19, rgba(9, 13, 25, 0));
  z-index: 1;

  &__trigger {
    outline: none;
    border: none;
    width: rem(40);
    height: rem(40);
    border-radius: 8px;
    z-index: 1;
    background: linear-gradient($neutral-20, #0e1424);
  }

  &__links {
    display: none;
    gap: calc($spacer / 2);
    position: relative;
    margin-bottom: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    padding: 0 $spacer;
    position: relative;
    color: $neutral-98;
    line-height: 1.5;
    white-space: nowrap;
    @include mixins.transitionAll(300ms);

    &:hover {
      .main-menu__subitems {
        display: flex;
      }
    }
  }

  &__subitems {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: rem(24);
    position: absolute;

    border-radius: 12px;
    border: 1px solid $neutral-90;
    background: $neutral-98;
    box-shadow:
      0 1px 2px 0 rgba(22, 30, 51, 0.1),
      0 10px 20px 0 rgba(22, 30, 51, 0.1);
    top: 48px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -7px;
      left: 50%;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $neutral-98;
      transform: translateX(-50%);
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 30px;
      top: -30px;
      left: 0;
    }
  }

  &__subitem {
    list-style: none;
    margin: 0.5rem;
    height: 2rem;
    &:last-of-type {
      margin-bottom: 0;
    }
    & a {
      display: flex;
      align-items: center;
      height: 1rem;
      color: $neutral-20;
    }
    span {
      line-height: 0.9;
    }
    i {
      display: block;
      width: 1rem;
      height: 1rem;
      color: $primary-50;
      margin-right: rem(12);
      background-position: center;
    }

    &:hover {
      span {
        color: $primary-50;
      }
    }
  }

  &__buttons {
    display: none;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: $spacer;
  }
}

@include media-breakpoint-up(xl) {
  .main-menu {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
    padding-left: $spacer * 1.5;
    padding-right: $spacer * 1.5;

    &__links {
      display: flex;
    }

    &__buttons {
      display: flex;
    }

    &__trigger {
      display: none;
    }
  }
}
