@use '../mixins/mixins' as mixins;
@use '../helpers/functions' as *;

.menu-link {
  text-decoration: none;
  color: $neutral-98;
  cursor: pointer;

  &:hover {
    color: $primary-50;
  }
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(20);
  padding-right: rem(20);
  background: linear-gradient(180deg, #090d19, rgba(9, 13, 25, 0));
  z-index: 1;

  &__trigger {
    outline: none;
    border: none;
    width: rem(40);
    height: rem(40);
    border-radius: 8px;
    z-index: 1;
    background: linear-gradient($neutral-20, #0e1424);
  }

  &__links {
    display: none;
    gap: calc($spacer / 2);
    position: relative;
    margin-bottom: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    padding: 0 $spacer;
    position: relative;
    color: $neutral-98;
    line-height: 1.5;
    white-space: nowrap;
    @include mixins.transitionAll(300ms);
  }

  &__buttons {
    display: none;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: $spacer;
  }
}

@include media-breakpoint-up(xl) {
  .main-menu {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
    padding-left: $spacer * 1.5;
    padding-right: $spacer * 1.5;

    &__links {
      display: flex;
    }

    &__buttons {
      display: flex;
    }

    &__trigger {
      display: none;
    }
  }
}
