@use '../helpers/functions' as *;

.newsletter {
  padding-bottom: $spacer * 4;
  background-color: $neutral-98;
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacer * 1.5;
    padding: $spacer * 2.5 $spacer * 1.5;
    border-radius: $spacer;
    background: linear-gradient($neutral-20, #0e1424);
  }

  &__title {
    font-size: $spacer * 1.5;
    line-height: rem(34);
    color: $neutral-98;
    margin-bottom: $spacer * 0.5;
  }

  &__description {
    font-size: rem(14);
    line-height: rem(21);
    color: $neutral-70;
    margin-bottom: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacer * 0.5;
    margin-bottom: 0;

    button {
      width: 100%;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: $spacer * 7.5;
    text-align: left;

    &__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0;
      padding: $spacer * 2.5 $spacer * 4;
    }

    &__text {
      width: rem(381);
    }

    &__form {
      flex-direction: row;
      width: rem(476);

      button {
        width: rem(118);
      }
    }
  }
}
