@use '../helpers/functions' as *;

.our-story {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  background-color: $neutral-94;

  &__row {
    margin-bottom: $spacer * 2.5;
  }

  &__title {
    font-size: map-get($font-sizes, 2);
    line-height: pxToRem(67);
    text-align: center;
    color: $neutral-20;
    margin: 0;
  }

  &__subtitle {
    font-size: map-get($font-sizes, 6);
    line-height: pxToRem(34);
    margin-bottom: $spacer * 1.5;
    color: $neutral-20;
  }

  &__extra-title {
    font-size: map-get($font-sizes, 6);
    line-height: pxToRem(34);
    margin-bottom: $spacer * 1.5;
    color: $neutral-20;
  }

  &__content {
    color: $neutral-20;
    margin-bottom: $spacer * 2;
    font-size: map-get($font-sizes-text, 'l');
  }

  &__image {
    height: 100%;
    min-height: pxToRem(332);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__date {
    margin-bottom: $spacer * 1.5;
  }

  &__date::before {
    content: url('../../icons/outline/arrow-right.svg');
    display: inline-block;
    margin-right: $spacer;
  }

  &__extra-content {
    color: $neutral-20;
    margin-bottom: $spacer * 1.5;
    font-size: map-get($font-sizes-text, 'xl');
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 7.5;

    &__row {
      margin-bottom: $spacer * 5;
    }

    &__row--offsetted {
      margin-bottom: $spacer * 7.5;
    }

    &__title {
      font-size: pxToRem(80);
      line-height: pxToRem(96);
    }

    &__subtitle {
      font-size: pxToRem(40);
      line-height: pxToRem(48);
      max-width: pxToRem(475);
    }

    &__content {
      max-width: pxToRem(475);
      font-size: map-get($font-sizes-text, 'xl');
    }

    &__image {
      min-height: pxToRem(524);
    }

    &__date {
      text-align: center;
    }
  }
}
