@use '../helpers/functions' as *;

.partners-embeddings {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  background-color: $neutral-10;

  &__description {
    color: $neutral-98;
    margin-bottom: $spacer * 1.5;
  }

  &__image {
    display: none;
  }

  &__image-mobile {
    width: 100%;
    margin-top: $spacer * 2.5;
  }

  @include media-breakpoint-up(lg) {
    &__image {
      display: block;
      margin-left: auto;
      width: 100%;
      max-width: rem(560);
    }

    &__image-mobile {
      display: none;
      margin-left: auto;
    }
  }
}
