@use '../helpers/functions' as *;

.partners-cloud {
  padding-top: $spacer * 4;
  background-color: $neutral-94;
  text-align: center;

  &__title {
    margin-bottom: $spacer * 1.5;
    font-size: $spacer * 2.5;
    line-height: $spacer * 3;
    color: $neutral-20;
  }

  &__description {
    margin-bottom: $spacer;
    font-size: pxToRem(18);
    line-height: pxToRem(27);
    color: $neutral-30;
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 5;

    &__title {
      font-size: $spacer * 3.5;
      line-height: pxToRem(67);
    }

    &__description {
      font-size: pxToRem(20);
      line-height: pxToRem(30);
    }
  }
}
