@use '../helpers/functions' as *;
@use 'sass:math';

.progress-bar {
  display: block;
  border-radius: 0;
  height: math.div($spacer, 4);
  width: 100%;
  color: $primary-50;
  z-index: 1;
}

.scrolled {
  .progress-bar {
    position: fixed;
    top: pxToRem(60);
    left: 0;
    right: 0;

    @include media-breakpoint-up(xl) {
      top: pxToRem(52);
    }
  }
}

::-webkit-progress-bar {
  background-color: $neutral-98;
}

::-webkit-progress-value {
  background-color: $primary-50;
}

::-moz-progress-bar {
  background-color: $primary-50;
}

:indeterminate::-moz-progress-bar {
  width: 0;
}
