@use '../helpers/functions' as *;

.qdrant-for-startups-hero {
  position: relative;
  padding-top: $spacer * 2.5;
  background-color: $neutral-10;
  overflow: hidden;

  &__title {
    margin-bottom: $spacer * 1.5;
    font-size: $spacer * 2.5;
    line-height: $spacer * 3;
    color: $neutral-98;
    text-align: center;
  }

  &__description {
    margin: 0 auto $spacer * 2;
    color: $neutral-70;
    text-align: center;
  }

  &__button {
    position: relative;
    display: flex;
    margin: 0 auto $spacer * 1.5;
    width: pxToRem(200);
    z-index: 1;
  }

  &__image {
    display: none;
  }

  &__image-mobile {
    display: block;
    width: 100%;
    max-width: pxToRem(730);
    margin: 0 auto;
  }

  &__overlay {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: pxToRem(200);
    background-image: url('/img/blurred/blurred-light-12.svg');
    background-position: center;
    background-size: cover;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 3;

    &__title {
      font-size: $spacer * 4;
      line-height: pxToRem(76);
    }

    &__description {
      position: relative;
      max-width: pxToRem(730);
      font-size: pxToRem(18);
      line-height: pxToRem(27);
      z-index: 1;
    }

    &__button {
      margin-bottom: 0;
    }

    &__image {
      display: block;
      width: 100%;
      max-width: pxToRem(1288);
      margin: -114px auto 0;
    }

    &__image-mobile {
      display: none;
    }

    &__overlay {
      display: block;
    }
  }
}
