@use '../helpers/functions' as *;

.qdrant-pricing-calculator {
  padding-bottom: $spacer * 4;
  background-color: $neutral-10;
  color: $neutral-98;
  text-align: center;

  &__title {
    font-size: pxToRem(20);
    line-height: pxToRem(30);
    margin-bottom: 0;
  }

  &__link {
    margin-top: $spacer * 1.5;
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: $spacer * 7.5;

    &__content {
      position: relative;

      &:before,
      &:after {
        content: ('');
        display: block;
        position: absolute;
        top: pxToRem(29.5);
        height: pxToRem(1);
        width: calc((100% - 453px) / 2);
        background-color: $neutral-30;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }
}
