@use '../helpers/functions' as *;

.qdrant-for-startups-faq {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  background-color: $neutral-94;

  &__title {
    margin-bottom: $spacer * 4;
    font-size: $spacer * 2.5;
    line-height: $spacer * 3;
    color: $neutral-20;
    text-align: center;
  }

  .accordion {
    max-width: rem(800);
    margin: 0 auto;
    border-top: rem(1) solid $neutral-80;

    &__item {
      border-bottom: rem(1) solid $neutral-80;

      &-header {
        position: relative;
        display: flex;
        align-items: center;
        height: rem(98);
        margin-bottom: 0;
        padding: 0 $spacer * 3 0 0;
        color: $neutral-20;
        cursor: pointer;

        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: rem(37);
          height: $spacer * 1.5;
          width: $spacer * 1.5;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2.78711V22.7871' stroke='%232F6FF0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 12.7871H2' stroke='%232F6FF0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      &-body {
        display: none;
        margin-bottom: $spacer * 2.5;
        padding-right: $spacer * 1.5;
        font-size: rem(18);
        line-height: rem(27);
        color: $neutral-40;
      }

      &.active {
        .accordion__item-header:after {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 12.7871H2' stroke='%232F6FF0' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }

        .accordion__item-body {
          display: block;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 6.5;
    padding-bottom: $spacer * 10;

    &__title {
      margin-bottom: $spacer * 5;
      font-size: $spacer * 3.5;
      line-height: rem(67);
    }

    .accordion {
      &__item {
        &-header {
          padding: 0 $spacer * 5.5 0 $spacer * 2.5;

          &:after {
            right: $spacer * 2.5;
          }
        }

        &-body {
          padding: 0 $spacer * 5 0 $spacer * 2.5;
        }
      }
    }
  }
}
