@use '../helpers/functions' as *;

.qdrant-features-link {
  background-color: $neutral-94;
  padding-bottom: $spacer * 2.5;
  text-align: center;

  &__content {
    margin-bottom: $spacer;
  }

  @include media-breakpoint-up(xl) {
    position: relative;

    &:before,
    &:after {
      content: ('');
      display: block;
      position: absolute;
      top: rem(25);
      height: rem(1);
      width: calc((100% - 820px) / 2);
      background-color: $neutral-90;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    &__wrapper {
      max-width: rem(1134);
    }
  }
}
