@use '../helpers/functions' as *;
@use '../mixins/marketplaces' as marketplaces;

.qdrant-cloud-marketplaces {
  @include marketplaces.base(
    $spacer * 5,
    $spacer * 4,
    $spacer * 7.5,
    $spacer * 4,
    pxToRem(728),
    $spacer * 3.5,
    $spacer * 2.5,
    pxToRem(67),
    $spacer * 3
  );
}
