@use '../helpers/functions' as *;

.qdrant-articles-hero {
  position: relative;
  padding-top: $spacer * 2.5;
  padding-bottom: $spacer * 5;
  background: url('/img/stars-pattern.png') $neutral-10;
  text-align: center;
  overflow: hidden;
  z-index: 1;

  &__title {
    font-size: $spacer * 2.5;
    line-height: $spacer * 3;
    color: $neutral-98;
    margin-bottom: $spacer * 1.5;
  }

  &__subtitle {
    font-size: pxToRem(20);
    line-height: pxToRem(30);
    color: $neutral-98;
    margin-bottom: 0;
  }

  &__overlay {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: pxToRem(176);
    background-image: url('/img/blurred/blurred-light-11.png');
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 7.5;

    &__title {
      font-size: $spacer * 4;
      line-height: pxToRem(76);
    }

    &__subtitle {
      font-size: $spacer * 2;
      line-height: pxToRem(38);
    }
  }
}
