@use '../helpers/functions' as *;

.qdrant-for-startups-benefits {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  background-color: $neutral-94;

  &__title {
    margin-bottom: $spacer * 5;
    font-size: $spacer * 2.5;
    line-height: $spacer * 3;
    color: $neutral-20;
  }

  &__main-card {
    display: flex;
    flex-direction: column;
    gap: $spacer * 1.5;
    padding: $spacer * 2.5 0 0;
    overflow: hidden;

    &-block {
      padding: 0 $spacer * 1.5;
    }

    &-title {
      margin-bottom: pxToRem(12);
      font-size: $spacer * 1.5;
      line-height: pxToRem(34);
      color: $neutral-20;
    }

    &-description {
      margin-bottom: 0;
      font-size: pxToRem(18);
      line-height: pxToRem(27);
      color: $neutral-40;

      strong, b {
        font-weight: 600;
        color: $neutral-20;
      }
    }

    &-image {
      align-self: flex-end;
      width: 100%;
      max-width: pxToRem(540);
      margin-right: -24px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $spacer * 2.5 0 0;
    overflow: hidden;

    &-title {
      margin-bottom: pxToRem(12);
      padding: 0 $spacer * 1.5;
      font-size: $spacer * 1.5;
      line-height: pxToRem(34);
    }

    &-description {
      margin-bottom: $spacer * 1.5;
      padding: 0 $spacer * 1.5;
      color: $neutral-40;
    }

    &-image {
      width: calc(100% + 24px);
      margin: 0 -12px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: $spacer * 4;

    a {
      width: $spacer * 12.5;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__title {
      font-size: $spacer * 3.5;
      line-height: pxToRem(67);
      text-align: center;
    }

    &__main-card {
      flex-direction: row;
      align-items: center;
      height: pxToRem(400);
      padding-top: 0;

      &-block {
        width: pxToRem(440);
        padding: 0 0 0 $spacer * 3;
      }

      &-title {
        margin-bottom: $spacer * 1.5;
        font-size: $spacer * 2.5;
        line-height: $spacer * 3;
      }

      &-image {
        margin: 0;
      }
    }

    &__card {
      height: pxToRem(400);
      padding-top: $spacer * 3;

      &-title {
        padding: 0 $spacer * 4 0 $spacer * 3;
        font-size: $spacer * 2;
        line-height: pxToRem(38);
      }

      &-description {
        margin-bottom: 0;
        padding: 0 $spacer * 4 0 $spacer * 3;
        font-size: pxToRem(18);
        line-height: pxToRem(27);
      }

      &-image {
        width: 100%;
        margin: auto 0 0;
      }
    }

    &__button {
      position: relative;
      margin-top: $spacer * 5;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: pxToRem(24);
        width: calc((100% - 440px) / 2);
        height: pxToRem(1);
        background-color: $neutral-80;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &__card {
      height: pxToRem(360);
    }
  }
}
