@use '../helpers/functions' as *;

.stars-hero {
  position: relative;
  padding-top: $spacer * 2.5;
  padding-bottom: $spacer * 5;
  overflow: hidden;

  &__title {
    margin-bottom: $spacer * 1.5;
    font-size: $spacer * 2.5;
    line-height: $spacer * 3;
    color: $neutral-98;
  }

  &__description {
    margin-bottom: $spacer * 1.5;
    font-size: rem(18);
    line-height: rem(27);
    color: $neutral-70;
  }

  &__preview {
    position: relative;
    margin-top: $spacer * 1.5;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      max-width: rem(480);
      margin: 0 auto;
    }
  }

  &__overlay {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -24px;
    width: 100%;
    height: rem(200);
    background-image: url('/img/blurred/blurred-light-12.svg');
    background-position: center;
    background-size: cover;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 5;

    &__title {
      font-size: $spacer * 4;
      line-height: rem(76);
    }

    &__description {
      font-size: rem(20);
      line-height: rem(30);
    }

    &__preview {
      position: relative;
      margin-top: $spacer * 1.5;
      z-index: 1;

      img {
        margin-right: 0;
      }
    }
  }
}
