@use '../helpers/functions' as *;

.stars-about {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  background-color: $neutral-94;

  &__title {
    margin-bottom: $spacer * 1.5;
    font-size: $spacer * 2;
    line-height: pxToRem(38);
    color: $neutral-20;
  }

  &__description {
    font-size: pxToRem(18);
    line-height: pxToRem(27);
    color: $neutral-20;

    &:first-of-type {
      margin-bottom: pxToRem(27);
    }

    &:last-of-type {
      margin-bottom: $spacer * 2.5;
    }
  }

  &__preview {
    img {
      display: block;
      width: 100%;
      max-width: pxToRem(560);
      margin: 0 auto;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__content {
      order: 2;
    }

    &__preview {
      order: 1;
    }

    &__title {
      max-width: pxToRem(445);
      margin-left: auto;
      font-size: $spacer * 3;
      line-height: pxToRem(57);
    }

    &__description {
      max-width: pxToRem(445);
      margin-left: auto;
      font-size: pxToRem(20);
      line-height: pxToRem(30);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
