@use '../mixins/get-started-small' as get-started-small;

.stars-get-started {
  @include get-started-small.base(
    0,
    $spacer * 1.5,
    $spacer * 5,
    $spacer * 2.5,
    $neutral-94,
    url('/img/stars-pattern.png') $neutral-10,
    url('/img/stars-pattern.png') $neutral-10
  );
}
