@use '../helpers/functions' as *;

.subscribe-form {
  display: flex;
  justify-content: flex-end;
  gap: calc($spacer / 2);
  position: relative;
  flex-wrap: wrap;

  .hs_email {
    max-width: 100%;
    flex: 1;
    @include media-breakpoint-up(lg) {
      flex: auto;
      max-width: pxToRem(414);
    }

    & > label {
      display: none;
    }

    .input {
      padding: 0;
      border: 0;
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
  input[type='submit'] {
    max-height: pxToRem(41);
  }

  .hs-error-msgs {
    $hs-error-msgs-top-offset: pxToRem(30);
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: calc(#{$hs-error-msgs-top-offset} * -1);

      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          bottom: calc((#{$hs-error-msgs-top-offset} + #{$i - 1} * pxToRem(20)) * -1);
        }
      }
    }
  }
  .hs_error_rollup {
    position: absolute;
    width: 100%;
    top: pxToRem(-30);
    right: 0;
    text-align: right;
    .hs-error-msgs {
      position: static;
    }
  }

  .legal-consent-container {
    margin-top: $spacer * 0.5;
    order: 2;
    width: 100%;
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      max-width: pxToRem(537);
    }
  }

  .hs_recaptcha.hs-recaptcha {
    order: 3;
  }
}
