@use '../helpers/functions' as *;

.subscribe {
  display: flex;
  flex-direction: column;
  padding-top: $spacer * 3;
  background: url('/img/stars-pattern.png') $neutral-10;
  min-height: calc(100vh - 104px);

  &-body {
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    &__overlay {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      bottom: -20px;
      width: 100%;
      height: rem(200);
      background-image: url('/img/blurred/blurred-light-12.svg');
      background-position: center;
      background-size: cover;
      z-index: 1;
    }

    &__image {
      display: none;
    }

    &__image-mobile {
      display: block;
      width: 100%;
      max-width: rem(540);
      margin: 0 auto;
    }
  }

  &-block {
    position: relative;
    width: 100%;
    max-width: rem(540);
    margin: 0 auto $spacer * 2.5;
    padding: $spacer * 2 $spacer * 1.5;
    background: linear-gradient($neutral-20, #0e1424);
    border-radius: $spacer * 0.5;
    overflow: hidden;

    &__title {
      margin-bottom: $spacer * 1.5;
      font-size: $spacer * 2;
      line-height: rem(38);
      color: $neutral-98;
    }

    &__description {
      margin-bottom: $spacer * 2;
      color: $neutral-80;
    }

    &__form {
      label {
        margin-bottom: rem(6);
        font-size: rem(14);
        line-height: rem(21);
        color: $neutral-98;
      }

      button {
        width: 100%;
        margin-top: $spacer * 1.5;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: rem(210);
      height: rem(210);
      background-image: url('/img/blurred/blurred-light-15.svg');
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    gap: $spacer * 1.5 $spacer * 3;
    justify-content: center;
    padding: $spacer * 2.5 0;
    background-color: $neutral-10;

    &__rights {
      width: 100%;
      margin-bottom: 0;
      font-size: rem(14);
      line-height: rem(21);
      font-weight: 400;
      text-align: center;
      color: $neutral-70;
    }

    &__link {
      flex-shrink: 0;
      font-size: rem(14);
      line-height: rem(21);
      font-weight: 400;
      color: $neutral-70;
    }
  }

  @include media-breakpoint-up(xl) {
    min-height: calc(100vh - 140px);

    &-body {
      position: relative;
      padding: rem(96) 0 rem(157);

      &__overlay {
        display: block;
      }

      &__image {
        display: block;
        position: absolute;
        bottom: 0;
        left: $spacer * 2.5;
        width: rem(630);
      }

      &__image-mobile {
        display: none;
      }
    }

    &-block {
      margin-bottom: 0;
      margin-right: 0;
      padding: $spacer * 3 $spacer * 3.5;
    }

    &-header {
      padding: rem(30) rem(165);
      flex-wrap: nowrap;

      &__rights {
        text-align: left;
      }
    }
  }
}
