@use '../helpers/functions' as *;
@use '../mixins/mixins' as *;

.subscribe-form {
  display: flex;
  justify-content: flex-end;
  gap: calc($spacer / 2);

  .hs_email {
    width: 100%;
    position: relative;
    @include media-breakpoint-up(lg) {
      width: unset;
    }

    & > label {
      display: none;
    }

    .input {
      padding: 0;
      border: 0;

      input {
        width: 100%;
        background-color: transparent;
        border: 1px solid $neutral-40;
        border-radius: 8px;
        max-height: rem(40);
        outline: none;
        color: $neutral-98;
        padding-left: $spacer;
        padding-right: $spacer;
        padding-top: calc($spacer / 2);
        padding-bottom: calc($spacer / 2);

        @include media-breakpoint-up(lg) {
          width: rem(414);
        }

        &::placeholder {
          color: $neutral-70;
        }
      }
      .error {
        border-color: $error-50;
      }
    }
  }

  .hs_submit {
    input[type='submit'] {
      max-height: rem(40);
      padding-left: rem(22);
      padding-right: rem(22);

      font-size: map-get($font-sizes-text, 'md');
      line-height: rem(24);
    }
  }

  .hs-error-msgs {
    $hs-error-msgs-top-offset: rem(40);
    list-style: none;
    padding-left: 0;
    color: $error-50;
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: calc(#{$hs-error-msgs-top-offset} * -1);

      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          bottom: calc((#{$hs-error-msgs-top-offset} + #{$i - 1} * rem(40)) * -1);
        }
      }
    }
  }
}

.submitted-message {
  color: $success-90;
  font-size: map-get($font-sizes-text, 'md');
  line-height: rem(24);
}
