@use '../helpers/functions' as *;

.subscribe-form {
  display: flex;
  justify-content: flex-end;
  gap: calc($spacer / 2);

  .hs_email {
    width: 100%;
    position: relative;
    @include media-breakpoint-up(lg) {
      width: unset;
    }

    & > label {
      display: none;
    }

    .input {
      padding: 0;
      border: 0;

      input {
        width: 100%;
        @include media-breakpoint-up(lg) {
          width: rem(414);
        }
      }
    }
  }

  .hs_submit {
    input[type='submit'] {
      max-height: rem(40);
      padding-left: rem(22);
      padding-right: rem(22);

      font-size: map-get($font-sizes-text, 'md');
      line-height: rem(24);
    }
  }

  .hs-error-msgs {
    $hs-error-msgs-top-offset: rem(40);
    list-style: none;
    padding-left: 0;
    color: $error-50;
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: calc(#{$hs-error-msgs-top-offset} * -1);

      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          bottom: calc((#{$hs-error-msgs-top-offset} + #{$i - 1} * rem(40)) * -1);
        }
      }
    }
  }

  .submitted-message {
    text-align: right;
  }
}

