@use '../helpers/functions' as *;
@use 'sass:math';

.table-of-contents {
  &__head {
    display: none;
    margin-bottom: 0;
    padding: 0 math.div($spacer, 2) $spacer;
    color: $neutral-98;
  }

  &__title {
    display: none;
    color: $neutral-98;
    margin-bottom: math.div($spacer, 4);
    padding: math.div($spacer, 4) math.div($spacer, 2);
    font-size: pxToRem(14);
    line-height: pxToRem(21);
  }

  nav {
    display: none;
    padding-bottom: $spacer;

    ul {
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      list-style: none;
      padding: 0;

      a {
        display: block;
        padding: math.div($spacer, 4) math.div($spacer, 2);
        color: $neutral-70;
        font-size: pxToRem(14);
        line-height: pxToRem(21);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          color: $neutral-98;
        }
      }

      & > ul > li {
        padding-left: $spacer;
      }
    }
  }

  &__external-links {
    border-top: pxToRem(1) solid $neutral-20;
    border-bottom: pxToRem(1) solid $neutral-20;
    list-style: none;
    padding: $spacer * 1.5 0;
    margin: 0;
  }

  &__link {
    margin-bottom: pxToRem(12);
    font-size: pxToRem(14);
    line-height: pxToRem(21);

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      display: flex;
      align-items: center;
      gap: calc($spacer / 2);
      padding: 0 math.div($spacer, 2);
      color: $neutral-98;

      &:hover {
        text-decoration: underline;
      }
    }

    svg {
      display: block;
      width: pxToRem(16);
      height: pxToRem(16);
    }
  }

  @include media-breakpoint-up(xl) {
    max-height: calc(100vh - 80px);
    width: pxToRem(232);
    position: sticky;
    overflow-x: hidden;
    overflow-y: auto;
    top: $spacer * 5;
    flex-shrink: 0;
    padding: $spacer * 1.5 $spacer;
    margin-bottom: pxToRem(220);

    &__external-links {
      border-bottom: none;
    }

    nav,
    &__head,
    &__title {
      display: block;
    }
  }

  [data-theme='light'] & {
    &__title,
    &__head {
      color: $neutral-30;
    }

    &__title {
      color: $neutral-30;
      font-weight: 400;
    }

    a {
      color: $neutral-30;
      font-weight: 400;
      transition: color 0.3s;
      &:hover {
        color: $primary-50;
      }
    }

    &__external-links {
      border-top: 1px solid $neutral-90;
      border-bottom: 1px solid $neutral-90;
    }

    &__link {
      a {
        color: $neutral-30;
        transition:
          color 0.3s,
          fill 0.25s;
        font-weight: 500;
        svg path {
          fill: $neutral-30;
        }
        &:hover {
          color: $primary-50;
          text-decoration: none;
          svg path {
            fill: $primary-50;
          }
        }
      }
    }
  }
}
