@use '../helpers/functions' as *;

.testimonial {
  position: relative;
  overflow: hidden;
  background-color: $neutral-10;

  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;

  &__cards {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: $spacer * 1.5;
    z-index: 1;
  }

  &__content {
    padding: $spacer * 2 $spacer * 2.5;
    background: linear-gradient($neutral-20, #0e1424);
    border-radius: $spacer * 0.5;
  }

  &__review {
    margin-bottom: $spacer * 2.5;
    font-size: pxToRem(20);
    line-height: pxToRem(30);
    color: $neutral-98;
  }

  &__employees {
    display: flex;
    flex-direction: column;

    &-avatar {
      margin-bottom: $spacer;
      height: $spacer * 3;

      img {
        height: 100%;
      }
    }

    &-position {
      p {
        margin-bottom: 0;
      }

      p:first-of-type {
        color: $neutral-94;
      }

      p:last-of-type {
        font-size: pxToRem(14);
        line-height: pxToRem(21);
        color: $neutral-60;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacer * 2;
    background: linear-gradient($neutral-20, #0e1424);
    border-radius: $spacer * 0.5;
  }

  &__bottom-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: pxToRem(637);
    height: pxToRem(420);
    background-image: url('/img/blurred/blurred-light-16.svg');
    background-position: bottom;
    background-size: cover;
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__cards {
      flex-direction: row;
      justify-content: space-between;
    }

    &__content {
      width: pxToRem(825);
    }

    &__employees {
      flex-direction: row;

      &-avatar {
        margin-bottom: 0;
        margin-right: $spacer;
      }
    }

    &__logo {
      width: calc(100% - 849px);
    }
  }
}
