@use '../helpers/functions' as *;

.testimonial-light {
  padding-bottom: $spacer * 4;
  background-color: $neutral-94;

  &__content {
    padding: $spacer * 2 $spacer * 2.5;
    background: $neutral-98;
    border-radius: $spacer * 0.5;
    border: pxToRem(1) solid $neutral-90;
  }

  &__review {
    margin-bottom: $spacer * 2.5;
    font-size: pxToRem(20);
    line-height: pxToRem(30);
    color: $neutral-20;
  }

  &__employees {
    display: flex;
    flex-direction: column;

    &-avatar {
      margin-bottom: $spacer;
      height: $spacer * 3;

      img {
        height: 100%;
      }
    }

    &-position {
      p {
        margin-bottom: 0;
      }

      p:first-of-type {
        color: $neutral-20;
      }

      p:last-of-type {
        font-size: pxToRem(14);
        line-height: pxToRem(21);
        color: $neutral-60;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacer * 2;
    background: $neutral-98;
    border-radius: $spacer * 0.5;
    border: pxToRem(1) solid $neutral-90;

    img {
      width: pxToRem(150);
    }
  }

  &__partners {
    display: flex;
    flex-direction: column;
    gap: $spacer * 1.5;
    padding-bottom: $spacer * 1.875;
  }

  &__partners-title {
    margin: 0;
    font-size: pxToRem(20);
    font-weight: 600;
    line-height: 1.3;
    color: $neutral-20;
    letter-spacing: -0.5px;
  }

  &__partners-logos {
    display: flex;
    gap: $spacer;
    flex-wrap: wrap;
  }

  &__partners-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 $spacer * 1.25;
    background: $neutral-98;
    border: pxToRem(1) solid $neutral-90;
    border-radius: pxToRem(12);

    img {
      width: pxToRem(120);
      height: pxToRem(64);
      object-fit: contain;
    }
  }

  &.reversed div.row {
    flex-direction: column-reverse;
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: $spacer * 7.5;

    &__employees {
      flex-direction: row;

      &-avatar {
        margin-bottom: 0;
        margin-right: $spacer;
      }
    }

    &__logo {
      height: 100%;
    }

    &__partners {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0;
    }

    &__partners-title {
      font-size: pxToRem(24);
      max-width: pxToRem(445);
    }

    &.reversed div.row {
      flex-direction: row-reverse;
    }
  }
}
