@use '../helpers/functions' as *;

.overlay-top {
  position: absolute;
  right: 0;
  top: 0;
  width: pxToRem(323);
  height: pxToRem(320);
  background-image: url('/img/blurred/blurred-light-4.png');
  background-position: top;
  background-size: cover;
}

.overlay-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: pxToRem(637);
  height: pxToRem(376);
  background-image: url('/img/blurred/blurred-light-5.png');
  background-position: bottom;
  background-size: cover;
}
