@use '../helpers/functions' as *;

.top-banner {
  display: flex;
  height: rem(40);
  justify-content: center;
  align-items: center;
  gap: $spacer * 1.5;
  padding-top: rem(60);
  box-sizing: content-box;
  border-bottom: 1px solid var(--Neutral-N20, #161e33);
  background: var(--Neutral-N10, #090e1a);

  &__text {
    color: $neutral-94;
    font-size: $font-size-s;
    margin-right: $spacer * 0.5;
  }

  &__icon {
    margin-right: calc($spacer / 4);
  }

  @include media-breakpoint-up(xl) {
    padding-top: 0;
    box-sizing: border-box;
  }
}
