@use '../helpers/functions' as *;

.top-banner {
  display: flex;
  height: pxToRem(40);
  justify-content: center;
  align-items: center;
  gap: $spacer * 1.5;
  border-bottom: 1px solid $neutral-20;
  background: $neutral-10;

  &__text {
    color: $neutral-94;
    font-size: $font-size-s;
    margin-right: $spacer * 0.5;
  }

  &__icon {
    margin-right: calc($spacer / 4);
  }
}
