@use '../helpers/functions' as *;

.tutorials {
  background-color: $neutral-10;

  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;

  position: relative;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: rem(40);
  }

  &__overlay-top {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    height: rem(285);
    width: rem(285);
    background-size: cover;
    background-image: url('/img/blurred/blurred-light-8.png');
  }

  &__overlay-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    height: rem(285);
    width: rem(285);
    background-size: cover;
    background-image: url('/img/blurred/blurred-light-7.png');
  }

  &__description {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  &__title {
    font-size: rem(32);
    line-height: rem(38);
    color: $neutral-98;
    margin: 0;
  }

  &__subtitle {
    font-size: map-get($font-sizes-text, 'l');
    line-height: rem(27);
    margin-top: $spacer * 2;
    color: $neutral-70;
    margin-bottom: 0;
  }

  &__link {
    color: $primary-50;
    font-size: $font-size-xl;
    margin-top: $spacer * 2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__preview {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 100%;
    height: rem(258);
    max-width: rem(335);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: rem(76);
    padding-left: rem(65);
    padding-bottom: rem(80);
    padding-right: rem(50);
  }

  &__image code {
    color: $neutral-98;
    font-size: rem(9);
    line-height: rem(14);
  }

  .command__object {
    color: $secondary-blue-50;
  }

  .command__row {
    margin-left: $spacer * 2.5;
  }

  .command__value {
    color: $success-50;
  }

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 5;
    gap: $spacer * 5;

    &__description {
      justify-content: center;
    }

    &__title {
      font-size: map-get($font-sizes, 3);
      line-height: rem(57);
      text-align: left;
    }

    &__subtitle {
      font-size: map-get($font-sizes-text, 'xl');
      line-height: rem(30);
      text-align: left;
    }

    &__preview {
      display: flex;
      justify-content: flex-end;
    }

    &__image {
      width: rem(540);
      height: rem(385);
      max-width: rem(540);
      padding-top: rem(116);
      padding-left: rem(117);
      padding-bottom: rem(80);
      padding-right: rem(80);
    }

    &__image code {
      font-size: rem(12);
      line-height: rem(18);
    }
  }
}
