@use '../helpers/functions' as *;

.use-cases-vector-hero {
  padding-top: $spacer * 2.5;
  padding-bottom: $spacer * 4;
  text-align: center;

  &__content {
    margin-bottom: $spacer * 2.5;
  }

  &__title {
    font-size: $spacer * 2.5;
    line-height: $spacer * 3;
    margin-bottom: $spacer * 1.5;
    color: $neutral-98;
  }

  &__description {
    font-size: rem(18);
    line-height: rem(27);
    margin-bottom: $spacer * 2;
    color: $neutral-70;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacer * 1.5;

    .button {
      min-width: $spacer * 12.5;
    }
  }

  &__preview {
    height: 0;
    padding-bottom: 66%;

    img {
      width: 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 5;
    padding-bottom: $spacer * 10;
    text-align: left;

    &__content {
      margin-bottom: 0;
    }

    &__title {
      max-width: rem(480);
      font-size: $spacer * 3.5;
      line-height: rem(67);
    }

    &__description {
      max-width: rem(480);
      font-size: rem(20);
      line-height: rem(30);
    }

    &__buttons {
      flex-direction: row;
      justify-content: flex-start;

      .button {
        min-width: auto;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &__preview {
      height: rem(360);
      padding-bottom: 0;
    }
  }
}
