@use '../helpers/functions' as *;

.use-cases-vector-integrations {
  position: relative;
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  background-color: $neutral-10;
  overflow: hidden;

  &__title {
    position: relative;
    font-size: $spacer * 2;
    line-height: pxToRem(38);
    margin-bottom: $spacer * 5;
    color: $neutral-98;
    text-align: center;
    z-index: 1;
  }

  &__card {
    display: flex;
    gap: $spacer * 1.5;
    position: relative;
    z-index: 1;

    &-icon {
      width: $spacer * 5.5;
      height: $spacer * 5.5;
    }

    &-title {
      font-size: pxToRem(20);
      line-height: pxToRem(30);
      margin-bottom: $spacer * 0.5;
      color: $neutral-98;
    }

    &-description {
      font-size: pxToRem(14);
      line-height: pxToRem(21);
      margin-bottom: 0;
      color: $neutral-70;
    }
  }
  a.use-cases-vector-integrations__card:hover {
    .use-cases-vector-integrations__card-title {
      text-decoration: underline;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__title {
      width: pxToRem(730);
      margin: 0 auto $spacer * 6.5;
      font-size: $spacer * 2.5;
      line-height: $spacer * 3;
    }
  }
}
