@use '../helpers/functions' as *;

.use-cases-vector-features {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;
  background-color: $neutral-94;

  &__title {
    font-size: $spacer * 2;
    line-height: pxToRem(38);
    color: $neutral-20;
    margin-bottom: $spacer * 1.5;
  }

  &__description {
    color: $neutral-30;
    margin-bottom: 0;
  }

  &__header {
    margin-bottom: $spacer * 2.5;
  }

  &__card {
    &-icon {
      height: $spacer * 1.5;
      width: $spacer * 1.5;
      margin-bottom: $spacer;
    }

    &-title {
      font-size: pxToRem(20);
      line-height: pxToRem(30);
      color: $neutral-20;
      margin-bottom: $spacer;
    }

    &-description {
      color: $neutral-30;
      margin-bottom: $spacer;
    }

    &-link {
      $link-color: $neutral-20;
      color: $link-color;

      &:before {
        background: linear-gradient(to right, $link-color 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: -100% 0;
      }

      &:after {
        background: $link-color;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__header {
      margin-bottom: $spacer * 5;
    }

    &__title {
      font-size: $spacer * 3;
      line-height: pxToRem(57);
      padding-right: $spacer * 2;
      margin-bottom: 0;
    }

    &__description {
      font-size: pxToRem(18);
      line-height: pxToRem(27);
    }
  }
}
