@use '../helpers/functions' as *;

.video {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 1;

  video {
    width: 100%;
    border-radius: $spacer * 0.5;
  }

  button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $spacer * 0.5;

    img {
      height: pxToRem(18);
      width: pxToRem(18);
    }
  }

  @include media-breakpoint-up(xl) {
    max-width: pxToRem(920);

    button {
      gap: pxToRem(12);
      height: $spacer * 3;
      padding: 0 pxToRem(28);
      font-size: pxToRem(18);
      line-height: pxToRem(27);

      img {
        height: pxToRem(22);
        width: pxToRem(22);
      }
    }
  }

  iframe {
    width: 100%;
    max-width: 920px;
    aspect-ratio: 9/5.1;
    border-radius: $spacer * 0.5;
    overflow: hidden;
  }
}
