@use "../helpers/functions" as lib;
@use "../variables" as vars;

@mixin content-reset {

  table {
    @extend .table;
    color: var(--brand-secondary);
  }

  pre {
    position: relative;
  }

  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  ul,
  ol {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul > li {
    margin: 0 0 0 lib.rem(19);
    position: relative;
    list-style: disc;
  }

  ol > li {
    margin: 0 0 0 lib.rem(19);
    position: relative;
    list-style: decimal;
  }

  p, ul {
    margin-bottom: lib.rem(24);
  }

  p a:hover,
  ul a:hover {
    text-decoration: underline;
  }

  figure {
    text-align: center;
  }

  figcaption {
    margin-top: lib.rem(10);
    font-size: lib.rem(18);
    font-style: italic;
    line-height: lib.rem(32);
  }

  pre, pre span, pre code {
    font-size: lib.rem(16);
  }

  iframe {
    max-width: 100%;
  }
}

@mixin content-image {
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: lib.rem(14);
  }
}

@mixin transitionAll($ms) {
  -webkit-transition: all $ms ease;
  -ms-transition: all $ms ease;
  -o-transition: all $ms ease;
  -moz-transition: all $ms ease;
  transition: all $ms ease;
}

@mixin marque($height, $itemWidth: 250px, $speed: 25s, $pauseOnHover: false) {
  text-align: center;
  height: $height;
  margin-left: -60px;
  margin-right: -60px;

  &__container {
    overflow: hidden;
  }

  &__block {
    $total-marquee-items: 7;
    height: $height;
    display: grid;
    width: $itemWidth * $total-marquee-items;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0;
      box-shadow: 0 0 30px 30px white;
      z-index: 1;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0;
      box-shadow: 0 0 30px 30px white;
      z-index: 1;
    }
  }

  &__inner {
    display: block;
    width: 200%;
    position: absolute;

    & > span {
      float: left;
      width: 50%;
    }

    &_to-left {
      animation: marqueeLeft $speed linear infinite;
    }

    &_to-right {
      animation: marqueeRight $speed linear infinite;
    }
  }

  &__item {
    width: $itemWidth - 20px;
    height: $height;
    display: inline-flex;
    margin: 0 10px;
    float: left;
    transition: all .2s ease-out;
    align-items: center;

    img {
      width: $itemWidth - 40px;
      height: auto;
    }
  }

  @keyframes marqueeLeft {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  @keyframes marqueeRight {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
}