{{ with (.Site.GetPage "/headless/additional-resources") }}
  <section class="additional-resources">
    <div class="container">
      <h2 class="additional-resources__title">{{ .Params.title }}</h2>
      <div class="additional-resources__cards row">
        {{ range .Params.resourceCards }}
          <div class="additional-resources__card col-12 col-xl-3">
            <div class="additional-resources__card-info">
              <div>
                {{ .icon | safeHTML }}
                <h6 class="additional-resources__card-title">{{ .title }}</h6>
                <p class="additional-resources__card-content">{{ .content }}</p>
              </div>
              <a class="additional-resources__card-link" href="{{ .link.url }}">
                <span>{{ .link.text }}</span>
                <span>{{ partial "svg" "arrow-right-white.svg" }}</span>
              </a>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
    {{ partial "top-and-bottom-overlay" (dict "context" . "class" "additional-resources") }}
  </section>
{{ end }}
