{{ with (.Site.GetPage "/headless/additional-resources") }}
  <section class="additional-resources">
    <div class="container">
      <h2 class="additional-resources__title">{{ .Params.title }}</h2>
      <div class="additional-resources__cards row">
        {{ range .Params.resourceCards }}
          <a href="{{ .link.url }}" class="additional-resources__card col-12 col-md-6 col-xl-3 gy-3 gy-xl-0">
            <div class="additional-resources__card-info">
              <div>
                {{ .icon | safeHTML }}
                <h6 class="additional-resources__card-title">{{ .title }}</h6>
                <p class="additional-resources__card-content">{{ .content }}</p>
              </div>
              <span class="link link_white link_md additional-resources__card-link">
                {{ .link.text }}
              </span>
            </div>
          </a>
        {{ end }}
      </div>
    </div>
    {{ partial "top-and-bottom-overlay" (dict "context" . "class" "additional-resources") }}
  </section>
{{ end }}
