{{ with (.Site.GetPage "/advanced-search/advanced-search-features") }}
  <section class="use-cases-vector-features">
    <div class="container">
      <div class="use-cases-vector-features__header row">
        <h3 class="use-cases-vector-features__title col-12 col-lg-6">{{ .Params.title }}</h3>
        <p class="use-cases-vector-features__description col-12 col-lg-6">{{ .Params.description }}</p>
      </div>
      <div class="row g-4 gy-lg-3">
        {{ range $index, $element := .Params.features }}
          <div class="col-12 {{ if or (eq $index 0) (eq $index 3) }}col-lg-7{{ else }}col-lg-5{{ end }}">
            <a href="{{ .link.url }}" class="card use-cases-vector-features__card">
              <img class="use-cases-vector-features__card-icon" src="{{ .icon.src }}" alt="{{ .icon.alt }}" />
              <h6 class="use-cases-vector-features__card-title">{{ .title }}</h6>
              <p class="use-cases-vector-features__card-description">{{ .description }}</p>
              <span class="use-cases-vector-features__card-link link link_md align-self-start">
                {{ .link.text }}
              </span>
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
