{{ with (.Site.GetPage "/advanced-search/advanced-search-use-cases") }}
  <section class="advanced-search-use-cases">
    <div class="container">
      <h2 class="advanced-search-use-cases__title">{{ .Params.title }}</h2>
      <div class="advanced-search-use-cases__cards row g-4">
        {{ range .Params.features }}
          <div class="col-12 col-md-6 col-xl-4">
            <a href="{{ .link.url }}" class="card advanced-search-use-cases__card">
              <img class="advanced-search-use-cases__card-image" src="{{ .image.src }}" alt="{{ .image.alt }}" />
              <h6 class="advanced-search-use-cases__card-title">{{ .title }}</h6>
              <p class="advanced-search-use-cases__card-description">{{ .description }}</p>
              <div class="advanced-search-use-cases__card-link">
                <span class="link link_md">{{ .link.text }}</span>
              </div>
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
