{{ with (.Site.GetPage "/headless/main/core-features") }}
  <section class="core-features">
    <div class="container">
      <div class="row gy-4">
        <div class="col-12">
          <h2 class="core-features__title mx-auto">{{ .Params.title }}</h2>
          <p class="core-features__subtitle mx-auto">{{ .Params.description }}</p>
          <div class="text-start text-lg-center">
            <a class="link link_xl" href="{{ .Params.link.url }}">{{ .Params.link.text }}</a>
          </div>
        </div>
        <div class="col-12">
          <a href="{{ .Params.cloudFeature.link.url }}" class="card core-features__cloud-native">
            <div>
              <h4 class="core-features__card-title">{{ .Params.cloudFeature.title }}</h4>
              <p class="core-features__card-content">{{ .Params.cloudFeature.content }}</p>
              <span class="link link_dark link_md">
                {{ .Params.cloudFeature.link.text }}
              </span>
            </div>
            <div class="core-features__cloud-native-image"></div>
          </a>
        </div>
        {{ range .Params.featureCards }}
          <div class="col-12 col-xl-4">
            <a href="{{ .link.url }}" class="card core-features__card">
              <div>
                {{ .icon | safeHTML }}
                <h6 class="core-features__card-title">{{ .title }}</h6>
                <p class="core-features__card-content">{{ .content }}</p>
              </div>
              <span class="link link_dark link_md align-self-start"> {{ .link.text }} </span>
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
