{{ $opts := dict "transpiler" "dartsass" "includePaths" (slice "node_modules") }}

{{ if .IsHome }}
  <!--splide.js carousel core styles-->
  {{ $splideCss := resources.Get "css/vendor/splide.scss" | toCSS $opts | minify | resources.Fingerprint "sha512" }}
  <link href="{{ $splideCss.RelPermalink }}" rel="stylesheet" integrity="{{ $splideCss.Data.Integrity }}" />
{{ end }}

{{ if in (slice "blog" "docs" "documentation" "articles") .Section }}
  {{ $pageSearchCss := resources.Get "css/search/search.scss" | toCSS $opts | minify | resources.Fingerprint "sha512" }}
  <link href="{{ $pageSearchCss.RelPermalink }}" rel="stylesheet" integrity="{{ $pageSearchCss.Data.Integrity }}" />
{{ end }}

{{ if eq .Section "hybrid-cloud" }}
  {{ $hybridCloudCss := resources.Get "css/hybrid-cloud.scss" | toCSS $opts | minify | resources.Fingerprint "sha512" }}
  <link
    href="{{ $hybridCloudCss.RelPermalink }}"
    rel="stylesheet"
    integrity="{{ .Data.Integrity }}"
    crossorigin="anonymous"
  />
{{ end }}

{{ if in (slice "docs" "documentation" "articles") .Section }}
  {{ $documentationCss := resources.Get "css/documentation.scss" | toCSS $opts | minify | resources.Fingerprint "sha512" }}
  <link
    href="{{ $documentationCss.RelPermalink }}"
    rel="stylesheet"
    integrity="{{ $documentationCss.Data.Integrity }}"
  />
{{ end }}

{{ if eq .Section "benchmarks" }}
  {{ $benchmarksCss := resources.Get "css/benchmarks.scss" | toCSS $opts | minify | resources.Fingerprint "sha512" }}
  <link href="{{ $benchmarksCss.RelPermalink }}" rel="stylesheet" integrity="{{ $benchmarksCss.Data.Integrity }}" />
{{ end }}

{{ if not (in (slice "hybrid-cloud" "docs" "documentation" "benchmarks") .Section) }}
  {{ $mainCss := resources.Get "css/main.scss" | toCSS $opts | minify | resources.Fingerprint "sha512" }}
  <link href="{{ $mainCss.RelPermalink }}" rel="stylesheet" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" />
{{ end }}
