{{ $opts := dict "transpiler" "dartsass" "includePaths" (slice "node_modules") }}

<!--Shared foundation (fonts, Bootstrap, base, header/footer) - loaded on every page-->
{{ $coreCss := resources.Get "css/core.scss" | toCSS $opts | minify | resources.Fingerprint "sha512" }}
<link href="{{ $coreCss.RelPermalink }}" rel="stylesheet" integrity="{{ $coreCss.Data.Integrity }}" />

{{ if .IsHome }}
  <!--splide.js carousel core styles-->
  {{ $splideCss := resources.Get "css/vendor/splide.scss" | toCSS $opts | minify | resources.Fingerprint "sha512" }}
  <link href="{{ $splideCss.RelPermalink }}" rel="stylesheet" integrity="{{ $splideCss.Data.Integrity }}" />
{{ end }}

{{ if in (slice "blog" "docs" "documentation" "articles" "course" "learn" "customers") .Section }}
  {{ $pageSearchCss := resources.Get "css/search/search.scss" | toCSS $opts | minify | resources.Fingerprint "sha512" }}
  <link href="{{ $pageSearchCss.RelPermalink }}" rel="stylesheet" integrity="{{ $pageSearchCss.Data.Integrity }}" />
{{ end }}

<!--Section bundle: page-specific styles on top of core.css (articles need two bundles)-->
{{ $bundles := slice "default" }}
{{ if .IsHome }}
  {{ $bundles = slice "home" }}
{{ else if eq .Section "blog" }}
  {{ $bundles = slice "blog" }}
{{ else if in (slice "docs" "documentation" "course" "learn") .Section }}
  {{ $bundles = slice "documentation" }}
{{ else if eq .Section "articles" }}
  {{ $bundles = slice "documentation" "blog" }}
{{ else if eq .Section "benchmarks" }}
  {{ $bundles = slice "benchmarks" }}
{{ else if eq .Section "hybrid-cloud" }}
  {{ $bundles = slice "hybrid-cloud" }}
{{ else if eq .Section "pricing" }}
  {{ $bundles = slice "pricing" }}
{{ else if in (slice "industries" "edge" "elastic-lucene" "healthcare") .Section }}
  {{ $bundles = slice "industries" }}
{{ else if in (slice "partners" "customers" "stars" "community" "qdrant-for-startups" "brand-resources") .Section }}
  {{ $bundles = slice "partners-customers" }}
{{ end }}
{{ range $bundles }}
  {{ $bundleCss := resources.Get (printf "css/%s.scss" .) | toCSS $opts | minify | resources.Fingerprint "sha512" }}
  <link href="{{ $bundleCss.RelPermalink }}" rel="stylesheet" integrity="{{ $bundleCss.Data.Integrity }}" />
{{ end }}
