{{ with (.Site.GetPage "/headless/main/customer-stories") }}
  <section class="customer-stories">
    <div class="container">
      <div class="customer-stories__header">
        <h3 class="customer-stories__title mx-auto">{{ .Params.title }}</h3>
        <div class="customer-stories__header-content">
          {{ .Scratch.Set "cssClass" "link_xl" }}
          {{ partial "link" . }}
        </div>
      </div>
      <div class="splide">
      <div class="splide__track" data-glide-el="track">
        <div class="splide__list">
          {{ range .Params.storyCards }}
            <div class="splide__slide">
              <div class="card customer-stories__card">
                <div>
                  <img src="{{ .icon }}" alt="{{ .brand }}" />
                  <p class="customer-stories__card-content">{{ .content | safeHTML }}</p>
                </div>
                <div class="customer-stories__card-footer">
                  <img src="{{ .author.avatar }}" alt="{{ .author.fullName }}" />
                  <div class="customer-stories__card-author">
                    <p class="customer-stories__card-author-name">{{ .author.fullName }}</p>
                    <p class="customer-stories__card-author-position">{{ .author.position }}</p>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
    </div>





  </section>
{{ end }}
