{{ with (.Site.GetPage "/data-analysis/data-analysis-anomaly-detection") }}
  <section class="data-analysis-anomaly-detection">
    <div class="container">
      <div class="data-analysis-anomaly-detection__content row align-items-lg-center">
        <div class="col-12 col-lg-5">
          <h3 class="data-analysis-anomaly-detection__title">{{ .Params.title }}</h3>
          <p class="data-analysis-anomaly-detection__description">{{ .Params.description }}</p>
        </div>
        <div class="col-12 offset-lg-1 col-lg-6">
          <img
            class="data-analysis-anomaly-detection__preview"
            src="{{ .Params.image.src }}"
            alt="{{ .Params.image.alt }}"
          />
        </div>
      </div>
      {{ partial "case-study" . }}
    </div>
  </section>
{{ end }}
