{{ with (.Site.GetPage "/data-analysis/headless/data-analysis-anomaly-detection") }}
  <section class="data-analysis-anomaly-detection">
    <div class="container">
      <div class="data-analysis-anomaly-detection__content row align-items-xl-center">
        <div class="col-12 col-xl-5">
          <h3 class="data-analysis-anomaly-detection__title">{{ .Params.title }}</h3>
          <p class="data-analysis-anomaly-detection__description">{{ .Params.description }}</p>
        </div>
        <div class="col-12 offset-xl-1 col-xl-6">
          <img
            class="data-analysis-anomaly-detection__preview"
            src="{{ .Params.image.src }}"
            alt="{{ .Params.image.alt }}"
          />
        </div>
      </div>
      {{ partial "case-study" . }}
    </div>
  </section>
{{ end }}
