{{ with (.Site.GetPage "/headless/footer") }}
  <footer class="footer w-100 p-0">
    <div class="footer__bottom">
      <div class="footer__bottom-content">
        <span>{{ .Params.copyright }}</span>
        <div class="footer__bottom-links">
          <a href="{{ .Params.termsLink.url }}">{{ .Params.termsLink.text }}</a>
          <a href="{{ .Params.privacyLink.url }}">{{ .Params.privacyLink.text }}</a>
          <a href="{{ .Params.impressumLink.url }}">{{ .Params.impressumLink.text }}</a>
        </div>
      </div>
    </div>
  </footer>
{{ end }}
