<section class="dev-portal-build__hero dev-portal__hero">
    <div>
        <h1 class="dev-portal__hero-title">{{ .Params.title }}</h1>
        <a
                href="{{ .Params.startedButton.url }}"
                class="button button_outlined button_sm dev-portal__hero-button"
        >
            {{ .Params.startedButton.text }}
        </a>
    </div>
    <img class="dev-portal__hero-image" src="{{ .Params.image.src }}" alt="{{ .Params.image.alt }}" />
</section>

<section class="dev-portal-build__building">
    <h2>{{ .Params.buildingTitle }}</h2>
    <p>{{ .Params.buildingDescription }}</p>

    <div class="row">
        {{ range .Params.services }}
        <div class="col-12 col-lg-4">
            <div class="dev-portal-build__services-card dev-portal__card">
                <img src="{{ .image.src }}" alt="{{ .image.alt }}" />
                <h3>{{ .title }}</h3>
                <p>{{ .description }}</p>
                <a href="{{ .link }}"></a>
            </div>
        </div>
        {{ end }}
    </div>
</section>
