<section class="docs-build__hero docs__hero">
  <div class="docs__hero-content">
    <h1 class="docs__hero-title">{{ .Params.title }}</h1>
    <a href="{{ .Params.startedButton.url }}" class="button button_outlined button_sm docs__hero-button">
      {{ .Params.startedButton.text }}
    </a>
  </div>
  <img class="docs__hero-image" src="{{ .Params.image.src }}" alt="{{ .Params.image.alt }}" />
  <div class="docs-core__overlay"></div>
</section>

<section class="docs-build__building">
  <h2>{{ .Params.buildingTitle }}</h2>
  <p>{{ .Params.buildingDescription }}</p>

  <div class="row g-4 g-lg-3">
    {{ range .Params.services }}
      <div class="col-12 col-lg-4">
        <div class="docs-build__services-card docs__card">
          <img class="docs__card-image" src="{{ .image.src }}" alt="{{ .image.alt }}" />
          <h3 class="docs__card-title"><a href="{{ .link }}">{{ .title }}</a></h3>
          <p class="docs__card-description">{{ .description }}</p>
          <div class="docs__card-arrow">
            <a href="{{ .link }}"></a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>
