<section class="docs-core__hero">
  <h1 class="docs-core__hero-title">{{ .Params.title }}</h1>
  <p class="docs-core__hero-description">{{ .Params.description }}</p>
  <p class="docs-core__hero-link">{{ .Params.linkDescription | safeHTML }}</p>
  <div class="docs-core__hero-buttons">
    <a href="{{ .Params.cloudButton.url }}" class="button button_contained button_sm">
      {{ .Params.cloudButton.text }}
    </a>
    <a href="{{ .Params.localButton.url }}" class="button button_outlined button_sm">
      {{ .Params.localButton.text }}
    </a>
  </div>
</section>

<section class="docs-core__developing">
  <h2>{{ .Params.developingTitle }}</h2>
  <p>{{ .Params.developingDescription | safeHTML }}</p>

  <div class="docs-core__developing-block">
    <div class="row align-items-center">
      <div class="docs-core__developing-block-text col-12 col-lg-7">
        <h3 class="docs-core__developing-bloc-title">{{ .Params.developingBlock.title }}</h3>
        <a href="{{ .Params.developingBlock.button.url }}" class="button button_outlined button_sm" target="_blank">
          {{ .Params.developingBlock.button.text }}
        </a>
      </div>
      <div class="docs-core__developing-block-image col-12 col-lg-5">
        <img src="{{ .Params.developingBlock.image.src }}" alt="{{ .Params.image.alt }}" />
      </div>
      <div class="docs-core__overlay"></div>
    </div>
  </div>
</section>

<section class="docs-core__data">
  <div class="d-flex justify-content-between align-items-center flex-wrap column-gap-4 mb-5 mb-lg-3">
    <div>
      <h2>{{ .Params.dataTitle }}</h2>
      <p class="mb-3">{{ .Params.dataDescription}}</p>
    </div>
    <a href="{{ .Params.dataButton.url }}" class="button button_outlined button_sm">
      {{ .Params.dataButton.text }}
    </a>
  </div>

  <div class="row g-4 g-lg-3">
    {{ range $index, $element := .Params.topics }}
      <div class="col-12 col-lg-4">
        <div class="docs-core__data-card docs__card">
          <div class="docs__card-tag {{ if or (eq $index 3)}}purple{{ end }}">
            <img src="{{ .icon.src }}" alt="{{ .icon.alt }}" />
            <p>{{ .tag }}</p>
          </div>
          <h3 class="docs__card-title"><a href="{{ .link }}">{{ .title }}</a></h3>
          <p class="docs__card-description">{{ .description }}</p>
          <div class="docs__card-arrow">
            <a href="{{ .link }}"></a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>
