<section class="docs-cloud__hero docs__hero">
  <div class="docs__hero-content">
    <h1 class="docs__hero-title">{{ .Params.title }}</h1>
    <a href="{{ .Params.startedButton.url }}" class="button button_outlined button_sm docs__hero-button">
      {{ .Params.startedButton.text }}
    </a>
  </div>
  <img class="docs__hero-image" src="{{ .Params.image.src }}" alt="{{ .Params.image.alt }}" />
  <div class="docs-core__overlay"></div>
</section>

<section class="docs-cloud__services">
  <h2>{{ .Params.servicesTitle }}</h2>
  <p>{{ .Params.servicesDescription }}</p>

  <div class="row g-4 g-lg-3">
    {{ range .Params.services }}
      <div class="col-12 col-lg-4">
        <div class="docs-cloud__services-card docs__card">
          <img class="docs__card-image" src="{{ .image.src }}" alt="{{ .image.alt }}" />
          <h3 class="docs__card-title">{{ .title }}</h3>
          <p class="docs__card-description">{{ .description }}</p>
          <div class="docs__card-arrow">
            <a href="{{ .link }}"></a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>

<section class="docs-cloud__support">
  <h2>{{ .Params.supportTitle }}</h2>
  <p>{{ .Params.supportDescription }}</p>

  <div class="row g-4 g-lg-2">
    {{ range .Params.topics }}
      <div class="col-12 col-lg-6">
        <div class="docs-cloud__support-card docs__card">
          <img class="docs__card-icon" src="{{ .image.src }}" alt="{{ .image.alt }}" />
          <h3 class="docs__card-title">{{ .title }}</h3>
          <p class="docs__card-description">{{ .description }}</p>
          <a class="docs__card-link link link_sm" href="{{ .link.url }}">{{ .link.text }}</a>
        </div>
      </div>
    {{ end }}
  </div>
</section>
