{{ with (.Site.GetPage "enterprise-solutions/headless/enterprise-benefits") }}
  <section class="enterprise-benefits">
    <div class="container">
      <h2 class="enterprise-benefits__title">{{ .Params.title }}</h2>
      <div class="enterprise-benefits__cards row">
        {{ range $index, $element := .Params.cards }}
          <div class="enterprise-benefits__card col-12 col-xl-6">
            <div class="enterprise-benefits__card-info card">
              <img class="enterprise-benefits__card-icon" src="{{ .icon.src }}" alt="{{ .icon.alt }}" />
              <h5 class="enterprise-benefits__card-title">{{ .title }}</h5>
              <p class="enterprise-benefits__card-description">{{ .description }}</p>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
