{{ with (.Site.GetPage "enterprise-solutions/enterprise-solutions-use-cases") }}
  <section class="enterprise-solutions-use-cases">
    <div class="container">
      <h5 class="enterprise-solutions-use-cases__description">{{ .Params.description }}</h5>
      <img
        class="enterprise-solutions-use-cases__description-image"
        src="{{ .Params.descriptionImage.src }}"
        alt="{{ .Params.descriptionImage.alt }}"
      />
      <h2 class="enterprise-solutions-use-cases__title">{{ .Params.title }}</h2>
      <div class="enterprise-solutions-use-cases__cases row g-4">
        {{ range $index, $element := .Params.items }}
          <div class="{{ if eq $index 0 }}col-12{{ else }}col-12 col-lg-6{{end}}">
            <div class="card enterprise-solutions-use-cases__case">
              <div class="enterprise-solutions-use-cases__case-text">
                <h3 class="enterprise-solutions-use-cases__case-title">{{ .title }}</h3>
                <p class="enterprise-solutions-use-cases__case-description">{{ .description }}</p>
                <a
                  class="enterprise-solutions-use-cases__case-link link link_md align-self-start"
                  href="{{ .link.url }}"
                >
                  {{ .link.text }}
                </a>
              </div>
              <div class="enterprise-solutions-use-cases__case-preview">
                <img src="{{ .image.src }}" alt="{{ .image.alt }}" />
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
