{{ with (.Site.GetPage "enterprise-solutions/enterprise-solutions-use-cases") }}
  <section class="enterprise-solutions-use-cases pb-7">
    <div class="container">
      <h2 class="enterprise-solutions-use-cases__title pt-4">{{ .Params.title }}</h2>
      <div class="enterprise-solutions-use-cases__cases row g-4">
        {{ range $index, $element := .Params.items }}
          <div class="{{ if eq $index 0 }}col-12{{ else }}col-12 col-lg-6{{ end }}">
            <a
                    href="{{ .link.url }}"
                    class="card enterprise-solutions-use-cases__case">
              <div class="enterprise-solutions-use-cases__case-text">
                <h3 class="enterprise-solutions-use-cases__case-title">{{ .title }}</h3>
                <p class="enterprise-solutions-use-cases__case-description">{{ .description }}</p>
                <span
                  class="enterprise-solutions-use-cases__case-link link link_md align-self-start"
                >
                  {{ .link.text }}
                </span>
              </div>
              <div class="enterprise-solutions-use-cases__case-preview">
                <img src="{{ .image.src }}" alt="{{ .image.alt }}" />
              </div>
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
