{{ with (.Site.GetPage "/headless/footer") }}
  <footer class="footer">
    <div class="footer__top">
      <div class="container">
        <div class="row justify-content-md-between">
          <div class="col-12 col-md-6">
            <a href="/" title="Go to Home Page">
              <img class="footer__top-logo" src="/img/logo-white.png" alt="Qdrant Logo" />
            </a>
          </div>
          <div class="col-12 col-md-6 footer__top-social-media-platforms">
            {{ range .Params.socialMedia }}
              <a
                class="footer__top-social-media-link"
                href="{{ .url }}"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                {{ .icon | safeHTML }}
              </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="footer__menu">
      <div class="container">
        <nav class="footer__menu-content">
          {{ range .Params.menuItems }}
            <div class="footer__menu-section">
              {{ if .url }}
                <a
                  href="{{ .url }}"
                  {{ if strings.HasPrefix .url "http" }}
                    target="_blank" rel="noopener noreferrer nofollow"
                  {{ end }}
                  class="footer__menu-section-title"
                  >{{ .title }}
                </a>
              {{ else }}
                <p class="footer__menu-section-title">{{ .title }}</p>
              {{ end }}
              <ul class="footer__menu-items">
                {{ range .items }}
                  <li class="footer__menu-item">
                    <a
                      href="{{ .url }}"
                      {{ if strings.HasPrefix .url "http" }}
                        target="_blank" rel="noopener noreferrer nofollow"
                      {{ end }}
                      >{{ .name }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
        </nav>
      </div>
    </div>
    <div class="footer__middle ">
      <div class="container">
        {{ with (.Site.GetPage "/headless/newsletter") }}
          <div class="align-items-center row">
            <div class="col-12 col-lg-5">
              <p class="footer__middle-title">{{ .Params.title }}</p>
              <p class="footer__middle-subtitle">{{ .Params.description }}</p>
            </div>

            <div class="footer__middle-newsletter col-12 col-lg-7">
              {{ partial "hubspot-form.html" (dict "hubspotFormOptions" .Params.hubspotFormOptions "id" "footer-subscribe-form" "context" . ) }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container">
        <div class="row g-3">
          <div class="col-12 col-lg-6 footer__bottom-content">
            <span class="footer__bottom-copyright">{{ .Params.copyright }}</span>
            <div class="footer__bottom-bages">
              {{ range .Params.bages }}
                <a href="{{ .url }}" target="_blank">
                  <img src="{{ .src }}" alt="{{ .alt }}" />
                </a>
              {{ end }}
            </div>
          </div>
          <div class="col-12 col-lg-6 footer__bottom-links">
            <a href="{{ .Params.termsLink.url }}">{{ .Params.termsLink.text }}</a>
            <a href="{{ .Params.privacyLink.url }}">{{ .Params.privacyLink.text }}</a>
            <a href="{{ .Params.impressumLink.url }}">{{ .Params.impressumLink.text }}</a>
            <a href="#" onClick="OneTrust.ToggleInfoDisplay();return false;">Cookie Consent</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
{{ end }}
