{{ with (.Site.GetPage "/headless/footer") }}
  <footer class="footer">
    <div class="footer__top container">
      <div class="row gx-md-5">
        <section class="col-12 col-md-5 col-lg-4">
          <div class="mb-5">
            <a href="/" title="Go to Home Page">
              <img class="footer__logo" src="/img/logo-white.png" alt="Qdrant Logo" />
            </a>
            <p class="footer__subtitle">{{ .Params.subtitle }}</p>
          </div>
          <div class="footer__social-media-platforms mb-5">
            {{ range .Params.socialMedia }}
              <a class="footer__social-media-link" href="{{ .url }}" target="_blank" rel="noopener noreferrer nofollow">
                {{ .icon | safeHTML }}
              </a>
            {{ end }}
          </div>
        </section>
        <nav class="col-12  col-md-7 col-lg-8">
          <div class="row gx-lg-5 gy-5 gy-md-6">
            {{ range .Params.menuItems }}
              <div class="col-6 col-lg-4">
                <p class="footer__menu-section-title">{{ .title }}</p>
                <ul class="footer__menu-items">
                  {{ range .items }}
                    <li class="footer__menu-item">
                      <a
                        href="{{ .url }}"
                        {{ if strings.HasPrefix .url "http" }}
                          target="_blank" rel="noopener noreferrer nofollow"
                        {{ end }}
                        >{{ .name }}</a
                      >
                    </li>
                  {{ end }}
                </ul>
              </div>
            {{ end }}
          </div>
        </nav>
      </div>
    </div>
    <div class="footer__middle container">
      {{ with (.Site.GetPage "/headless/newsletter") }}
        <div class="align-items-center row">
          <div class="col-12 col-lg-4">
            <p class="footer__middle-title">{{ .Params.title }}</p>
            <p class="footer__middle-subtitle">{{ .Params.description }}</p>
          </div>

          <div class="footer__middle-newsletter col-12 col-lg-8">
            {{ partial "hubspot-form.html" (dict "hubspotFormOptions" .Params.hubspotFormOptions "id" "footer-subscribe-form" "context" . ) }}
          </div>
        </div>
      {{ end }}
    </div>
    <div class="footer__bottom container">
      <div class="footer__bottom-content">
        <span>{{ .Params.copyright }}</span>
        <div class="footer__bottom-links">
          <a href="{{ .Params.termsLink.url }}">{{ .Params.termsLink.text }}</a>
          <a href="{{ .Params.privacyLink.url }}">{{ .Params.privacyLink.text }}</a>
          <a href="{{ .Params.impressumLink.url }}">{{ .Params.impressumLink.text }}</a>
        </div>
      </div>
    </div>
  </footer>
{{ end }}
