<section class="{{ .class }}">
  <div class="container">
    <div class="{{ .class }}__content">
      <div class="row justify-content-xl-between align-items-xl-center">
        <div class="{{ .class }}__text col-12 col-xl-7">
          <h3 class="{{ .class }}__title">{{ .context.Params.title }}</h3>
          <a href="{{ .context.Params.startFree.url }}" class="button button_contained">
            {{ .context.Params.getStarted.text }}
          </a>
        </div>
        <div class="{{ .class }}__image col-12 col-xl-4">
          <img src="{{ .context.Params.image.src }}" alt="{{ .Params.image.alt }}" />
        </div>
      </div>
      <div class="{{ .class }}__overlay-top"></div>
    </div>
  </div>
</section>
