<section class="hr-tech-hero">
  <div class="container">
    <div class="row justify-content-lg-between align-items-lg-center">
      <div class="col-12 col-lg-6 hr-tech-hero__content">
        <h1 class="hr-tech-hero__title">{{ .Params.title | safeHTML }}</h1>
        <p class="hr-tech-hero__description">{{ .Params.description | safeHTML }}</p>
        {{ if .Params.values }}
          <div class="hr-tech-hero__values">
            {{ range .Params.values }}
              <div class="hr-tech-hero__value">
                <img class="hr-tech-hero__value-icon" src="{{ .icon.src }}" alt="{{ .icon.alt }}" />
                <span class="hr-tech-hero__value-text">{{ .text }}</span>
              </div>
            {{ end }}
          </div>
        {{ end }}
        <div class="hr-tech-hero__buttons">
          <a href="{{ .Params.startFree.url }}" class="button button_contained button_lg">
            {{ .Params.startFree.text }}
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-6 hr-tech-hero__preview">
        <div class="hr-tech-hero__preview-square-grid"></div>
        <img src="{{ .Params.image.src }}" alt="{{ .Params.image.alt }}" />
      </div>
    </div>
  </div>
</section>
