{{ with (.Site.GetPage "/hybrid-cloud/headless/hybrid-cloud-features") }}
  <section class="hybrid-cloud-features">
    <div class="container">
      <h3 class="hybrid-cloud-features__title">{{ .Params.title }}</h3>
      <div class="hybrid-cloud-features__cards row justify-content-xl-between">
        {{ range .Params.cards }}
          <div class="col-12 col-xl-3">
            <div class="card hybrid-cloud-features__card">
              <img class="hybrid-cloud-features__card-icon" src="{{ .icon.src }}" alt="{{ .icon.alt }}" />
              <p class="hybrid-cloud-features__card-description">{{ .description }}</p>
            </div>
          </div>
        {{ end }}
      </div>
      <div class="hybrid-cloud-features__link">
        <p>{{ .Params.link.content }}</p>
        <a class="link link_xl align-self-start" href="{{ .Params.link.url }}">{{ .Params.link.text }}</a>
      </div>
    </div>
  </section>
{{ end }}
