{{ with (.Site.GetPage "/about-us/investors") }}
  <section class="investors">
    <div class="investors__overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="investors__title mx-auto">{{ .Params.title }}</h2>
          <div class="investors__links">
            <a href="{{ .Params.link1.url }}" class="link link_xl">{{ .Params.link1.title }}</a>
            <a href="{{ .Params.link2.url }}" class="link link_xl">{{ .Params.link2.title }}</a>
          </div>
        </div>
      </div>
      <div class="investors__logos">
        {{ range .Params.investors }}
          <img class="investors__logo" src="{{ .logo }}" alt="Logo">
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
