<!--Hubspot forms-->
<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>

{{ if eq .Section "benchmarks" }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  {{ $benchmarksJs := resources.Get "/js/benchmarks/benchmarks.js" | minify | resources.Fingerprint "sha512" }}
  <script src="{{ $benchmarksJs.RelPermalink }}"></script>
  {{ $filterChartJs := resources.Get "/js/benchmarks/benchmarks_filtered_search.js" | minify | resources.Fingerprint "sha512" }}
  <script src="{{ $filterChartJs.RelPermalink }}"></script>
{{ end }}

{{ if in (slice "docs" "documentation" "articles") .Section }}
  {{ $documentationJs := resources.Get "/js/documentation.js" | js.Build | minify | resources.Fingerprint "sha512" }}
  <script src="{{ $documentationJs.RelPermalink }}"></script>
{{ end }}

<!--Segment-->
{{ if .Site.Params.segmentWriteKey }}
  {{ $segmentJs := resources.Get "js/segment-setup.js" | js.Build (dict "params" (dict "segmentWriteKey" .Site.Params.segmentWriteKey "gaMeasurementId" .Site.Config.Services.GoogleAnalytics.ID)) | minify | resources.Fingerprint "sha512" }}
  <script src="{{ $segmentJs.RelPermalink }}?v=eu"></script>
{{ end }}
