<!--Cookies banner-->
{{ $cookit := resources.Get "/js/cookit.js" | js.Build | minify | resources.Fingerprint "sha512" }}
<script src="{{ $cookit.RelPermalink }}"></script>
{{ with (.Site.GetPage "/headless/cookies") }}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    window.cookit({
      messageText: "{{ .Params.message.text }}",
      linkText: "{{ .Params.link.text }}",
      linkUrl: "{{ .Params.link.url }}",
      buttonText: "{{ .Params.button.text }}",
      backgroundColor: {{ .Params.background }},
      messageColor: {{ .Params.message.color }},
      linkColor: {{ .Params.link.color }},
      buttonColor: {{ .Params.button.color }},
    });
  });
</script>
{{ end }}


<script>
  // on all pages:
  // add class 'scrolled' to body when user scrolls down more than top banner height + menu offset
  const body = document.querySelector('body');
  const header = document.querySelector('.site-header');
  const topBannerHeight = document.querySelector('.top-banner')?.offsetHeight ?? 0;
  const mainMenuHeight = document.querySelector('.main-menu')?.offsetHeight ?? 0;
  const menuOffset = 24; // 24px is a PART of padding-top which we want to scroll over

  // predict in which direction user is scrolling
  let lastScrollTop = 0;
  window.addEventListener('scroll', function () {
    const st = window.pageYOffset || document.documentElement.scrollTop;
    if (st > lastScrollTop) {
      // scroll down
      if (window.scrollY > topBannerHeight + menuOffset) {
        body.classList.add('scrolled');
      }
    } else {
      // scroll up
      if (window.scrollY <= mainMenuHeight) {
        body.classList.remove('scrolled');
      }
    }
    lastScrollTop = st <= 0 ? 0 : st;
  });
</script>

{{ if .IsHome }}
  <!--splide.js carousel-->
  {{ $splideJs := resources.Get "/js/vendor/splide.js" | js.Build | minify | resources.Fingerprint "sha512" }}
  <script src="{{ $splideJs.RelPermalink }}"></script>
{{ end }}

{{ if or (eq .Section "documentation") (and (not .IsPage) (eq .Section "blog")) }}
  {{ $pageSearchJs := resources.Get "/js/search/search.js" | js.Build | minify | resources.Fingerprint "sha512" }}
  <script src="{{ $pageSearchJs.RelPermalink }}" type="module"></script>
{{ end }}

{{ if and .IsPage (in (slice "blog" "articles" "benchmarks" "documentation") .Section) }}
  {{ $pageSearchScrollJs := resources.Get "/js/search/scroll.js" | js.Build | minify | resources.Fingerprint "sha512" }}
  <script src="{{ $pageSearchScrollJs.RelPermalink }}"></script>
{{ end }}

{{ if in (slice "blog" "articles" "benchmarks" "documentation") .Section }}
  <!--popper.js for bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>

  {{ $copyCodeJs := resources.Get "/js/copy-code.js" | js.Build | minify | resources.Fingerprint "sha512" }}
  <script src="{{ $copyCodeJs.RelPermalink }}"></script>

  {{ $langSwitcherJs := resources.Get "/js/lang-switcher.js" | js.Build | minify | resources.Fingerprint "sha512" }}
  <script src="{{ $langSwitcherJs.RelPermalink }}"></script>

  <!-- MathJax support -->
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script>
    MathJax = {
      tex: {
        inlineMath: [
          ['$', '$'],
          ['\\(', '\\)'],
        ],
        displayMath: [
          ['$$', '$$'],
          ['\\[', '\\]'],
        ],
        processEscapes: true,
        processEnvironments: true,
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      },
    };

    window.addEventListener('load', (event) => {
      document.querySelectorAll('mjx-container').forEach(function (x) {
        x.parentElement.classList += 'has-jax';
      });
    });
  </script>

  {{ $anchorJs := resources.Get "/js/vendor/anchor.js" | js.Build | minify | resources.Fingerprint "sha512" }}
  <script src="{{ $anchorJs.RelPermalink }}"></script>
{{ end }}

{{ if eq .Section "documentation" }}
  <script>
    document.getElementById('sidebar-toggle').addEventListener('click', () => {
      document.getElementById('sidebar-toggle').classList.toggle('active');
      document.getElementById('sidebar').classList.toggle('active');
    });
  </script>
{{ end }}
