{{ with (.Site.GetPage "/about-us/leadership") }}
  <section class="leadership">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="leadership__title mx-auto">{{ .Params.title }}</h2>
        </div>
      </div>
      <div class=" leadership__cards">
        <div class="row justify-content-center g-4">
          {{ range .Params.teamMembers }}
          <div class="col-6 col-lg-3">
            <div class="card leadership__card">
              <img class="leadership__card-image" src="{{ .avatar }}" alt="Avatar">
              <div>
                <p class="leadership__card-name">{{ .name }}</p>
                <p class="leadership__card-position">{{ .position }}</p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
