{{ $class := .class }}
<section class="{{ $class }}">
  <div class="container">
    <h2 class="{{ $class }}__title">{{ .context.Params.title }}</h2>
    <div class="{{ $class }}__cards">
      {{ range $index, $element := .context.Params.items }}
        <div class="card {{ $class }}__card">
          <img src="{{ .image.src }}" alt="{{ .image.alt }}" />
          <h5>{{ .title }}</h5>
          <a class="link link_md" href="{{ .link.url }}">{{ .link.text }}</a>
        </div>
      {{ end }}
    </div>
  </div>
  <div class="{{ $class }}__square-grid-overlay"></div>
</section>
