<div class="main-menu">
  {{ partial "logo.html" . }}
  <button type="button" class="main-menu__trigger">{{ partial "svg" "Hamburger-Menu-White.svg" }}</button>
  <ul class="main-menu__links">
    {{ range .Params.menuItems }}
      <li class="main-menu__item">
        <a class="menu-link" href="{{ .url }}">{{ .name }}</a>
      </li>
    {{ end }}
  </ul>
  <div class="main-menu__buttons">
    <a href="{{ .Params.logIn.url }}" class="menu-link mx-3">{{ .Params.logIn.text }}</a>
    <button class="button button_contained button_sm">{{ .Params.tryFree }}</button>
  </div>
</div>
