{{ with (.Site.GetPage "/headless/newsletter") }}
  <section class="newsletter">
    <div class="container">
      <div class="newsletter__content">
        <div class="newsletter__text">
          <h6 class="newsletter__title">{{ .Params.title }}</h6>
          <p class="newsletter__description">{{ .Params.description }}</p>
        </div>
        <form class="newsletter__form">
          <input
            class="q-input q-input_md q-input_dark-bg"
            type="email"
            name="email"
            value=""
            placeholder="{{ .Params.placeholder }}"
            required=""
          />
          <button class="button button_contained button_md" type="submit">{{ .Params.button }}</button>
        </form>
      </div>
    </div>
  </section>
{{ end }}
