<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item active">
      <a href="">1</a>
    </li>
    <li class="pagination__item">
      <a href="">2</a>
    </li>
    <li class="pagination__item">
      <a href="">3</a>
    </li>
    <li class="pagination__item">
      <a href="">...</a>
    </li>
    <li class="pagination__item">
      <a href="">7</a>
    </li>
    <li class="pagination__item">
      <a href="">8</a>
    </li>

    <li class="pagination__item">
      <a href="">Newest</a>
    </li>
  </ul>
</div>
