{{ with (.Site.GetPage "/partners/partners-solution") }}
  {{ $context := .Params.partners }}


  <section class="partners-solution">
    <div class="container">
      <h3 class="partners-solution__title">{{ .Params.title }}</h3>
      <p class="partners-solution__description">{{ .Params.description }}</p>
    </div>

    <div class="partners-solution__content">
      <div class="partners-solution__cards__container">
        <div class="partners-solution__cards__block">
          <div class="partners-solution__cards__inner partners-solution__cards__inner_to-left">
            <span>
              {{ partial "partners-solution-cards" (dict "context" $context) }}
            </span>
            <span>
              {{ partial "partners-solution-cards" (dict "context" $context) }}
            </span>
          </div>
        </div>
      </div>

      <div class="partners-solution__square-grid-overlay"></div>
    </div>
  </section>
{{ end }}
