<section class="qdrant-blog-features">
  <div class="container">
    <div class="qdrant-blog-features__header row">
      <h2 class="qdrant-blog-features__title col-12 col-lg-6">{{ .Params.features_title }}</h2>
      <form class="qdrant-blog-features__form col-12 col-lg-6">
        <div class="qdrant-blog-features__form-search-block">
          <button
            type="button"
            class="q-input q-input_md q-input_light-bg qdr-search-input-btn"
            data-target="#searchModal"
          >
            {{ .Params.search_placeholder }}
            <i></i>
          </button>
        </div>
      </form>
    </div>

    {{ $all := ($.Site.GetPage "blog" .Section).Pages.ByPublishDate.Reverse }}


    <div class="qdrant-blog-features__articles">
      {{ range first 1 (where $all ".Params.featured" "=" true) }}
        <article class="qdrant-blog-features__articles-main post">
          <a class="post-link" href="{{ .RelPermalink }}">
            <div class="post-preview">
              {{ partial "preview-image" (dict "context" . "default_file_name" "title.jpg" "preview_file" .Params.title_preview_image) }}
            </div>
            <h5 class="post-title">{{ .Params.title }}</h5>
            <div class="post-about">
              <p>{{ .Params.author }}</p>
              <p>{{ time.Format "January 02, 2006" .Date }}</p>
            </div>
          </a>
        </article>
      {{ end }}


      <div class="qdrant-blog-features__articles-secondary">
        {{ range first 3 (after 1 (where $all ".Params.featured" "=" true)) }}
          <article class="post">
            <a class="post-link" href="{{ .RelPermalink }}">
              <h6 class="post-title">{{ .Params.title }}</h6>
              <div class="post-about">
                <p>{{ .Params.author }}</p>
                <p>{{ time.Format "January 02, 2006" .Date }}</p>
              </div>
            </a>
          </article>
        {{ end }}
      </div>
    </div>
  </div>
</section>
