<section class="qdrant-articles-posts">
  <div class="container">
    <div class="qdrant-articles-posts__articles row gx-4 gy-5 gy-xl-6">
      {{ range first 10 .Pages }}
        <article class="col-12 col-xl-6 post">
          <a class="post-link" href="/">
            <div class="post-preview">
              <img src="{{ .Params.preview_dir }}/preview.jpg" alt="Preview" />
            </div>
            <h6 class="post-title">{{ .Params.title }}</h6>
            <p class="post-description">{{ .Params.description }}</p>
            <div class="post-about">
              <p>{{ .Params.author }}</p>
              <span>&middot;</span>
              <p>{{ time.Format "January 02, 2006" .Date }}</p>
            </div>
          </a>
        </article>
      {{ end }}
    </div>

    <div class="row">
      <div class="qdrant-articles-posts__pagination col-12">
        {{ partial "pagination" . }}
      </div>
    </div>
  </div>
</section>
