<section class="qdrant-blog-posts">
  <div class="container">
    <div class="qdrant-blog-posts__articles row gx-5">
      {{ range first 9 .Pages }}
        <article class="qdrant-blog-posts__article post col-12 col-xl-4">
          <a class="post-link" href="/">
            <div class="post-preview">
              <img src="{{ .Params.preview_image }}" alt="Preview">
            </div>
            <h6 class="post-title">{{ .Params.title }}</h6>
            <p class="post-description">{{ .Params.description }}</p>
            <div class="post-about">
              <p>{{ .Params.author }}</p>
              <span>&middot;</span>
              <p>{{ time.Format "January 02, 2006" .Date }}</p>
            </div>
          </a>
        </article>
      {{ end }}
    </div>

    <div class="row">
      <div class="qdrant-blog-posts__pagination col-12">
        {{ partial "pagination" . }}
      </div>
    </div>
  </div>
</section>
