{{ with (.Site.GetPage "/qdrant-vector-database/qdrant-vector-database-use-cases") }}
  <section class="qdrant-vector-database-use-cases">
    <div class="qdrant-vector-database-use-cases__wrapper container">
      <div class="qdrant-vector-database-use-cases__cases row">
        {{ range $index, $element := .Params.items }}
          <div class="col-12">
            <div class="row qdrant-vector-database-use-cases__case {{ if mod $index 2 | eq 1 }}case-reversed{{ end }}">
              <div class="qdrant-vector-database-use-cases__case-text col-12 col-xl-5">
                <h3 class="qdrant-vector-database-use-cases__case-title">{{ .title }}</h3>
                <p class="qdrant-vector-database-use-cases__case-description">{{ .description }}</p>
                <a class="link link_light link_md align-self-start" href="{{ .link.url }}">{{ .link.text }}</a>
              </div>
              <div class="qdrant-vector-database-use-cases__case-preview col-12 col-xl-6">
                <img src="{{ .image.src }}" alt="{{ .image.alt }}" />
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
