{{ with (.Site.GetPage "/qdrant-for-startups/qdrant-for-startups-hero") }}
  <section class="qdrant-for-startups-hero">
    <div class="container">
      <h3 class="qdrant-for-startups-hero__title">{{ .Params.title }}</h3>
      <div class="qdrant-for-startups-hero__description">{{ .Params.description }}</div>
      <a class="qdrant-for-startups-hero__button button button_contained button_lg" href="{{ .Params.button.url }}">
        {{ .Params.button.text }}
      </a>
    </div>
    <img class="qdrant-for-startups-hero__image" src="{{ .Params.image.src }}" alt="{{ .Params.image.alt }}" />
    <img
      class="qdrant-for-startups-hero__image-mobile"
      src="{{ .Params.image.srcMobile }}"
      alt="{{ .Params.image.alt }}"
    />
    <div class="qdrant-for-startups-hero__overlay"></div>
  </section>
{{ end }}
