{{ with (.Site.GetPage "/recommendations/recommendations-api") }}
  <section class="recommendations-api">
    <div class="container">
      <div class="row align-items-xl-center">
        <div class="recommendations-api__content col-12 col-xl-6">
          <h3 class="recommendations-api__title">{{ .Params.title }}</h3>
          <p class="recommendations-api__description">{{ .Params.description }}</p>
          <a href="{{ .Params.learnMore.url }}" class="button button_contained button_lg">
            {{ .Params.learnMore.text }}
          </a>
        </div>

        <div class="recommendations-api__preview col-12 col-xl-6">
          <img src="{{ .Params.image.src }}" alt="{{ .Params.image.alt }}" />
        </div>
      </div>
    </div>
    {{ partial "top-and-bottom-overlay" (dict "context" . "class" "recommendations-api") }}
  </section>
{{ end }}
