{{ with (.Site.GetPage "/retrieval-augmented-generation/retrieval-augmented-generation-integrations") }}
  <section class="retrieval-augmented-generation-integrations">
    <div class="container">
      <h4 class="retrieval-augmented-generation-integrations__title">{{ .Params.title }}</h4>
      <div class="row g-4 g-xl-5">
        {{ range .Params.integrations }}
          <div class="col-12 col-xl-4">
            <div class="retrieval-augmented-generation-integrations__card">
              <img
                class="retrieval-augmented-generation-integrations__card-icon"
                src="{{ .icon.src }}"
                alt="{{ .icon.alt }}"
              />
              <div class="retrieval-augmented-generation-integrations__card-info">
                <h6 class="retrieval-augmented-generation-integrations__card-title">{{ .title }}</h6>
                <p class="retrieval-augmented-generation-integrations__card-description">{{ .description }}</p>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
    {{ partial "top-and-bottom-overlay" (dict "context" . "class" "retrieval-augmented-generation-integrations") }}
  </section>
{{ end }}
