{{ with (.Site.GetPage "/stars/stars-benefits") }}
  <section class="stars-benefits">
    <div class="container">
      <h4 class="stars-benefits__title">{{ .Params.title }}</h4>
      <div class="row g-4 gy-md-3">
        {{ range .Params.benefits }}
          <div class="col-12 col-md-6 col-xl-3">
            <div class="card stars-benefits__card">
              <img class="stars-benefits__card-icon" src="{{ .icon.src }}" alt="{{ .icon.alt }}" />
              <h6 class="stars-benefits__card-title">{{ .title }}</h6>
              <p class="stars-benefits__card-description">{{ .description }}</p>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
