<section class="use-cases-vector-hero">
  <div class="container">
    <div class="row align-items-lg-center">
      <div class="use-cases-vector-hero__content col-12 col-lg-6">
        <h1 class="use-cases-vector-hero__title">{{ .Params.title }}</h1>
        <p class="use-cases-vector-hero__description">{{ .Params.description }}</p>
        <div class="use-cases-vector-hero__buttons">
          <a href="{{ .Params.startFree.url }}" class="button button_contained button_lg" target="_blank">
            {{ .Params.startFree.text }}
          </a>
          <a href="{{ .Params.learnMore.url }}" class="button button_outlined button_lg">
            {{ .Params.learnMore.text }}
          </a>
        </div>
      </div>

      <div class="use-cases-vector-hero__preview col-12 col-lg-6">
        <img src="{{ .Params.image.src }}" alt="{{ .Params.image.alt }}" />
      </div>
    </div>
  </div>
</section>
