<section class="vectors">
  <h2 class="vectors__title">{{ .Params.title }}</h2>
  <p class="vectors__subtitle">{{ .Params.subtitle }}</p>
  <div class="vectors__cards">
    {{ range $index, $element := .Params.featureCards }}
    <div {{ if mod $index 2 | eq 0 }} class="vectors__card" {{ else }} class="vectors__card--reversed" {{ end }}>
      {{ .icon | safeHTML }}
      <div class="vectors__card-description">
        <h4 class="vectors__card-title">{{ .title }}</h4>
        <p class="vectors__card-content">{{ .content }}</p>
        <a class="vectors__card-link" href="{{ .link.url }}">
          <span>{{ .link.text }}</span>
          <span>{{ partial "svg" "Arrow-Right-Sm.svg" }}</span>
        </a>
      </div>
      <div class="vectors__card-image" style="background-image: url(/img/vectors/vector-{{$index}}.svg)"></div>
    </div>
    {{ end }}
  </div>
</section>
