<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}


  <body>
    <main>
      <header class="main-header">
        {{ partial "top-banner" . }}

        {{ partial "menu" . }}
        {{ partial "menu-mobile" . }}
        {{ partial "hero" . }}
        {{ partial "customers" . }}
      </header>
      {{ partial "core-features" . }}
      {{ partial "customer-stories" . }}
      {{ partial "integrations" . }}
      {{ partial "docker-deploy" . }}

      {{ with (.Site.GetPage "vectors") }}{{ partial "vectors" . }}{{ end }}

      {{ partial "get-started" . }}

      {{ with (.Site.GetPage "footer") }}
        {{ partial "footer" . }}
      {{ end }}
    </main>
    {{ $pageSearchScrollJs := resources.Get "/js/search/scroll.js" | js.Build | minify | resources.Fingerprint "sha512" }}
    <script src="{{ $pageSearchScrollJs.RelPermalink }}"></script>
  </body>
</html>
