{{ define "main" }}
  {{ partial "site-header" . }}
  {{ partial "home/hero" . }}
  {{ partial "home/customers" . }}

  {{ partial "home/why-qdrant" . }}
  {{ partial "home/case-studies" . }}
  {{ partial "home/enterprise-capabilities" . }}
  {{ partial "home/enterprise-ready" . }}
  {{ with (.Site.GetPage "/headless/main/canva") }}
    {{ partial "testimonial-light" (dict "context" . "class" "customers-testimonial pb-5 pb-lg-7") }}
  {{ end }}
  {{ partial "home/performance-by-design" . }}
  {{ partial "home/engineered-for-builders" . }}
  {{ partial "home/integrations-logos" . }}
  {{ partial "home/solutions" . }}
  {{ with (.Site.GetPage "/headless/main/cta-banner") }}
    {{ partial "cta-banner" . }}
  {{ end }}
{{ end }}
