<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}


  <body>
    <main>
      <header class="main-header">
        {{ partial "top-banner" . }}

        {{ partial "menu" . }}
        {{ partial "menu-mobile" . }}
        {{ partial "hero" . }}
        {{ partial "customers" . }}
      </header>
      {{ partial "core-features" . }}
      {{ partial "customer-stories" . }}
      {{ partial "integrations" . }}

      {{ with (.Site.GetPage "/headless/main/docker-deploy") }}
        {{ partial "docker-deploy" (dict "context" . "class" "") }}
      {{ end }}

      {{ with (.Site.GetPage "/headless/main/vectors") }}
        {{ partial "vectors" . }}
      {{ end }}

      {{ partial "get-started" . }}

      {{ partial "footer" . }}
    </main>
    {{ $pageSearchScrollJs := resources.Get "/js/search/scroll.js" | js.Build | minify | resources.Fingerprint "sha512" }}
    <script src="{{ $pageSearchScrollJs.RelPermalink }}"></script>
  </body>
</html>
