{{ define "main" }}
  {{ partial "site-header" . }}

  {{ partial "cloud-inference/hero" . }}
  {{ partial "cloud-inference/embedding-models" . }}

  {{ with (.Site.GetPage "/cloud-inference/model-request-banner") }}
    {{ partial "pricing-banner" . }}
  {{ end }}

  {{ partial "cloud-inference/what-you-get" . }}
  {{ partial "cloud-inference/how-it-works" . }}
  {{ partial "cloud-inference/approaches" . }}
  {{ partial "cloud-inference/faq" . }}

  {{ with (.Site.GetPage "/cloud-inference/cta-banner") }}
    {{ partial "cta-banner" . }}
  {{ end }}
{{ end }}
