{{ define "main" }}
  {{ partial "site-header" . }}

  {{ partial "customers-hero" . }}


  <section class="bg-mid-gray pt-6">
    <div class="container">
      {{ with (.Site.GetPage "/customers/case-study-hubspot") }}
        {{ partial "case-study" . }}
      {{ end }}
    </div>
  </section>

  {{ with (.Site.GetPage "/customers/customers-testimonial-0") }}
    {{ partial "testimonial-light" (dict "context" . "class" "customers-testimonial") }}
  {{ end }}

  {{ with (.Site.GetPage "/customers/logo-cards-1") }}
    {{ partial "logo-cards" . }}
  {{ end }}


  <section class="bg-mid-gray pt-6">
    <div class="container">
      {{ with (.Site.GetPage "/customers/case-study-telekom") }}
        {{ partial "case-study" . }}
      {{ end }}
    </div>
  </section>

  {{ with (.Site.GetPage "/customers/customers-testimonial-1") }}
    {{ partial "testimonial-light" (dict "context" . "class" "customers-testimonial") }}
  {{ end }}

  {{ with (.Site.GetPage "/customers/logo-cards-2") }}
    {{ partial "logo-cards" . }}
  {{ end }}


  <section class="bg-mid-gray pt-6">
    <div class="container">
      {{ with (.Site.GetPage "/customers/case-study-sprinklr") }}
        {{ partial "case-study" . }}
      {{ end }}
    </div>
  </section>

  {{ with (.Site.GetPage "/customers/case-studies-1") }}
    {{ partial "customers-case-studies" . }}
  {{ end }}


  <section class="bg-mid-gray pt-6">
    <div class="container">
      {{ with (.Site.GetPage "/customers/case-study-voiceflow") }}
        {{ partial "case-study" . }}
      {{ end }}
    </div>
  </section>

  {{ with (.Site.GetPage "/customers/customers-testimonial-3") }}
    {{ partial "testimonial-light" (dict "context" . "class" "customers-testimonial") }}
  {{ end }}

  {{ with (.Site.GetPage "/customers/logo-cards-3") }}
    {{ partial "logo-cards" . }}
  {{ end }}


  <section class="bg-mid-gray pt-6">
    <div class="container">
      {{ with (.Site.GetPage "/customers/case-study-nyris") }}
        {{ partial "case-study" . }}
      {{ end }}
    </div>
  </section>

  {{ with (.Site.GetPage "/customers/customers-testimonial-2") }}
    {{ partial "testimonial-light" (dict "context" . "class" "customers-testimonial reversed") }}
  {{ end }}

  {{ with (.Site.GetPage "/customers/logo-cards-4") }}
    {{ partial "logo-cards" . }}
  {{ end }}


  <section class="bg-mid-gray pt-6">
    <div class="container">
      {{ with (.Site.GetPage "/customers/case-study-dailymotion") }}
        {{ partial "case-study" . }}
      {{ end }}
    </div>
  </section>

  {{ with (.Site.GetPage "/customers/case-studies-2") }}
    {{ partial "customers-case-studies" . }}
  {{ end }}

  {{ partial "customers-vector-space-wall" . }}

  {{ partial "get-started" . }}

  {{ with (.Site.GetPage "/headless/get-contacted-with-question") }}
    {{ partial "get-contacted" (dict "context" . "class" "customers-get-contacted") }}
  {{ end }}
{{ end }}
