{{ define "main" }}

<section>
    <div class="auto-container pt-3 pt-md-5">
        <div class="row clearfix">

            {{ if .Params.description }}
            <div class="col-12 sec-title text-center">
                <h4>{{ .Params.description }}</h4>
            </div>
            {{ end }}

            {{ range .Pages }}

            {{ $link := .Permalink }}
            {{ if .Params.external_link }}
            {{ $link = .Params.external_link }}
            {{ end }}

            {{ if .Params.short_description }}

            <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                <!-- News block Two -->
                <div class="news-block-two d-flex">
                    <div class="inner-box">
                        <div class="image">
                            <a href="{{ $link }}" data-caption="{{ .Title }}"><img src="{{ .Params.preview_image }}" alt="" /></a>
                        </div>
                        <div class="lower-box">
                            <div class="clearfix">
                                <h5>{{ .Title }}</h5>
                                <p>{{ .Params.short_description | markdownify }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-self-stretch align-items-center">
                                        {{ partial "author" . }}
                                    </div>
                                    <a href="{{ $link }}" target="_blank" class="theme-btn btn-style-five btn-small">
                                        <span class="txt">Read</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ end }}
            {{ end }}
        </div>
    </div>
</section>

{{ end }}