{{ define "main" }}

<section>
    <div class="auto-container">
        <div class="row clearfix mb-5">

            {{ range $i, $e := first 2 .Pages }}

            {{ $link := .Permalink }}
            {{ if .Params.external_link }}
            {{ $link = .Params.external_link }}
            {{ end }}

            <article class="article article_bb col-12">
                <div class="article__info">{{ .Date | time.Format ":date_long" }} | {{ .Params.author }}</div>
                <h2>
                    <a href="{{ $link }}" class="article__title article-title">
                    <span class="article-title__image" >
                        <img src="{{ .Params.preview_image }}" alt="...">
                    </span>
                        {{ .Title }}
                    </a>
                </h2>
                <p>{{ .Params.description }}</p>
                <div class="d-flex justify-content-end">
                    <a href="{{ $link }}" target="_blank" class="theme-btn btn-style-five btn-style-five_small mb-5"><span
                            class="txt">Learn More</span></a>
                </div>
            </article>
            {{ end }}
        </div>
        <div class="row clearfix pt-4">

            {{ range .Pages }}

            {{ $link := .Permalink }}
            {{ if .Params.external_link }}
            {{ $link = .Params.external_link }}
            {{ end }}

            {{ if .Params.short_description }}

            <!-- News block Two -->

            {{ partial "article-card" (dict "context" . "classes" "article-card_border article-card_contrast article-card_content-style") }}


            {{ end }}
            {{ end }}
        </div>
    </div>
</section>

{{ end }}