@use '../helpers/functions' as *;
@use 'sass:math';

.accordion-dark {
  display: flex;
  flex-direction: column;
  gap: $spacer * 1.5;
  width: 100%;
  margin-bottom: $spacer * 2;

  &__item {
    border: pxToRem(1) solid $neutral-20;
    background: linear-gradient($neutral-20, #0e1424);
    border-radius: pxToRem(12);

    &-header {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      padding: $spacer * 2 $spacer * 4 $spacer * 2 $spacer * 2;
      color: $neutral-94;
      font-size: $font-size-l;
      line-height: $line-height-lg;
      font-weight: 500;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: $spacer * 2;
        top: calc(50% - pxToRem(9));
        height: pxToRem(18);
        width: pxToRem(16);
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10609_1497)'%3E%3Cpath d='M1.81787 6.50513L8.63605 13.3233L15.4542 6.50513' stroke='%23E1E5F0' stroke-width='1.36364' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10609_1497'%3E%3Crect width='16.3636' height='16.3636' fill='white' transform='translate(0.63623 1.91431)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;

      &-content {
        padding: 0 $spacer * 2 $spacer * 2 $spacer * 2;
        color: $neutral-70;

        ul {
          li:not(:last-of-type) {
            margin-bottom: pxToRem(10);
          }
        }
      }
    }

    &.active {
      .accordion__item-header:after {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10609_1581)'%3E%3Cpath d='M15.4546 13.3232L8.63641 6.50506L1.81823 13.3232' stroke='%23E1E5F0' stroke-width='1.36364' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10609_1581'%3E%3Crect width='16.3636' height='16.3636' fill='white' transform='translate(0.63623 1.91418)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }
}
