@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/Mona_Sans/MonaSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/Mona_Sans/MonaSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 200 900;
  font-display: swap;
  font-style: italic;
}

