@font-face {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url('/fonts/overpass_mono/overpass-mono-variable-font_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Overpass Mono';
    font-style: italic;
    font-weight: 300 700;
    font-display: swap;
    src: url('/fonts/overpass_mono/overpass-mono-variable-font_wght.ttf') format('truetype');
}