@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url('/fonts/source_code_pro/source-code-pro-variablefont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-weight: 200 900;
    font-display: swap;
    src: url('/fonts/source_code_pro/source-code-pro-italic-variablefont_wght.ttf') format('truetype');
}