:root {
  --brand-primary: #DC244C;
  --brand-secondary: #24386C;
  --brand-dark-gray: #7589BE;
  --brand-gray: #B2BFE8;
  --brand-mid-grey: #D9E2FF;
  --brand-light-grey: #EBF1FF;
  --brand-light: #F4F6FF;

}
