:root {
  --brand-primary: #DC244C;
  --brand-secondary: #24386C;
  --brand-dark-gray: #7589BE;
  --brand-gray: #B2BFE8;
  --brand-mid-grey: #D9E2FF;
  --brand-light-grey: #EBF1FF;
  --brand-light: #F4F6FF;

  --neutral-n-50: #F2F6FF;
  --neutral-n-100: #DCE4FA;
  --neutral-n-200: #AEBDE5;
  --neutral-n-300: #8B9CCC;
  --neutral-n-400: #6A80BD;
  --neutral-n-500: #5069AD;
  --neutral-n-600: #39508F;
  --neutral-n-700: #1F3266;
  --neutral-n-800: #102252;
  --neutral-n-900: #06153D;

}
