article pre {
 position: relative;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article ul,
article ol {
    margin-top: 1em;
    margin-bottom: 1em;
}

article ul>li {
 list-style: disc;
 margin: 0 0 0 2em;
 position: relative;
}

article ol>li {
 list-style: decimal;
 margin: 0 0 0 2em;
 position: relative;
}

article h1 {
  font-size: 2.25rem;
}

article h2 {
  font-size: 1.75rem;
}

article h3 {
  font-size: 1.25rem;
}

article h4 {
  font-size: 1.25rem;
}

article h5 {
  font-size: 1.25rem;
}

article h6 {
  font-size: 1.25rem;
}

article p {
    line-height: 1.8em;
    margin-bottom: 0.7rem;
}

article figure {
  text-align: center;
}

article aside[role="alert"],
article aside[role="status"] {
 border: 1px solid transparent;
 position: relative;
 padding: .75rem 1.25rem .75rem 3rem;
 margin-bottom: 1rem;
 border-radius: 0.25rem;
}

article aside[role="alert"] {
 color: var(--brand-primary);
 background-color: #FBBFBF;
 border-color: #fdb8b8;
}

article aside[role="alert"]:before,
article aside[role="status"]:before {
 width: 3rem;
 position: absolute;
 top: calc(50% - 0.75rem);
 left: 0;
 font-size: 1rem;
 text-align: center;
}

article aside[role="alert"]:before {
 content: "\f071";
 font-family: "Font Awesome 5 Free";
 font-weight: 900;
 font-size: 1rem;
}

article aside[role="status"] {
 color: var(--brand-secondary);
 background-color: #d1ecf1;
 border-color: #bee5eb;
}

article aside[role="status"]:before {
 content: "\f129";
 font-family: "Font Awesome 5 Free";
 font-weight: 900;
 font-size: 1rem;
}

.single-page article:first-of-type {
 padding-top: 38px;
}

