/* https://coolors.co/b81438-6e0c21-182b3a-86ba90-f5f3bb */

:root {
  --brand-primary: #DC244C;
  --brand-secondary: #24386C;
  --brand-dark-gray: #7589BE;
  --brand-gray: #B2BFE8;
  --brand-mid-grey: #EBF1FF;
  --brand-light-gray: #F4F6FF;

}
