{{ with (.Site.GetPage "/gpu-indexing/what-you-get") }}
  <section class="gpu-indexing-what-you-get">
    <div class="container">
      <div class="gpu-indexing-what-you-get__header">
        <p class="gpu-indexing-what-you-get__label">{{ .Params.label }}</p>
        <h2 class="gpu-indexing-what-you-get__title">{{ .Params.title }}</h2>
      </div>
      <div class="row gy-4 gx-lg-5 align-items-center">
        <div class="col-12 col-lg-6">
          <div class="gpu-indexing-what-you-get__image">
            {{ partial "picture" (dict "src" .Params.image.src "alt" .Params.image.alt "loading" "lazy" "decoding" "async") }}
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <ul class="gpu-indexing-what-you-get__items">
            {{ range .Params.items }}
              <li class="gpu-indexing-what-you-get__item">
                <h3 class="gpu-indexing-what-you-get__item-title">{{ .title }}</h3>
                <p class="gpu-indexing-what-you-get__item-description">{{ .description }}</p>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ end }}
