{{ with (.Site.GetPage "/qdrant-cloud/qdrant-cloud-customers") }}
  <section class="qdrant-cloud-customers">
    <div class="container">
      <p class="qdrant-cloud-customers__label">{{ .Params.label }}</p>
      <h3 class="qdrant-cloud-customers__title">{{ .Params.title }}</h3>
      <div class="row g-4">
        {{ range .Params.cards }}
          <div class="col-12 col-lg-4">
            <div class="card qdrant-cloud-customers__card">
              <img class="qdrant-cloud-customers__card-icon" src="{{ .icon.src }}" alt="{{ .icon.alt }}" />
              <div>
                <h5 class="qdrant-cloud-customers__card-title">{{ .title | safeHTML }}</h5>
                <p class="qdrant-cloud-customers__card-description">{{ .description }}</p>
              </div>
              <div class="qdrant-cloud-customers__card-footer">
                <p class="qdrant-cloud-customers__card-category">{{ .category }}</p>
                <p class="qdrant-cloud-customers__card-label">{{ .label }}</p>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
