<section class="qdrant-pricing-features">
  <div class="container">
    <div class="qdrant-pricing-features__header">
      <h2 class="qdrant-pricing-features__title">{{ .Params.title }}</h2>
      <div class="qdrant-pricing-features__tabs">
        <button class="qdrant-pricing-features__tab qdrant-pricing-features__tab--active" data-tab="managed">
          Managed
        </button>
        <button class="qdrant-pricing-features__tab" data-tab="on-premise">On-Premise</button>
      </div>
    </div>

    {{/* Managed table */}}
    <div
      class="qdrant-pricing-features__table-wrapper"
      data-features-tab="managed"
    >
      {{ partial "pricing/qdrant-pricing-features-table" (dict
        "tiers" .Params.tiers
        "sections" .Params.sections
        "ctas" .Params.ctas
      ) }}
    </div>

    {{/* On-Premise table */}}
    <div
      class="qdrant-pricing-features__table-wrapper qdrant-pricing-features__table-wrapper--hidden"
      data-features-tab="on-premise"
    >
      {{ partial "pricing/qdrant-pricing-features-table" (dict
        "tiers" .Params.onPremiseTiers
        "sections" .Params.onPremiseSections
        "ctas" .Params.onPremiseCtas
        "classPrefix" "qdrant-pricing-features"
      ) }}
    </div>

    {{ with .Params.compareButton }}
      <div class="qdrant-pricing-features__compare">
        <a href="{{ .url }}" class="button button_outlined">{{ .text }}</a>
      </div>
    {{ end }}
  </div>
</section>
