<section class="hero">
    <div class="hero__content">
        <h1 class="hero__title">
            High-Performance Vector Search at Scale
        </h1>
        <p class="hero__subtitle">Powering the next generation of AI applications with advanced, high-performant vector similarity search technology.</p>
        <div class="hero__buttons">
            <a href="#" class="button button_contained button_lg mr-3">Start Free</a>
            <a href="#" class="button button_outlined button_lg">Learn More</a>
        </div>
    </div>
    <div class="hero__badges">

    </div>
</section>