<div class="main-menu">
    {{ partial "logo.html" . }}
    <ul class="main-menu__links">
        <li class="main-menu__item">
            <a>Product</a>
        </li>
        <li class="main-menu__item">
            <a>Developers</a>
        </li>
        <li class="main-menu__item">
           <a>Community</a>
        </li>
        <li class="main-menu__item">
            <a>Pricing</a>
        </li>
        <li class="main-menu__item">
            <a>Company</a>
        </li>
    </ul>
    <div class="menu__buttons">
        <div class="menu-link-7">
            <span class="menu-link-log-in">Log in</span>
        </div>
        <button class="button">
            <span class="try-free">Try Free</span>
        </button>
    </div>
</div>
