{{ partial "header" . }}

<!-- Contact Page Section -->
<section class="login-page-section">
    <div class="auto-container mt-lg-5 pt-lg-5 mb-lg-5 pb-lg-4">
        <div class="row clearfix">

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="/images/subscribe.jpg" alt="" />
                    </div>
                </div>
            </div>

            <!-- Form Column -->
            <div class="form-column col-lg-6 col-md-12 col-sm-12 mb-5">
                <div class="inner-column">
                    <h3>Sign up for our <span class="theme_color">newsletter</span></h3>
                    <div class="welcome">Never miss our news, latest releases and updates.</div>

                    <!-- Contact Form -->
                    {{ partial "subscribe-form" . }}
                    <!-- End Contact Form -->

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Contact Page Section -->

{{ partial "footer" . }}