<!doctype html>
<html lang="en">
{{- partial "head.html" . -}}
<body>
  <main>
    {{ partial "dev-portal-header" . }}

    <section class="dev-portal documentation documentation_theme-light">
      <div class="dev-portal__container">
        <div class="d-flex">
          {{ with (.Site.GetPage "/dev-portal-learn") }}
            {{ partial "dev-portal-docs-menu" . }}
          {{ end }}

          <article class="dev-portal__article documentation-article">
            <div class="dev-portal__article-content">
              {{ partial "article-content.html" . }}
              {{ partial "dev-portal-footer.html" . }}
            </div>
            <div class="dev-portal__article-table">
              {{ partial "dev-portal-table-of-contents" . }}
            </div>
          </article>
        </div>
      </div>
    </section>
  </main>
</body>
{{ partial "js.html" . }}
</html>



