{{ partial "header" . }}

  <!-- Banner Section -->
  <section class="banner-section-two">
    <div class="side-layer" style="background-image: url(/images/background/2.png)"></div>
    <div class="outer-container">
      <div class="auto-container">
        <div class="row clearfix">

          <!-- Content Column -->
          <div class="content-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <h2><a target="_blank" href="{{ .Site.Params.github }}">Open Source</a></h2>
              <h1>Neural Search Engine</h1>
              <div class="sec-title text mb-3">Build your own
                exclusive AI products.
                <br/>
                

                <div class="code mt-3">
                  <code id="copy-code">docker pull qdrant/qdrant</code>
                  <span class="d-inline-block" id="copy-popover" data-toggle="popover" data-content="Text copied!">
                    <button class="copy-btn lead ml-2" data-clipboard-target="#copy-code" title="Copy code">
                      <i class="flaticon-copy"></i>
                    </button>
                  </span>
                </div> <br>
                Get started by downloading a pre built Docker Image - it is only <b>40Mb!</b><br>
                
                Take a look at our <a target="_blank" href="{{ .Site.Params.quick_start }}">Quick Start Guide</a>
                  or build your own neural search <br> with our step-by-step <a target="_blank" href="{{ .Site.Params.tutorial }}">Tutorial</a>

                <!-- <h4 class="font-weight-bold mt-3 mb-0">It's Free and <a class="os-link" target="_blank" href="{{ .Site.Params.github }}">Open Source </a></h4> -->
              </div>

              <!-- Installation Section -->
              <!-- <section class="installation-section">
                <p>Get started by downloading a pre-build Docker Image - it is only 35Mb!</p>
                <div class="code">
                  <code id="copy-code">docker pull qdrant/qdrant</code>
                  <span class="d-inline-block" id="copy-popover" data-toggle="popover" data-content="Text copied!">
                    <button class="copy-btn lead ml-2" data-clipboard-target="#copy-code" title="Copy code">
                      <i class="flaticon-copy"></i>
                    </button>
                  </span>
                </div>
                <p>Take a look at our <a target="_blank" href="{{ .Site.Params.quick_start }}">Quick Start Guide</a>
                  or build your own neural search <br> with our step-by-step <a target="_blank" href="{{ .Site.Params.tutorial }}">Tutorial</a></p>
              </section> -->
              <!--End Installation Section-->

            </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <div data-depth="0.30" class="image">
                <img src="/images/cube.png" alt=""/>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Section -->


  {{ with (.Site.GetPage "section" "features") }}

  <!-- Feature Section -->
  <section class="features-section">
    <div class="auto-container">
      <div class="row clearfix">

        <!-- Content Column -->
        <div class="content-column col-lg-12 col-md-12 col-sm-12">
          <div class="inner-column">
            <!-- Sec Title -->
            <div class="sec-title text-center">
              <h2>{{ .Title | safeHTML }}</h2>
              <div class="text">{{ .Content }}
              </div>
            </div>
            <div class="row clearfix">

              {{ range .Pages }}

              <!-- Intelligence Block -->
              <div class="feature-block col-lg-4 col-md-4 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="icon-box d-flex justify-content-center">
                    <i class="flaticon-{{ .Params.icon }}"></i>
                  </div>
                  <h5><a>{{ .Title }}</a></h5>
                  <div class="text">
                    {{ .Content }}
                  </div>
                </div>
              </div>

              {{ end }}
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  {{ end }}
  <!-- End Features Section -->

  <!-- Business Section Two -->
  {{ with (.Site.GetPage "section" "solutions") }}

  <section class="business-section-two">
    <div class="pattern-layer" style="background-image: url(/images/background/pattern-11.png)"></div>
    <div class="auto-container">
      <!-- Sec Title -->
      <div class="sec-title centered">
        <h2>{{ .Params.section_title | safeHTML }}</h2>
        <div class="text">{{ .Params.subtitle }}</div>
      </div>
      <div class="inner-container">
        <div class="pattern-layer-two" style="background-image: url(/images/background/3.png)"></div>
        <!-- Business Info Tabs -->
        <div class="business-info-tabs">
          <!-- Business Tabs -->
          <div class="business-tabs tabs-box">

            <!--Tab Btns-->
            <ul class="tab-btns tab-buttons clearfix">
              {{ range $i, $e := first 3 .Pages }}
                <li data-tab="#prod-{{ .Params.tabid }}" class="tab-btn {{ if not $i }}active-btn{{ end }} fadeInLeft">
                  <h5>{{ $e.Title | safeHTML }}</h5>
                  <i class="icon flaticon-{{ .Params.icon }}"></i>
                </li>
              {{ end }}
            </ul>
            
            {{ range $i, $e := first 3 .Pages }}

            <!--Tabs Container-->
            <div class="tabs-content">

              <!--Tab / Active Tab-->
              <div class="tab {{ if not $i }}active-tab{{ end }}" id="prod-{{ .Params.tabid }}">
                <div class="content">
                  <div class="row clearfix">

                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                      <div class="inner-column mb-5">
                        {{ .Content }}
                        {{ if .Params.default_link }}<a target="_blank" href="{{ .Params.default_link }}" class="theme-btn btn-style-four"><span class="txt">{{ .Params.default_link_name }}</span></a>{{end}}
                        <a target="_blank" href="{{ .Site.Params.mailchimp_contact_form }}" class="theme-btn btn-style-four"><span class="txt">Contact us</span></a>
                      </div>
                    </div>
                    
                    <!-- Image Column -->
                    <div class="image-column col-6 d-none d-lg-block d-xl-block">
                      <div class="inner-column">
                        <div class="image">
                          <!-- <h5>{{ .Params.image_caption }}</h5> -->
                          <img src="{{ .Params.landing_image }}" alt=""/>
                          <!-- <a data-caption=""><img src="https://via.placeholder.com/536x513" alt=""/></a> -->
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            {{ end }}

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  {{ end }}
  <!-- End Business Section -->


  {{ with (.Site.GetPage "section" "stack") }}
  <!--Clients Section--> 
  <section class="clients-section my-5">
    <div class="sec-title text-center">
      <h2>{{ .Title | safeHTML }}</h2>
      <div class="text">{{ .Params.subtitle}}</div>
    </div>
    <div class="auto-container">
      <div class="sponsors-outer">
        <!--Sponsors Carousel-->
        <ul class="row clearfix">
          {{ range $i, $e := first 3 .Pages }}
          <li class="col d-flex align-self-center m-3">
            <figure class="image-box"><a href="{{ .Params.origin_url }}"><img src="{{ .Params.image }}" alt=""></a></figure>
          </li>
          {{ end }}
        </ul>
      </div>

    </div>
  </section>
  <!--End Clients Section-->
  {{ end }}
  

  {{ with (.Site.GetPage "section" "articles") }}
  <!-- End Articles Section -->
  <section id="articles" class="projects-section-two" style="background-image: url(/images/background/pattern-9.png)">
    <div class="auto-container">
      <!-- Sec Title -->
      <div class="sec-title centered">
        <h2>{{ .Title | safeHTML }}</h2>
        <div class="text">{{ .Params.subtitle | safeHTML }}
        </div>
      </div>
      <div class="row clearfix">
        
        {{ range $i, $e := first 3 .Pages }}
        
        {{ $link := .Permalink }}
        {{ if .Params.external_link }}
          {{ $link = .Params.external_link }}
        {{ end }}

        <!-- Project Block -->
        <div class="project-block col-lg-4 col-md-6 col-sm-12">
          <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="block-content">
              <div class="image">
                <a href="{{ $link }}" target="_blank"><img src="{{ .Params.preview_image }}" alt=""/></a>
              </div>
              <div class="lower-content">
                <h5><a href="{{ $link }}">{{ .Title }}</a></h5>
                <div class="text">{{ .Params.description }}
                </div>
                <a href="{{ $link }}" target="_blank" class="theme-btn learn-btn"><span class="txt">Learn More</span></a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </section>
  <!-- End Articles Section -->

  {{ end }}

  <!-- Contact Form Section -->
  <section class="clients-section my-5">
    <div class="auto-container">
      <div class="row">
        <div class="col-12 sec-title text-center">
          <h2>Get <span>Updates</span> from Qdrant</h2>
          <div class="text">We will update you on new features and news regarding Qdrant 
          </div>
        </div>
        <div class="content-column offset-lg-3 col-lg-6 col-md-12 col-sm-12">
          <!-- Newsletter Form -->
          <div class="newsletter-form">
            <form action="{{ .Site.Params.mailchimp_subscribe }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="form-group">
                <input type="email" name="EMAIL" value="" placeholder="Enter Your Email" required="" id="mce-EMAIL">
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="{{ .Site.Params.mailchimp_subscribe_id }}" tabindex="-1" value="">
                </div>
                <button type="submit" class="theme-btn btn-style-three"><span class="txt">Subscribe</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Contact Section -->

{{ partial "footer" . }}