<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Entropy HTML Template | Homepage Three</title>
  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]>
  <script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

  <!-- Main Header-->
  <header class="main-header header-style-three">

    <!--Header-Upper-->
    <div class="header-upper">
      <div class="auto-container">
        <div class="clearfix">

          <div class="pull-left logo-box">
            <div class="logo"><a href="index.html"><img src="images/qdrant-logo.svg" alt="" title="Entropy"></a>
            </div>
          </div>

          <div class="nav-outer clearfix">
            <!--Mobile Navigation Toggler-->
            <div class="mobile-nav-toggler"><i class="icon flaticon-menu"></i></div>
            <!-- Main Menu -->
            <nav class="main-menu show navbar-expand-md">
              <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                <ul class="navigation clearfix">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="solutions.html">Solutions</a></li>
                  <li class="current"><a href="documentation.html">Documentation</a></li>
                </ul>
              </div>

            </nav>

            <div class="outer-box">
              <a class="btn btn-lg mt-1" href="https://github.com/qdrant/qdrant" target="_blank" title="github"><i
                      class="icon flaticon-github"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!--End Header Upper-->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
      <div class="menu-backdrop"></div>
      <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

      <nav class="menu-box">
        <div class="nav-logo"><a href="index.html"><img src="https://via.placeholder.com/160x55" alt="" title=""></a>
        </div>
        <div class="menu-outer">
          <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        </div>
      </nav>
    </div><!-- End Mobile Menu -->

  </header>
  <!--End Main Header -->

  <!--End Page Title-->
  <section class="page-title">
    <div class="pattern-layer" style="background-image: url(images/background/pattern-12.webp)"></div>
    <div class="auto-container">
      <h1>Solutions</h1>
      <ul class="bread-crumb clearfix">
        <li><a href="solutions.html">Home</a></li>
        <li>Solutions</li>
      </ul>
    </div>
  </section>
  <!--End Page Title-->

  <section>
    <div class="auto-container pt-5">
      <div class="row clearfix">
        <div class="col-6">
          <!-- News block Two -->
          <div class="news-block-two">
            <div class="inner-box">
              <div class="upper-box">
                <div class="category">Post Category Title</div>
                <h4><a href="blog-detail.html">The passage is attributed</a></h4>
              </div>
              <div class="image">
                <a href="blog-detail.html"><img src="https://via.placeholder.com/770x400" alt=""/></a>
              </div>
              <div class="lower-box">
                <div class="clearfix">
                  <p>Engaging AI-powered chatbots can simulate a live operator, answer questions, route users to the
                    information they want, and reduce labor costs.</p>
                  <div class="pull-right">
                    <a href="#" class="theme-btn btn-style-five"><span class="txt">Learn More...</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-6">
          <!-- News block Two -->
          <div class="news-block-two">
            <div class="inner-box">
              <div class="upper-box">
                <div class="category">Post Category Title</div>
                <h4><a href="blog-detail.html">The typesetter in the 15th century</span></a></h4>
              </div>
              <div class="image">
                <a href="blog-detail.html"><img src="https://via.placeholder.com/770x400" alt=""/></a>
              </div>
              <div class="lower-box">
                <div class="clearfix">
                  <p>Engaging AI-powered chatbots can simulate a live operator, answer questions, route users to the
                    information they want, and reduce labor costs.</p>
                  <div class="pull-right">
                    <a href="#" class="theme-btn btn-style-five"><span class="txt">Learn More...</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Main Footer -->
  <footer class="main-footer">
    <div class="pattern-layer" style="background-image: url(images/background/pattern-4.webp)"></div>
    <div class="pattern-layer-two" style="background-image: url(images/background/pattern-5.webp)"></div>
    <div class="auto-container">
      <!--Widgets Section-->
      <div class="widgets-section">
        <div class="row clearfix">

          <!-- Footer Column -->
          <div class="footer-column col-lg-4 col-md-6 col-sm-12">
            <div class="footer-widget contact-widget">
              <div class="footer-title">
                <h4>Contact us</h4>
              </div>
              <ul class="contact-list">
                <li><span class="icon fa fa-map-o"></span> Berlin</li>
                <li><span class="icon fa fa-envelope"></span> <a
                        href="mailto:info@qdrant.com">info@qdrant.com</a></li>
              </ul>
            </div>
          </div>

          <!-- Footer Column -->
          <div class="footer-column col-lg-3 col-md-6 col-sm-12">
            <div class="footer-widget contact-widget">
              <div class="footer-title">
                <h4>Navigation</h4>
              </div>
              <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="solutions.html">Solutions</a></li>
                <li><a href="documentation.html">Documentation</a></li>
              </ul>
            </div>
          </div>

          <!-- Footer Column -->
          <div class="footer-column col-lg-5 col-md-6 col-sm-12">
            <div class="footer-widget news-widget">
              <div class="footer-title">
                <h4>Latest Blog Posts</h4>
              </div>
              <!-- Footer Column -->
              <div class="widget-content">

                <div class="post">
                  <div class="thumb"><a href="blog-detail.html"><img src="https://via.placeholder.com/76x70" alt=""></a>
                  </div>
                  <h4><a href="blog-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus
                    at.</a></h4>
                </div>

                <div class="post">
                  <div class="thumb"><a href="blog-detail.html"><img src="https://via.placeholder.com/76x70" alt=""></a>
                  </div>
                  <h4><a href="blog-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                </div>

                <div class="post">
                  <div class="thumb"><a href="blog-detail.html"><img src="https://via.placeholder.com/76x70" alt=""></a>
                  </div>
                  <h4><a href="blog-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                </div>

              </div>

              <ul class="social-box">
                <li><a href="https://github.com/qdrant/qdrant" target="_blank"><i class="flaticon-github"></i></a></li>
                <li><a href="#" target="_blank"><i class="flaticon-linkedin"></i></a></li>
                <li><a href="https://t.me/neural_network_engineering" target="_blank"><i class="flaticon-telegram"></i></a>
                </li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="auto-container">
        <div class="row clearfix">

          <!-- Copyright Column -->
          <div class="copyright-column col-lg-6 col-md-12 col-sm-12">
            <div class="copyright">&copy; {{ now.Format "2006" }} Qdrant. All Rights Reserved</div>
          </div>

          <!-- Language Column -->
          <div class="language-column col-lg-6 col-md-12 col-sm-12">
            <!--Language-->
            <div class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2"
                                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">Language:
              English &nbsp;<span class="icon fa fa-angle-down"></span></a>
              <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">
                <li><a href="#">English</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <!-- End Main Footer -->

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery.scrollTo.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/jquery.paroller.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/tilt.jquery.min.js"></script>
<!--Master Slider-->
<script src="js/jquery.easing.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/element-in-view.js"></script>
<script src="js/script.js"></script>
<script src="js/clipboard.min.js"></script>

</body>
</html>
