@use 'sass:math';
@use '../../helpers/functions' as *;

.hr-tech-features {
  padding-top: $spacer * 5;
  padding-bottom: $spacer * 5;
  background-color: $neutral-10;

  &__title {
    margin: 0 0 $spacer * 3;
    font-size: $spacer * 2;
    line-height: 1.2;
    color: $neutral-94;
    text-align: center;
    letter-spacing: -0.5px;
  }

  &__visual {
    margin-bottom: $spacer * 3;

    img {
      display: block;
      width: 100%;
      max-width: pxToRem(540);
      margin: 0 auto;
      border-radius: pxToRem(8);
    }
  }

  &__use-cases {
    display: flex;
    flex-direction: column;
    gap: $spacer * 3;
  }

  &__use-case {
    display: flex;
    flex-direction: column;
    gap: $spacer;
  }

  &__use-case-header {
    display: flex;
    align-items: center;
    gap: $spacer;
  }

  &__use-case-marker {
    flex-shrink: 0;
    width: pxToRem(8);
    height: pxToRem(9);
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0.5L0 2.75V7.25L4 9.5L8 7.25V2.75L4 0.5Z' fill='%23DC244C'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__use-case-title {
    margin: 0;
    font-size: pxToRem(20);
    line-height: 1.3;
    color: $neutral-94;
    letter-spacing: -0.5px;
  }

  &__use-case-content {
    padding-left: $spacer * 1.5;

    p {
      margin: 0 0 $spacer * 0.5;
      font-size: pxToRem(16);
      line-height: 1.5;
      font-weight: 400;
      color: $neutral-70;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__title {
      font-size: pxToRem(40);
      margin-bottom: $spacer * 5;
    }

    &__visual {
      margin-bottom: 0;
    }

    &__use-cases {
      gap: $spacer * 4;
    }

    &__use-case-title {
      font-size: pxToRem(24);
    }

    &__use-case-content {
      p {
        font-size: pxToRem(18);
      }
    }
  }
}
