{{ $cta := default "Get Started" (.Get "cta") }}
{{ $image := default "/img/rocket.svg" (.Get "image") }}
{{ $link := .Get "link" }}
<div class="docs-core__developing-block mb-4">
  <div class="row align-items-center">
    <div class="docs-core__developing-block-text col-12 col-lg-7">
      <h3 class="docs-core__developing-bloc-title">{{ .Inner }}</h3>
      <a href="{{ $link }}" class="button button_outlined button_sm" target="_blank"> Get Started </a>
    </div>
    <div class="docs-core__developing-block-image col-12 col-lg-5">
      <img src="{{ $image }}" alt="" />
    </div>
    <div class="docs-core__overlay"></div>
  </div>
</div>
