<div class="row g-3 guide-read-more">
  {{ range split (trim .Inner "\n ") "\n" }}
    {{ $line := trim . " " }}
    {{ if $line }}
      {{ $pattern := `^- \[([^\]]+)\]\(([^)]+)\)\s*(.*)$` }}
      {{ if not (findRE $pattern $line) }}{{ errorf "Invalid Read More card: %s" $line }}{{ end }}
      {{ $title := replaceRE $pattern "${1}" $line }}
      {{ $url := replaceRE $pattern "${2}" $line }}
      {{ $description := replaceRE $pattern "${3}" $line | replaceRE `^:\s*` "" }}
      {{ if $description }}{{ $description = printf "%s%s" (upper (substr $description 0 1)) (substr $description 1) }}{{ end }}
      {{ $description = $.Page.RenderString $description }}
      {{ partial "documentation/cards/docs-cards" (dict "cardsPerRow" 2 "card" (dict "title" $title "description" $description "link" (dict "text" "Read More" "url" $url))) }}
    {{ end }}
  {{ end }}
</div>
