{{ with (.Site.GetPage "/vsd/vsd-hero") }}
  <section class="vsd-hero" id="who-is-it-for">
    <div class="container">
      <div class="vsd-hero__banner">
        <div class="vsd-hero__place">
          <p>{{ .Params.place }}</p>
          <p>{{ .Params.eventDate }}</p>
          <p>{{ .Params.time }}</p>
        </div>
        <h1 class="vsd-hero__title">{{ .Params.title | safeHTML }}</h1>
        <a href="{{ .Params.button.url }}" class="button button_contained button_lg vsd-hero__button">
          {{ .Params.button.text }}
        </a>
      </div>
    </div>
  </section>
{{ end }}
