{{ with (.Site.GetPage "/vsd/vsd-speaker-lineup") }}
  <section class="vsd-speaker-lineup" id="speakers">
    <div class="container">
      <div class="vsd-speaker-lineup__banner">
        <div class="vsd-speaker-lineup__banner-container">
          <h2 class="vsd-speaker-lineup__title">{{ .Params.title }}</h2>
          <p class="vsd-speaker-lineup__description">{{ .Params.description }}</p>
          <div class="vsd-speaker-lineup__logos">
            {{ range .Params.logos }}
              <div class="vsd-speaker-lineup__logo">
                <img src="{{ .src }}" alt="{{ .alt }}">
              </div>
            {{ end }}
          </div>
          <a href="{{ .Params.button.url }}" class="button button_contained button_lg vsd-speaker-lineup__button">
            {{ .Params.button.text }}
          </a>
        </div>
      </div>
    </div>
  </section>
{{ end }}
