{{ with (.Site.GetPage "/vsd/vsd-agenda") }}
  <section class="vsd-agenda" id="agenda">
    <div class="container">
      <h2 class="vsd-agenda__title">{{ .Params.title }}</h2>
      <p class="vsd-agenda__description">{{ .Params.description }}</p>
      <div class="vsd-agenda__cards">
        {{ range .Params.cards }}
          <div class="vsd-agenda__card">
            <p class="vsd-agenda__card-content">{{ .content | safeHTML }}</p>
            {{ if .title }}
              <h2 class="vsd-agenda__card-title">{{ .title }}</h2>
            {{ end }}
            {{ if .button }}
              <a href="{{ .button.url }}" class="button button_contained button_lg vsd-agenda__card-button">
                {{ .button.text }}
              </a>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
