<section class="hr-tech-cta">
  <div class="container">
    <div class="hr-tech-cta__banner">
      {{ if .Params.background }}
        <div class="hr-tech-cta__background" style="background-image: url('{{ .Params.background.src }}');"></div>
      {{ end }}
      <div class="hr-tech-cta__content">
        <div class="hr-tech-cta__text">
          <h2 class="hr-tech-cta__title">{{ .Params.title }}</h2>
          {{ if .Params.description }}
            <p class="hr-tech-cta__description">{{ .Params.description }}</p>
          {{ end }}
          <a href="{{ .Params.button.url }}" class="button button_contained button_lg hr-tech-cta__button">
            {{ .Params.button.text }}
          </a>
        </div>
        {{ if .Params.illustration }}
          <div class="hr-tech-cta__illustration">
            <img src="{{ .Params.illustration.src }}" alt="{{ .Params.illustration.alt }}" />
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
