{{ define "main" }}
  {{ with (.Site.GetPage "/headless/menu") }}
  <header class="main-header">
    <div class="main-menu">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <a href="/">
              {{ partial "logo.html" . }}
            </a>
          </div>
          <div class="col-6">
            <div class="main-menu__buttons">
              <a href="{{ .Params.logIn.url }}" class="menu-link mx-3">{{ .Params.logIn.text }}</a>
              <a href="{{ .Params.startFree.url }}" class="button button_contained button_sm">{{ .Params.startFree.text }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
    {{ partial "hybrid-cloud-hero" . }}
  </header>

  {{ partial "hybrid-cloud-kubernetes-clusters" . }}
  {{ partial "hybrid-cloud-cases" . }}
  {{ partial "hybrid-cloud-how-it-works" . }}
  {{ partial "hybrid-cloud-video" . }}

  {{ with (.Site.GetPage "/headless/get-started-small-database") }}
    {{ partial "get-started-small" (dict "context" . "class" "get-started-small-database") }}
  {{ end }}

  {{ partial "hybrid-cloud-features" . }}
  {{ partial "hybrid-cloud-partners" . }}

  {{ with (.Site.GetPage "/headless/get-contacted-with-question") }}
    {{ partial "get-contacted" (dict "context" . "class" "hybrid-cloud-get-contacted") }}
  {{ end }}

  {{ partial "get-started" . }}
  {{ partial "customer-list" . }}

{{ end }}
