{{ define "main" }}
  {{ partial "site-header" . }}
  {{ partial "hybrid-cloud-hero" . }}

  {{ partial "hybrid-cloud-kubernetes-clusters" . }}
  {{ partial "hybrid-cloud-cases" . }}
  {{ partial "hybrid-cloud-how-it-works" . }}
  {{ partial "hybrid-cloud-video" . }}

  {{ partial "hybrid-cloud-features" . }}
  {{ partial "hybrid-cloud-partners" . }}

  {{ with (.Site.GetPage "/hybrid-cloud/get-contacted-with-question") }}
    {{ partial "get-contacted" (dict "context" . "class" "hybrid-cloud-get-contacted") }}
  {{ end }}

  {{ with (.Site.GetPage "/hybrid-cloud/hybrid-cloud-get-started") }}
    {{ partial "get-started-banner" . }}
  {{ end }}
  {{ partial "customer-list" . }}
{{ end }}
