@use '../../helpers/functions' as *;

.serverless-contact-form {
  padding-top: $spacer * 5;
  padding-bottom: $spacer * 5;
  background: 
          radial-gradient(115.51% 123.53% at 50% -9.94%, rgba(67, 37, 174, 0.00) 0%, rgba(67, 37, 174, 0.00) 75%, rgba(67, 37, 174, 0.80) 90%, #6143E0 100%), $neutral-10;
  
  &__title {
    margin-bottom: $spacer * 3;
    font-size: $h4-font-size;
    line-height: $spacer * 3;
    color: $neutral-98;
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 7.5;
    padding-bottom: $spacer * 7.5;

    &__title {
      font-size: $h2-font-size;
      line-height: pxToRem(62);
    }
  }
}