@use '../../helpers/functions' as *;

.serverless-to-use {
  padding-top: $spacer * 2.5;
  padding-bottom: $spacer * 2.5;
  background-color: $neutral-94;

  &__header {
    margin-bottom: $spacer * 2.5;
    text-align: center;
  }
  
  &__title {
    margin-bottom: $spacer;
    font-size: $h5-font-size;
    line-height: pxToRem(42);
    color: $neutral-20;
  }

  &__description {
    margin-bottom: 0;
    font-size: $font-size-md;
    line-height: $spacer * 1.5;
    color: $neutral-30;
  }

  &__card {
    .card {
      justify-content: flex-start;
    }
    
    &-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $spacer * 2.5;
      height: $spacer * 2;
      margin-bottom: $spacer * 0.5;
      border-radius: pxToRem(2);
      font-size: $font-size-l;
      line-height: $line-height-lg;
      font-weight: $font-weight-semibold;
    }

    &:nth-of-type(1) .serverless-to-use__card-tag {
      color: $secondary-violet-50;
      border-top: pxToRem(1) solid $secondary-violet-70;
      background-color: $secondary-violet-90;
    }

    &:nth-of-type(2) .serverless-to-use__card-tag {
      color: $secondary-blue-50;
      border-top: pxToRem(1) solid $secondary-blue-70;
      background-color: $secondary-blue-90;
    }

    &:nth-of-type(3) .serverless-to-use__card-tag {
      color: $secondary-teal-50;
      border-top: pxToRem(1) solid $secondary-teal-70;
      background-color: $secondary-teal-90;
    }
    
    .serverless-to-use__card-tag.serverless-to-use__card-tag-warning {
      color: $primary-50;
      border-top: pxToRem(1) solid $primary-70;
      background-color: $primary-90;
    }
    
    &-title {
      margin-bottom: $spacer;
      padding-bottom: $spacer;
      font-size: $font-size-xl;
      line-height: pxToRem(30);
      color: $neutral-20;
      border-bottom: pxToRem(1) solid $neutral-90;
    }

    &-description {
      margin-bottom: 0;
      font-size: $font-size-md;
      line-height: $spacer * 1.5;
      color: $neutral-40;
    }
  }
  
  &__alert {
    display: flex;
    align-items: center;
    gap: $spacer;
    padding: $spacer;
    margin-top: $spacer * 1.5;
    border-radius: $spacer * 0.5;
    border: pxToRem(1) solid $neutral-90;
    background: $neutral-98;
    
    &-icon {
      width: $spacer * 1.5;
      height: $spacer * 1.5;
    }
    
    &-content {
      margin-bottom: 0;
      font-size: $font-size-md;
      line-height: $spacer * 1.5;
      color: $neutral-30;
    }
  }
  
  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;

    &__header {
      margin-bottom: $spacer * 4;
    }
    
    &__title {
      font-size: $h3-font-size;
      line-height: pxToRem(52);
    }

    &__description {
      font-size: $font-size-l;
      line-height: $line-height-lg;
    }
  }
}