{{- partial "head.html" . -}}


<main>
  <header class="main-header">
    {{ partial "top-banner" . }}
    {{ partial "menu" . }}
    {{ partial "menu-mobile" . }}
    {{ partial "qdrant-cloud-hero" . }}
  </header>
</main>

{{ partial "get-started-small-database" . }}
{{ partial "qdrant-cloud-bento-cards" . }}
{{ partial "qdrant-cloud-features-link" . }}

{{ with (.Site.GetPage "/headless/marketplaces") }}
  {{ partial "marketplaces" (dict "context" . "class" "qdrant-cloud-marketplaces") }}
{{ end }}

{{ partial "additional-resources" . }}
{{ partial "get-started" . }}
{{ partial "footer" . }}
