{{ define "main" }}
  {{ partial "site-header" . }}
  {{ partial "qdrant-cloud/qdrant-cloud-hero" . }}
  {{ partial "qdrant-cloud/qdrant-cloud-why-qdrant" . }}
  {{ partial "qdrant-cloud/qdrant-cloud-customers" . }}
  {{ partial "qdrant-cloud/qdrant-cloud-capabilities" . }}
  {{ partial "qdrant-cloud/qdrant-cloud-dev-experience" . }}

  {{ with (.Site.GetPage "/qdrant-cloud/qdrant-cloud-pricing") }}
    {{ partial "pricing-banner" . }}
  {{ end }}

  {{ partial "qdrant-cloud/qdrant-cloud-resources" . }}

  {{ with (.Site.GetPage "/qdrant-cloud/qdrant-cloud-faq") }}
    {{ partial "nested-accordion" (dict "context" . "class" "pt-5 pb-5 pb-lg-7") }}
  {{ end }}

  {{ with (.Site.GetPage "/qdrant-cloud/qdrant-cloud-cta") }}
    {{ partial "cta-banner" . }}
  {{ end }}
{{ end }}
