{{ define "main" }}
<section class="auto-container pt-5">
    <div class="row clearfix">

        <!-- Sidebar Page Container -->
        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="row clearfix">

                    {{ partial "blog-sidebar" . }}

                    <!-- Content Side -->
                    <div class="content-side col-lg-8 col-md-12 col-sm-12">
                        {{ $paginator := .Paginate (where .Pages "Section" "blog") 5 }}
                        <div class="our-blogs">
                            {{ range $paginator.Pages}}
                            {{ .Scratch.Set "scope" "list" }}

                            {{ partial "blogpost" . }}

                            {{ end }}

                            {{ if gt $paginator.TotalPages 1}}
                            {{ partial "paginator" $paginator }}
                            {{ end }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}