@use '../../helpers/functions' as *;

.docs-header {
  position: sticky;
  top: 0;
  background: $neutral-10;
  z-index: 4;

  .logo {
    width: pxToRem(148);
  }

  .main-menu {

    &__links {
      margin-right: auto;
      padding-left: 0;
    }

    &__buttons {
      &-input {
        width: 100%;
        padding: 0 $spacer;
        height: $spacer * 2.5;
        position: relative;

        svg {
          position: absolute;
          top: 50%;
          left: $spacer;
          transform: translateY(-50%);
        }

        button {
          position: relative;
          height: 100%;
          padding-left: $spacer * 2.5;
          color: $neutral-70;
          text-align: left;

          &:after {
            content: '';
            display: block;
            width: 1rem;
            height: 1rem;
            position: absolute;
            top: 50%;
            left: $spacer;
            transform: translateY(-50%);
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6269_137)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.8335 6.66665C1.8335 3.99727 3.99745 1.83331 6.66683 1.83331C9.33621 1.83331 11.5002 3.99727 11.5002 6.66665C11.5002 7.99157 10.9671 9.19197 10.1037 10.0651C10.097 10.0711 10.0904 10.0773 10.0839 10.0838C10.0775 10.0902 10.0713 10.0968 10.0653 10.1035C9.19215 10.9669 7.99175 11.5 6.66683 11.5C3.99745 11.5 1.8335 9.33602 1.8335 6.66665ZM10.423 11.1299C9.40815 11.9848 8.09765 12.5 6.66683 12.5C3.44517 12.5 0.833496 9.88831 0.833496 6.66665C0.833496 3.44498 3.44517 0.833313 6.66683 0.833313C9.88849 0.833313 12.5002 3.44498 12.5002 6.66665C12.5002 8.09746 11.985 9.40796 11.1301 10.4228L15.0204 14.3131C15.2156 14.5084 15.2156 14.8249 15.0204 15.0202C14.8251 15.2155 14.5085 15.2155 14.3133 15.0202L10.423 11.1299Z' fill='%238F98B3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6269_137'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }

  .menu-mobile {
    gap: $spacer * 1.5;
    background: $neutral-20;
    padding-top: 0;

    &__header {
      padding: pxToRem(12) $spacer * 1.25 $spacer * 1.5;
      border-bottom: pxToRem(1) solid $neutral-40;
    }

    &__close {
      width: $spacer * 2.5;
      height: $spacer * 2.5;
      padding: $spacer * 0.5;
      border-radius: $spacer * 0.5;
      z-index: 1;
      background: linear-gradient($neutral-30, #141B2E);
    }

    &__items {
      padding: 0 $spacer;
    }

    &__item {
      border-bottom: none;
      font-size: $spacer;
      line-height: $spacer * 1.5;

      &-content {
        padding: $spacer * 0.5 pxToRem(12);
        min-height: 0;
      }

      a {
        display: flex;
        align-items: center;
        gap: pxToRem(12);
        color: $neutral-94;

        svg {
          height: $spacer;
          width: $spacer;
        }

        &.active {
          color: $primary-50;

          svg {
            fill: $primary-50;
          }
        }
      }

      &:nth-of-type(4) {
        a {
          &.active {
            svg {
              fill: none;
              stroke: $primary-50;
            }
          }
        }
      }
    }

    [data-theme='light'] & {
      background: $neutral-94;

      &__item {
        a {
          color: $neutral-30;

          svg {
            fill: $neutral-30;
          }

          &.active {
            color: $primary-50;

            svg {
              fill: $primary-50;
            }
          }
        }

        &:nth-of-type(4) {
          a {
            svg {
              fill: none;
              stroke: $neutral-30;
            }

            &.active {
              svg {
                fill: none;
                stroke: $primary-50;
              }
            }
          }
        }
      }
    }
  }

  .docs-menu {
    display: block;
  }

  @include media-breakpoint-up(xl) {
    .main-menu {
      height: $spacer * 5;
      padding: pxToRem(22) $spacer * 1.5;
      border-bottom: pxToRem(1) solid $neutral-20;

      &__buttons {
        &-input {
          width: pxToRem(300);
          height: pxToRem(35);
          margin-right: $spacer * 1.5;
          padding: 0;

          button {
            font-size: pxToRem(14);
            line-height: pxToRem(18);
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .scrolled .main-menu {
    padding: $spacer * 2 $spacer * 1.5 $spacer * 0.5;
  }
}
