@use '../../helpers/functions' as *;
@use 'sass:math';

.docs-menu {
  display: none;
  background-color: $neutral-20;
  scrollbar-width: none;

  &__content {
    padding: 0 $spacer $spacer * 1.5;
  }

  &__input {
    position: relative;
    margin: $spacer * 2 0;

    svg {
      position: absolute;
      top: 50%;
      left: $spacer;
      transform: translateY(-50%);
    }

    button {
      padding-left: $spacer * 2.5;
      color: $neutral-70;

      &:after {
        content: '';
        display: block;
        width: $spacer;
        height: $spacer;
        position: absolute;
        top: 50%;
        left: $spacer;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6269_137)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.8335 6.66665C1.8335 3.99727 3.99745 1.83331 6.66683 1.83331C9.33621 1.83331 11.5002 3.99727 11.5002 6.66665C11.5002 7.99157 10.9671 9.19197 10.1037 10.0651C10.097 10.0711 10.0904 10.0773 10.0839 10.0838C10.0775 10.0902 10.0713 10.0968 10.0653 10.1035C9.19215 10.9669 7.99175 11.5 6.66683 11.5C3.99745 11.5 1.8335 9.33602 1.8335 6.66665ZM10.423 11.1299C9.40815 11.9848 8.09765 12.5 6.66683 12.5C3.44517 12.5 0.833496 9.88831 0.833496 6.66665C0.833496 3.44498 3.44517 0.833313 6.66683 0.833313C9.88849 0.833313 12.5002 3.44498 12.5002 6.66665C12.5002 8.09746 11.985 9.40796 11.1301 10.4228L15.0204 14.3131C15.2156 14.5084 15.2156 14.8249 15.0204 15.0202C14.8251 15.2155 14.5085 15.2155 14.3133 15.0202L10.423 11.1299Z' fill='%238F98B3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6269_137'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }

  &__button {
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    width: pxToRem(24);
    height: pxToRem(24);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__links {
    &-title {
      margin-bottom: 0;
      padding: pxToRem(12) math.div($spacer, 2) math.div($spacer, 4);
      color: $neutral-98;
      font-weight: bold;
      font-size: $spacer;
      line-height: $spacer * 1.5;

      &:not(:nth-of-type(1)) {
        margin-top: $spacer;
        padding-top: pxToRem(20);
      }
    }

    &-group {
      &-heading {
        display: block;
        position: relative;

        // hide native details marker
        &::-webkit-details-marker {
          display: none;
        }

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $neutral-70;
          font-weight: 400;
        }
      }

      summary:after {
        content: '';
        display: block;
        width: pxToRem(10);
        height: pxToRem(10);
        position: absolute;
        top: pxToRem(15);
        right: $spacer;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.832764 3.41669L4.99943 7.58335L9.1661 3.41669' stroke='%238F98B3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.3s;
      }

      &.active {
        .docs-menu__links-group-heading>a {
          font-weight: 600;
          background-color: $neutral-30;
          color: $neutral-90;
          border-radius: $spacer * 0.5;
        }

        summary:after {
          top: pxToRem(15);
        }
      }

      &[open=''] {
        summary:after {
          transform: rotate(180deg);
        }
      }

      a {
        margin-top: math.div($spacer, 4);
        padding: math.div($spacer, 2) $spacer * 1.5 math.div($spacer, 2) math.div($spacer, 2);
      }

      &.external-link {
        .docs-menu__links-group-heading {
          &:after {
            content: '';
            display: block;
            width: pxToRem(10);
            height: pxToRem(10);
            position: absolute;
            top: 50%;
            right: $spacer;
            background: url('/icons/outline/external-link.svg') no-repeat;
            background-size: contain;
            margin-top: $spacer * -0.5;
          }
        }
      }
    }

    &-submenu {
      margin-bottom: 0;
      padding-left: $spacer;

      &-item {
        list-style: none;

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $neutral-70;
          font-weight: 400;
        }

        &.active {
          a {
            color: $primary-50;
          }
        }
      }
    }
  }

  &__articles-link {
    &.active {
      background-color: $neutral-20;
      border-radius: $spacer * 0.5;

      a {
        color: $neutral-98;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    display: block;
    height: calc(100vh - 80px);
    width: pxToRem(256);
    flex-shrink: 0;
    position: sticky;
    overflow-x: hidden;
    top: $spacer * 5;
    padding: $spacer $spacer $spacer;
    background-color: transparent;
    border-right: pxToRem(1) solid $neutral-20;

    &__content {
      padding: 0;
    }

    &__links {
      &-title {
        padding: math.div($spacer, 2);

        &:not(:nth-of-type(1)) {
          border-top: pxToRem(1) solid $neutral-20;
          margin-top: pxToRem(12);
          padding-top: $spacer;
        }
      }

      &> :last-child {
        padding-bottom: $spacer;
        border-bottom: pxToRem(1) solid $neutral-20;
      }

      &-submenu-item {
        a {
          font-size: pxToRem(14);
          line-height: pxToRem(21);
        }
      }
    }


    &__links-group {
      &.active {
        .docs-menu__links-group-heading>a {
          background-color: $neutral-20;
        }

        summary:after {
          top: pxToRem(10);
        }
      }

      summary:after {
        top: pxToRem(10);
      }

      &-heading {
        a {
          font-size: pxToRem(14);
          line-height: pxToRem(21);
        }
      }

      a {
        padding: math.div($spacer, 4) $spacer * 1.5 math.div($spacer, 4) math.div($spacer, 2);
        margin: 0;
      }
    }
  }

  [data-theme='light'] & {
    border-color: $neutral-100;
    background-color: $neutral-94;

    &__button svg path {
      stroke: $neutral-30;
    }

    &__header {
      h2 {
        color: $neutral-30;
      }

      &__content svg {
        fill: $neutral-30;
      }
    }

    &__input {
      button {
        color: $neutral-50;

        &:after {
          mask: url('/icons/outline/search-white.svg') no-repeat;
          -webkit-mask: url('/icons/outline/search-white.svg') no-repeat;
          background: $neutral-30;
        }
      }
    }

    &__links {
      &-title {
        color: $neutral-30;
      }

      &-group {
        &-heading {
          a {
            color: $neutral-30;

            &:hover {
              color: $primary-50;
            }
          }
        }

        summary:after {
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Group'%3E%3Cpath id='Vector' d='M0.833374 1.4165L5.00004 5.58317L9.16671 1.4165' stroke='%2328324D' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
          transition: transform 0.3s;
        }

        &.active {
          .docs-menu__links-group-heading>a {
            color: $primary-50;
            background: $neutral-90;
          }
        }

        &[open=''] {
          summary:after {
            transform: rotate(180deg);
          }
        }

        svg path {
          fill: $neutral-30;
        }
      }

      &-submenu {
        &-item {
          a {
            color: $neutral-30;

            &:hover {
              color: $primary-50;
            }
          }

          &.active {
            a {
              color: $primary-50;
            }
          }
        }
      }
    }

    &__links> :last-child,
    &__links-title:not(:nth-of-type(1)) {
      border-color: $neutral-80;
    }

    @include media-breakpoint-up(xl) {
      border-right-color: $neutral-80;

      &__links-group {
        &.active {
          .docs-menu__links-group-heading>a {
            color: $neutral-30;
          }
        }

        &.external-link {
          .docs-menu__links-group-heading {
            &:after {
              mask: url('/icons/outline/external-link.svg') no-repeat;
              -webkit-mask: url('/icons/outline/external-link.svg') no-repeat;
              mask-size: contain;
              -webkit-mask-size: contain;
              background: $neutral-30;
            }
          }
        }
      }
    }

    &__articles-link {
      &.active {
        background-color: $neutral-90;
        border-radius: $spacer * 0.5;

        a {
          color: $neutral-30;
          font-weight: bold;
        }
      }
    }
  }
}