.elastic-lucene-form {
  padding-top: pxToRem(96);
  padding-bottom: pxToRem(340);
  background-color: $neutral-10;
  overflow: hidden;
  position: relative;

  @include media-breakpoint-up(lg) {
    padding-bottom: pxToRem(96);
  }

  &__overlay-bottom {
    background-image: url('/img/blurred/blurred-light-4.png');
    transform: scale(-1, -1);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 63rem;
    height: 17rem;
  }

  &__illustration {
    position: absolute;
    height: pxToRem(300);
    left: 0;
    width: 100%;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    @include media-breakpoint-up(lg) {
      height: 100%;
      top: 0;
      width: 48%;
      background-position: right bottom;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacer * 2.5;
  }

  &__title {
    font-size: $h4-font-size;
    line-height: pxToRem(50);
    font-weight: 700;
    color: $neutral-98;
    margin-bottom: 0;
  }

  &__description p {
    font-size: $font-size-md;
    line-height: pxToRem(24);
    font-weight: 500;
    color: $neutral-70;
    margin-bottom: $spacer * 0.5;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
