@use '../../helpers/functions' as *;
@use '../../mixins/get-started-small' as get-started-small;

.elastic-lucene-hero {
    background-color: $neutral-10;
    padding: 80px 0 120px;
    background-image: var(--bg-image), url('/img/elastic-lucene/astronaut-light.png');
    background-position: bottom right, bottom right;
    background-size: 835px 532px, contain;
    background-repeat: no-repeat, no-repeat;
    position: relative;
    overflow: hidden;

    &__title {
        color: $neutral-98;
    }
    &__description {
        color: $neutral-70;
    }

    &__overlay {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 300px;
        background-image: url('/img/elastic-lucene/lights.svg');
        background-repeat: repeat-x;
        background-position: center;
        background-size: cover;
        filter: blur(6px);
    }
}


// .elastic-lucene-hero {
//     // aspect-ratio: 1440 / 716;
//     background-color: $neutral-10;
//     padding: 80px 0 120px;
//     background-image: url('/img/elastic-lucene/image.png');
//     background-size: contain;
//     background-position: bottom right;
//     background-repeat: no-repeat;
// }


.elastic-lucene-why-qdrant {
  &__testimonial-card {
    display: flex;
    flex-direction: column;
    gap: $spacer * 1.5;
    padding: $spacer * 2.5;
    background-color: $neutral-98;
    border: 1px solid $neutral-90;
    border-radius: $spacer;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacer * 1.25;
    background-color: $neutral-98;
    border: 1px solid $neutral-90;
    border-radius: pxToRem(12);
  }

  &__logo {
    height: pxToRem(64);
  }

  &__testimonial-text {
    margin-bottom: 0;
    font-weight: 700;
    font-size: pxToRem(18);
    line-height: pxToRem(27);
    color: $neutral-20;
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
    gap: pxToRem(2);
  }

  &__link {
    color: $primary-50;
  }
}

.elastic-lucene-get-started {
  @include get-started-small.base(
    $spacer * 5,
    $spacer * 4,
    $spacer * 3.5,
    $spacer * 2.5,
    $neutral-94,
    url('/img/stars-pattern.png') #090e1a,
    url('/img/stars-pattern.png') #090e1a
  );

  @include media-breakpoint-up(lg) {
    &__text {
      padding-top: $spacer * 2.5;
      padding-bottom: $spacer * 2.5;
    }

    &__image {
      align-self: center;
    }
  }
}

@import "outlined-card-group";