@use '../../helpers/functions' as *;
@use '../../mixins/get-started-small' as get-started-small;

.elastic-lucene-hero {
    background-color: $neutral-10;
    padding: 80px 0 120px;
    background-image: var(--bg-image), url('/img/elastic-lucene/astronaut-light.png');
    background-position: bottom right, bottom right;
    background-size: 835px 532px, contain;
    background-repeat: no-repeat, no-repeat;
    position: relative;
    overflow: hidden;

    &__title {
        color: $neutral-98;
    }
    &__description {
        color: $neutral-70;
    }

    &__overlay {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 300px;
        background-image: url('/img/elastic-lucene/lights.svg');
        background-repeat: repeat-x;
        background-position: center;
        background-size: cover;
        filter: blur(6px);
    }
}


// .elastic-lucene-hero {
//     // aspect-ratio: 1440 / 716;
//     background-color: $neutral-10;
//     padding: 80px 0 120px;
//     background-image: url('/img/elastic-lucene/image.png');
//     background-size: contain;
//     background-position: bottom right;
//     background-repeat: no-repeat;
// }


@import "outlined-card-group";
@import "split-section";
@import "form";