{{ with (.Site.GetPage "/security/access") }}
  {{ $tables := .Params.tables | default slice }}
  {{ $showTabs := gt (len $tables) 1 }}
  
  <section class="security-access">
    <div class="container">
      <h2 class="security-access__title">{{ .Params.title }}</h2>
  
      {{ range $index, $table := $tables }}
        {{ if and $table.cols (or $table.features $table.sections) }}
          <div
            class="security-access__table-wrapper{{ if and $showTabs (gt $index 0) }} security-access__table-wrapper--hidden{{ end }}"
            data-features-tab="{{ $table.id }}"
          >
            {{ partial "features-table" (dict
              "cols" $table.cols
              "features" $table.features
              "featureCellWidth" $table.featureCellWidth
              "modifier" "mobile-arrows"
              )
            }}
          </div>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
