{{ define "main" }}
  {{ partial "site-header" . }}
  {{ with (.Site.GetPage "/retrieval-augmented-generation/retrieval-augmented-generation-hero") }}
    {{ partial "use-cases-vector-hero" . }}
  {{ end }}

  {{ partial "retrieval-augmented-generation-features" . }}

  {{ with (.Site.GetPage "/retrieval-augmented-generation/retrieval-augmented-generation-integrations") }}
    {{ partial "use-cases-vector-integrations" (dict "context" . "class" "rag-integrations") }}
  {{ end }}

  {{ partial "retrieval-augmented-generation-evaluation" . }}

  {{ with (.Site.GetPage "/retrieval-augmented-generation/retrieval-augmented-generation-use-cases") }}
    {{ partial "use-cases-vector-cases" (dict "context" . "class" "rag-use-cases") }}
  {{ end }}

  {{ partial "retrieval-augmented-generation-guide" . }}

  <!-- {{ with (.Site.GetPage "/headless/get-started-small-rocket") }}
    {{ partial "get-started-small" (dict "context" . "class" "use-cases-vector-get-started") }}
  {{ end }}
   -->

  {{ partial "get-started" . }}
{{ end }}
