{{ define "main" }}
<section class="price-page-section">
    <div class="auto-container">
        <div class="row clearfix" id="price-offers">

            <!-- Price Block -->
            <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="title">Opensource</div>
                    <div class="content-box">
                        <div class="price-box">
                            <span class="icon flaticon-skyline"></span> Free
                            <span class="price-title">&nbsp;</span>
                        </div>
                        <div class="text">Capitalize on low hanging fruit to identify a ball to park value added
                            activity to beta test
                        </div>
                        <a href="/documentation/quick_start/" class="start-btn theme-btn">Get started</a>
                        <ul class="price-list">
                            <li>Receive Contract</li>
                            <li>Create 1 Custom Template</li>
                            <li>Multiple Signature</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Price Block -->
            <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="title">Standard</div>
                    <div class="content-box">
                        <div class="price-box">
                            <span class="icon flaticon-skyline"></span> price on request
                            <span class="price-title">/ per managed cluster</span>
                        </div>
                        <div class="text">Capitalize on low hanging fruit to identify a ball to park value added
                            activity to beta test
                        </div>
                        <a href="#request-form" class="start-btn theme-btn">Request price</a>
                        <ul class="price-list">
                            <li>Receive Contract</li>
                            <li>Create 1 Custom Template</li>
                            <li>Multiple Signature</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Price Block -->
            <div class="price-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="title">Enterprise</div>
                    <div class="content-box">
                        <div class="price-box">
                            <span class="icon flaticon-skyline"></span> price on request
                            <span class="price-title">/ per managed cluster</span>
                        </div>
                        <div class="text">Capitalize on low hanging fruit to identify a ball to park value added
                            activity to beta test
                        </div>
                        <a href="#request-form" class="start-btn theme-btn">Request price</a>
                        <ul class="price-list">
                            <li>Receive Contract</li>
                            <li>Create 1 Custom Template</li>
                            <li>Multiple Signature</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Pricing Page Section -->

<!-- Call To Action Section -->
<section class="call-to-action-section" data-spy="scroll" data-target="#price-offers" data-offset="0">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">

                <!-- Title Column -->
                <div class="title-column col-lg-7 col-sm-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <h2>Ready To <span>Get Started</span></h2>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Morbi
                                finibus at mauris eu sollicitudin.
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Email Column -->
                <div class="email-column col-lg-5 col-sm-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Newsletter Form -->
                        <div class="newsletter-form" id="request-form">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Enter Your Email"
                                           required="">
                                    <button type="submit" class="theme-btn btn-style-one"><span class="txt">Estimate Project</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Call To Action Section -->
{{ end }}