@use '../../variables' as var;
@use '../../mixins/mixins' as mixins;

.input-base {
  width: 100%;
  height: 3rem;
  padding: 0.625rem 4rem 0.625rem 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6.25rem;
  @include mixins.blog-font-styles(1rem, 400, 1.5rem, var.$blog-font-family);
  transition: box-shadow 0.2s ease;

  @include media-breakpoint-up(md) {
    margin-right: 1.5rem;
  }

  &::placeholder {
    color: var(--neutral-n-300, #8B9CCC);
  }

  &:focus {
    box-shadow: 0 0 0 1px var(--neutral-n-600);

    &::placeholder {
      color: var(--neutral-n-200);
    }
  }
}

.form-button-base {
  width: 100%;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 6.25rem;
  background: var(--brand-primary, #DC244C);
  color: var(--neutral-white, #FFF);
  @include mixins.blog-font-styles(1rem, 500, 3rem, var(--neutral-white, #FFF));
  @include mixins.buttonHoverEffect(var(--brand-secondary), var(--neutral-white, #FFF));

  @include media-breakpoint-up(md) {
    width: 12.7rem;
    line-height: 1.5rem; /* 150% */
  }
}

.form-title-base {
  display: inline-block;
  @include mixins.blog-font-styles(1rem, 500, 1.5rem, var.$blog-text-color);
  @include media-breakpoint-up(md) {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}

