@use '../../variables' as var;
@use '../../mixins/mixins' as mixins;

$blog-font-family: var.$blog-font-family;
$blog-text-color: var.$blog-text-color;

.input-base {
  width: 100%;
  height: 3rem;
  padding: 0.625rem 4rem 0.625rem 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6.25rem;

  @include media-breakpoint-up(md) {
    margin-right: 1.5rem;
    margin-bottom: 5rem;
  }

  &::placeholder {
    color: var(--neutral-n-300, #8B9CCC);

    @include mixins.blog-font-styles(1rem, 400, 1.5rem, $blog-text-color)
  }
}

.form-button-base {
  width: 100%;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 6.25rem;
  background: var(--brand-primary, #DC244C);
  color: var(--neutral-white, #FFF);
  margin-bottom: 1.5rem;

  @include media-breakpoint-up(md) {
    width: 9rem;
  }

  & > .text {
    font-family: $blog-font-family;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
  }
}

.form-title-base {
  display: inline-block;
  @include mixins.blog-font-styles(1rem, 600, 1.5rem, $blog-text-color);
  @include media-breakpoint-up(md) {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}

.newsletter-form {
  &_default {
    margin-bottom: 35px;

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: var(--brand-gray);
      opacity: 1;
    }

    ::-moz-placeholder { /* Firefox 19+ */
      color: var(--brand-gray);
      opacity: 1;
    }

    :-ms-input-placeholder { /* IE 10+ */
      color: var(--brand-gray);
      opacity: 1;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: var(--brand-gray);
      opacity: 1;
    }

    input[type="text"],
    input[type="email"] {
      position: relative;
      display: flex;
      flex: auto;
      padding: 10px 39px;
      height: 56px;
      font-size: 18px;
      color: var(--brand-secondary);
      background: none;
      border-radius: 50px;
      border: 1px solid var(--brand-dark-gray);
      background: white;
      font-family: $font-family-non-content;
      margin-right: 24px;
      margin-bottom: 0;
      @include media-breakpoint-down(md) {
        margin-right: 0;
        margin-bottom: 10px;
      }

      &:focus {
        border: 1px solid var(--brand-secondary);
      }
    }

    &.style-two input,
    &.style-two button {
      border-radius: 0;
    }


  }

  &_compact {
    &__title {
      @extend .form-title-base;
      margin-bottom: 1.5rem;
    }

    &__form {
      input[type="text"],
      input[type="email"] {
        @extend .input-base;
      }

      button[type="submit"] {
        @extend .form-button-base;
      }
    }

  }

  &_two-columns {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    background: var(--neutral-n-50, #F2F6FF);

    @include media-breakpoint-up(md) {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    &__title {
      display: inline-block;
      margin-bottom: 1.5rem;
      color: var(--neutral-n-800, #102252);

      /* H/H32 */
      font-family: $blog-font-family;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.5rem; /* 125% */
    }

    &__subtitle {
      @extend .form-title-base;
      margin-bottom: 2rem;
    }

    &__form {
      input[type="text"],
      input[type="email"] {
        @extend .input-base;
      }

      button[type="submit"] {
        @extend .form-button-base;
      }
    }

  }
}
