{{ define "main" }}
<article class="documentation__article col-12 col-md-9 col-lg-10 pb-5">

    {{ if eq .Page .FirstSection }} <!-- if this is the section root -->
    <img src="/images/dev-heroimage.png" alt="Qdrant developer portal" />
    <!--  example two - card buttons on blue background -->
    <div class="mt-5 pt-4 pb-5" style="background:var(--brand-light);">
        <h1 class="mb-4 text-center">Qdrant Developer Portal</h1>
        <div class="d-flex justify-content-center">
            <div class="developer__card-btn mr-0 mr-md-4 mb-4 mb-md-0">
                {{- partial "card-action-button.html" (dict "context" . "name" "Quick Start" "link"
                "/documentation/quick-start/" "iconClasses" "fa fa-memory") -}}
            </div>
            <div class="developer__card-btn mr-0 mr-md-4 mb-4 mb-md-0">
                {{- partial "card-action-button.html" (dict "context" . "name" "Tutorials" "link"
                "/developer/tutorials" "iconClasses" "fa fa-microchip") -}}
            </div>
            <div class="developer__card-btn mr-0 mr-md-4 mb-md-0">
                {{- partial "card-action-button.html" (dict "context" . "name" "Sign up for Cloud" "link"
                "https://cloud.qdrant.io/" "iconClasses" "flaticon-job-search") -}}
            </div>
        </div>
    </div>

    <!-- divider-->
    <div class="divider mt-5 mb-5"></div>

    <h2>Articles</h2>
   <div class="row">
       <div class="col-12 pb-5">
           {{ with (.Site.GetPage "section" "developer/articles") }}
           <div class="row clearfix pt-4">
               {{ range first 3 .Pages }}
               <div class="d-flex col-sm-12 col-md-6 col-lg-4">
                   {{ partial "article-card" (dict "context" . "classes" "article-card_border article-card_contrast article-card_content-style article-card_small-btn") }}
               </div>
               {{ end }}
           </div>
           {{ end }}
       </div>
   </div>

    <h2>Case Studies</h2>
    <div class="row">
        <div class="col-12 pb-5">
            {{ with (.Site.GetPage "section" "developer/case-studies") }}
            <div class="row clearfix pt-4">
                {{ range first 3 .Pages }}
                <div class="d-flex col-sm-12 col-md-6">
                    {{ partial "article-card" (dict "context" . "classes" "article-card_border article-card_contrast article-card_content-style article-card_small-btn") }}
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>

    {{ end }}
</article>
{{ end }}
