{{- partial "head.html" . -}}


<main>
  <header class="main-header">
    {{ partial "top-banner" . }}
    {{ partial "menu" . }}
    {{ partial "menu-mobile" . }}
    {{ partial "qdrant-vector-database-hero" . }}
    {{ end }}
  </header>
</main>

{{ with (.Site.GetPage "qdrant-vector-database-use-cases") }}{{ partial "qdrant-vector-database-use-cases" . }}{{ end }}
{{ with (.Site.GetPage "feature-overview") }}{{ partial "feature-overview" . }}{{ end }}
{{ with (.Site.GetPage "get-started-small") }}{{ partial "get-started-small" . }}{{ end }}
{{ with (.Site.GetPage "additional-resources") }}{{ partial "additional-resources" . }}{{ end }}
{{ with (.Site.GetPage "get-started") }}{{ partial "get-started" . }}{{ end }}
{{ with (.Site.GetPage "footer") }}{{ partial "footer" . }}{{ end }}
