name: External Links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "00 18 * * 0"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"      
      - name: Install npm
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Run hugo
        run: bash -x ./install-and-build.sh
      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          args: 'qdrant-landing/public'
          fail: false
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Create Issue From File
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
